/* css for analyzer */
@import "colors";
@import "icons";

.wpseoanalysis {
	padding-right: 0px;
}
.wpseo-score-text {
	display: inline-block;
	width: 86%;
}
.wpseo-score-icon {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 3px 10px 0 3px;
	border-radius: 50%;
	background: #888;
	vertical-align: top;
}

.wpseo-score-icon.good {
	background-color: $color_good;
}

.wpseo-score-icon.ok {
	background-color: $color_ok;
}

.wpseo-score-icon.bad {
	background-color: $color_bad;
}

.wpseo-score-icon.na {
	background-color: #999;
}

.wpseo-score-icon.noindex {
	background-color: #1e8cbe;
}

li.score {
	list-style-type: none !important;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

/* overall score */

#overallScore #score_circle {
	fill: #999;
}

#overallScore #score_circle_shadow {
	fill: #777;
}

#overallScore.good #score_circle {
	fill: #9fda4f;
}

#overallScore.good #score_circle_shadow {
	fill: #77b227;
}

#overallScore.ok #score_circle {
	fill: #ffb81e;
}

#overallScore.ok #score_circle_shadow {
	fill: #f49a00;
}

#overallScore.bad #score_circle {
	fill: #ff4e47;
}

#overallScore.bad #score_circle_shadow {
	fill: #ed261f;
}

.assessment-results {
	padding-top: 16px;

	&__mark {
		&.icon-eye {
			&-inactive, &-active {
				border: 0;
				width: 28px;
				height: 28px;
				padding: 4px;
				border-radius: 100%;
				outline: none;
				background: no-repeat center;
				background-size: 16px;
				cursor: pointer;
				vertical-align: top;
			}

			&-inactive {
				background-image: url(svg-icon-eye($color_marker_inactive));
			}

			&-active {
				background-image: url(svg-icon-eye($color_marker_active));
				background-color: #a4286a;
			}
		}

		&:focus {
			border-radius: 100%;
			box-shadow: 0 0 0 1px #5b9dd9,
			0 0 2px 1px rgba(30, 140, 190, 0.8);
		}
	}

	&__remove-marks {
		border: 0;
		width: 28px;
		height: 28px;
		padding: 4px;
		border-radius: 100%;
		outline: none;
		background: url(svg-icon-eye-slash($color_marker_inactive)) no-repeat center;
		background-size: 16px;
		cursor: pointer;
		margin-top: -16px;

		float: right;

		&:focus {
			box-shadow: 0 0 0 1px #5b9dd9,
			0 0 2px 1px rgba(30, 140, 190, 0.8);
		}
	}
}
