$color_bad: #dc3232;
$color_ok: #ee7c1b;
$color_good: #7ad03a;

$color_caret: #555555;
$color_caret_hover: #bfbfbf;
$color_caret_focus: #1074a8;

$color_border: #f7f7f7;

$color_input_border: #bfbfbf;
$color_input_border_focus: #1074a8;

$color_progress_background: #f7f7f7;

$color_button: #f7f7f7;
$color_button_border: #dbdbdb;

$color_headings: #555555;
$color_buttons: #555555;

$color_marker_inactive: #555555;
$color_marker_active: #ffffff;
$color_marker_disabled: #e6e6e6;
