$palette_white:             #fff;
$palette_black:             #000;
$palette_grey_ultra_light:  #f7f7f7;
$palette_grey_light:        #f1f1f1;
$palette_grey:              #ddd;
$palette_grey_medium:       #ccc;
$palette_grey_disabled:     #a0a5aa;
$palette_grey_medium_dark:  #888;
$palette_grey_text:         #646464;
$palette_grey_dark:         #555;

$palette_grey_rgba15:       rgba(0, 0, 0, 0.15);
$palette_grey_rgba20:       rgba(0, 0, 0, 0.2);
$palette_grey_rgba80:       rgba(0, 0, 0, 0.8);

$palette_purple: 	        #5d237a;
$palette_purple_dark:       #6c2548;
$palette_pink:              #d73763;
$palette_pink_light:        #e1bee7;
$palette_pink_dark:         #a4286a;
$palette_blue:              #0075b3;
$palette_blue_dark:         #084a67;
$palette_green:             #77b227;
$palette_green_light:       #7ad03a;
$palette_green_medium:      #008a00;
$palette_green_blue:        #009288;
$palette_orange:            #dc5c04;
$palette_orange_light:      #ee7c1b;
$palette_red:               #dc3232;

$color_bad:                 $palette_red;
$color_ok:                  $palette_orange_light;
$color_good:                $palette_green_light;
$color_score_icon:          $palette_grey_medium_dark;

$color_white:               $palette_white;
$color_black:               $palette_black;
$color_grey:                $palette_grey;
$color_grey_dark:           $palette_grey_dark;
$color_purple:              $palette_purple;
$color_purple_dark:         $palette_purple_dark;
$color_pink_light:          $palette_pink_light;
$color_pink_dark:           $palette_pink_dark;
$color_blue:                $palette_blue;
$color_red:                 $palette_red;

$color_caret:               $palette_grey_dark;
$color_caret_hover:         $palette_grey;
$color_caret_focus:         $palette_blue;

$color_border_light:        $palette_grey_ultra_light;
$color_border:              $palette_grey_medium;

$color_input_border:        $palette_grey;

$color_background_light:    $palette_grey_ultra_light;

$color_button:              $palette_grey_ultra_light;
$color_button_text:         $palette_grey_dark;
$color_button_border:       $palette_grey_medium;

$color_headings:            $palette_grey_dark;

$color_marker_inactive:     $palette_grey_dark;
$color_marker_active:       $palette_white;
$color_marker_disabled:     $palette_grey_disabled;

$color_error:               $palette_red;
$color_orange_hover:        darken( $palette_orange, 5% );
$color_grey_hover:          darken( $palette_grey, 6% );
$color_pink_hover:          darken( $palette_pink, 5% );

$color_grey_cta:            $palette_grey;
$color_grey_line:           $palette_grey;
$color_grey_quote:          $palette_grey_text;
$color_grey_text:           $palette_grey_text;
