@import "colors";
@import "mixins";
@import "icons";

$snippet_width: 600px;

@mixin svg-caret-before($color) {
	background-image: url(svg-icon-caret-right($color));

	position: absolute;
	content: '';
	top: -3px;
	left: -22px;

	display: block;
	width: 24px;
	height: 24px;
	background-size: 25px;
}

/* css for snippet */
#snippet_preview {
	border: 1px solid $color_border;
	border-radius: 20px;
	background-color: #fff;
	position: relative;
	width: $snippet_width + 40;
}

.snippet_container {
	@include clearfix;
}

.snippet-editor {
	&__container {
		position: relative;
		cursor: pointer;
	}

	&__heading {
		padding: 8px 20px;
		font-size: 0.9rem;
		margin: 0 -20px 15px;

		border-bottom: 1px solid $color_border;

		font-family: "Open Sans", sans-serif;
		font-weight: 300;
		color: $color_headings;

		&-editor {
			border-top: 1px solid $color_border;
		}

		&-icon-eye {
			background: url(svg-icon-eye($color_headings)) no-repeat 20px center;
			background-size: 16px;

			padding-left: 45px;
		}

		&-icon-edit {
			background: url(svg-icon-edit($color_headings)) no-repeat 20px center;
			background-size: 16px;

			padding-left: 45px;
		}
	}

	&__container {

		&:hover {
			&:before {
				@include svg-caret-before($color_caret_hover);
			}
		}

		&--focus {
			&:hover:before,
			&:before {
				@include svg-caret-before($color_caret);
			}
		}
	}

	&__preview {
		padding: 0 20px 15px;
	}

	&__button {
		background: $color_button;
		border: 1px solid $color_button_border;
		border-radius: 4px;
		color: $color_buttons;

		padding: 8px 10px;
		cursor: pointer;

		font-size: 0.8rem;
	}

	&__edit-button {
		background: $color_button url(svg-icon-edit($color_buttons)) no-repeat 8px center;
		background-size: 16px;
		padding-left: 32px;

		display: block;
		margin-top: 1em;
	}

	&__form {
		padding: 20px;
	}

	&__label {
		display: block;
		width: 100%;
		margin-top: 1em;
		position: relative;

		&:first-child {
			margin-top: 0;
		}

		&--hover {
			&:before {
				@include svg_caret-before($color_caret_hover);
				top: 20px;
			}
		}

		&--focus {
			&:before {
				@include svg_caret_before($color_caret_focus);
				top: 20px;
			}
		}
	}

	&__input {
		display: block;
		width: 100%;
		margin-top: 5px;
		border: 1px solid $color_input_border;

		max-width: 100%;
		box-sizing: border-box;

		&:focus {
			border: 1px solid $color_input_border_focus;
			outline: none;
		}
	}
}

.snippet-editor__meta-description {
	height: 70px;
}

.snippet-editor__submit {
	margin-top: 1em;
}

#snippet_cite {
	min-width: 20px;
}

#meta_container {
	clear: both;
	min-height: 20px;
}

.snippet_container .title {
	color: #1e0fbe;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	white-space: nowrap;
	width: $snippet_width;
	font-size: 18px;
	line-height: 1.2;
	font-weight: normal;
	margin: 0;
}

.snippet_container .url,
.snippet_container .desc {
	font-size: 13px;
	line-height: 1.4;
}

.snippet_container .url {
	display: block;
	font-size: 14px;
	line-height: 16px;
	color: #006621;
	font-style: normal;
}

.snippet_container .urlBase{
	float: left;
}

.snippet_container .desc-default {
	color: #333;
}

.snippet_container .desc-render {
	color: #777;
}

.snippet_container .tooLong {
	color: #f00 !important;
}

.snippet-editor__field--invalid {
	color: #f00;
}

.snippet-editor {
	&__progress {
		appearance: none;

		border: none;

		box-sizing: border-box;
		display: block;

		margin-top: 5px;
		height: 8px;
		width: 100%;

		&::-webkit-progress-bar {
			background-color: $color_progress_background;
			height: 8px;
			border: 1px solid $color_input_border;
		}

		&--fallback {
			background-color: $color_progress_background;
			height: 8px;
			border: 1px solid $color_input_border;
		}
	}

	&__progress-bar {
		width: 0;
		height: 100%;
		max-width: 100%;
	}

	&__date {
		color: #808080;
		font-size: 13px;
		line-height: 1.4;
	}

	&--hidden {
		display: none;
	}
}

@mixin progress-bar-color ($class, $color) {
	#{$class}[value] {
		color: $color;

		&::-webkit-progress-value {
			background-color: $color;
			transition: width 250ms;
		}

		&::-moz-progress-bar {
			background-color: $color;
		}

		.snippet-editor__progress-bar {
			background-color: $color;
		}
	}
}

@include progress-bar-color(".snippet-editor__progress--bad", $color_bad);
@include progress-bar-color(".snippet-editor__progress--ok", $color_ok);
@include progress-bar-color(".snippet-editor__progress--good", $color_good);

