$color_caret: #515050;
$color_caret_hover: #c0c0c0;
$color_caret_focus: #1a72a6;

$color_border: #eee;

$color_input_border: #c6c6c6;
$color_input_border_focus: #426f84;

$color_progress_background: #f9f9f9;

$color_progress_bad: #ef826b;
$color_progress_ok: #f2a869;
$color_progress_good: #c7d98d;

@mixin svg-caret-before($color) {
	background-image: url('data:image/svg+xml;utf8,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="#{$color}" d="M1152 896q0 26-19 45l-448 448q-19 19-45 19t-45-19-19-45v-896q0-26 19-45t45-19 45 19l448 448q19 19 19 45z"/></svg>');

	position: absolute;
	content: '';
	top: -3px;
	left: -22px;

	display: block;
	width: 24px;
	height: 24px;
	background-size: 25px;
}

/* css for snippet */
#snippet_preview {
	padding: 0 0 20px 0;
	border: 1px solid $color_border;
	border-radius: 20px;
	background-color: #fff;
	position: relative;
	width: 552px;
}

.snippet_container:after {
	content: ' ';
	display: table;
	clear: both;
}

.snippet-editor__container {
	position: relative;
}

#snippet_preview .snippet_container:hover {
	cursor: pointer;
}

.snippet-editor {
	&__container {

		&:hover {
			&:before {
				@include svg-caret-before($color_caret_hover);
			}
		}

		&--focus {
			&:hover:before,
			&:before {
				@include svg-caret-before($color_caret);
			}
		}
	}

	&__preview {
		padding: 20px 20px 0 20px;
	}
}

.snippet-editor__edit-button {
	left: 0;
	top: 0;

	padding: 0 20px;

	width: 100%;
	height: 30px;
	border-radius: 20px 20px 0 0;
	border: none;
	border-bottom: 1px solid $color_border;
	text-align: left;
	cursor: pointer;
	background: none;

	color: #0073aa;
}

.snippet-editor__edit-button--close {
	color: #585858;
}

.snippet-editor__edit-icon,
.snippet-editor__chevron-right-icon,
.snippet-editor__chevron-down-icon {
	fill: currentColor;
	width: 1.5em;
	height: 1em;
	position: relative;
	top: 2px;
}

.snippet-editor__edit-button--close .snippet-editor__chevron-right-icon {
	display: none;
}

.snippet-editor__edit-button .snippet-editor__chevron-down-icon {
	display: none;
}

.snippet-editor__edit-button--close .snippet-editor__chevron-down-icon {
	display: inline;
}

.snippet-editor__form {
	padding: 0 20px;
	display: none;
}

.snippet-editor__form--shown {
	display: block;
}

.snippet-editor {
	&__label {
		display: block;
		width: 100%;
		margin-top: 1em;
		position: relative;

		&--hover {
			&:before {
				@include svg_caret-before($color_caret_hover);
				top: 20px;
			}
		}

		&--focus {
			&:before {
				@include svg_caret_before($color_caret_focus);
				top: 20px;
			}
		}
	}

	&__input {
		display: block;
		width: 100%;
		margin-top: 5px;
		border: 1px solid $color_input_border;

		max-width: 100%;
		box-sizing: border-box;

		&:focus {
			border: 1px solid $color_input_border_focus;
			outline: none;
		}
	}
}

.snippet-editor__meta-description {
	height: 70px;
}

.snippet-editor__submit {
	margin-top: 1em;
}

#snippet_cite {
	min-width: 20px;
}

#meta_container {
	clear: both;
	min-height: 20px;
}

.snippet_container .title {
	color: #1e0fbe;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	white-space: nowrap;
	width: 512px;
	font-size: 18px;
	line-height: 1.2;
	font-weight: normal;
	margin: 0;
}

.snippet_container .url,
.snippet_container .desc {
	font-size: 13px;
	line-height: 1.4;
}

.snippet_container .url {
	display: block;
	font-size: 14px;
	line-height: 16px;
	color: #006621;
	font-style: normal;
}

.snippet_container .urlBase{
	float: left;
}

.snippet_container .desc-default {
	color: #333;
}

.snippet_container .desc-render {
	color: #777;
}

.snippet_container .tooLong {
	color: #f00 !important;
}

.snippet-editor__field--invalid {
	color: #f00;
}

.snippet-editor {
	&__progress {
		appearance: none;

		border: none;

		box-sizing: border-box;
		display: block;

		margin-top: 5px;
		height: 8px;
		width: 100%;

		&::-webkit-progress-bar {
			background-color: $color_progress_background;
			height: 8px;
			border: 1px solid $color_input_border;
		}

		&--fallback {
			background-color: $color_progress_background;
			height: 8px;
			border: 1px solid $color_input_border;
		}
	}

	&__progress-bar {
		width: 0;
		height: 100%;
		max-width: 100%;
	}

	&__date {
		color: #808080;
		font-size: 13px;
		line-height: 1.4;
	}
}

@mixin progress-bar-color ($class, $color) {
	#{$class}[value] {
		color: $color;

		&::-webkit-progress-value {
			background-color: $color;
			transition: width 250ms;
		}

		&::-moz-progress-bar {
			background-color: $color;
		}

		.snippet-editor__progress-bar {
			background-color: $color;
		}
	}
}

@include progress-bar-color(".snippet-editor__progress--bad", $color_progress_bad);
@include progress-bar-color(".snippet-editor__progress--ok", $color_progress_ok);
@include progress-bar-color(".snippet-editor__progress--good", $color_progress_good);
