#TB_window .wpseo_content_wrapper p {
	font-size: 14px;
	font-style: normal;
}

#TB_window .wpseo_content_wrapper label {
	margin: 0 10px 0 0;
	font-size: 14px;
	font-weight: bold;
}

.wpseo-premium-popup-title {
	margin: 1em 0;
	font-size: 1.3em;
}

/* Select2 specific fixes for WordPress */
.select2-search__field {
	margin: 0;
}

.select2-results__option,
.select2-selection__choice,
.select2-search--inline {
	margin-bottom: 0;
}

.select2-container .select2-search--inline .select2-search__field {
	margin-top: 6px !important;
	line-height: inherit;
}
