#TB_window .wpseo_content_wrapper p {
  font-size: 14px;
  font-style: normal; }

#TB_window .wpseo_content_wrapper label {
  margin: 0 10px 0 0;
  font-size: 14px;
  font-weight: bold; }

.wpseo-premium-popup-title {
  margin: 1em 0;
  font-size: 1.3em; }
