.yoast-alert {
	padding: 0 12px;
	border-left: 4px solid #fff;
	background: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.yoast-alerts .yoast-alert-holder {
	margin-bottom: 0.8em;
}

.yoast-alerts .yoast-alert {
	width: 100%;
}

.yoast-container__alert .yoast-alert {
	border-left-color: #dc3232;
}

#yoast-alerts-dismissed .yoast-alert {
	border-left-color: #d93f69;
}

.yoast-container__warning .yoast-alert {
	border-left-color: #5d237a;
}

#yoast-warnings-dismissed .yoast-alert {
	border-left-color: #0075b3;
}

.yoast-container {
	position: relative;
	max-width: 1280px;
	margin-bottom: 2em;
	padding: 20px 20px 0;
	border: 1px solid #bbb;
	background-color: #f1f1f1;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.yoast-alerts > h2:first-child {
	margin-bottom: 1em;
}

.yoast-alerts .yoast-container h3 {
	margin: -20px -20px 0;
	padding: 1em;
	border-bottom: 1px solid #ccc;
	background-color: #dfdfdf;
	text-shadow: 1px 1px 0 #eee;
	font-size: 1.6em;
}

h3 .dashicons-warning {
	color: #dc3232;
}

.yoast-container .container {
	max-width: 980px;
}

.yoast-container .yoast-alert-holder {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.restore .dashicons,
.dismiss .dashicons {
	width: 24px;
	height: 24px;
	font-size: 24px;
}

.yoast-bottom-spacing {
	margin-bottom: 20px;
}

/* These selectors need a higher specificity than .wp-core-ui .button */
.yoast-alerts .button.restore,
.yoast-alerts .button.dismiss {
	width: 40px;
	height: 40px;
	line-height: inherit;

	-webkit-flex: 0 0 40px;
	-ms-flex: 0 0 40px;
	flex: 0 0 40px;
}

.yoast-alerts .button.restore:hover,
.yoast-alerts .button.dismiss:hover,
.yoast-alerts .button.restore:focus,
.yoast-alerts .button.dismiss:focus {
	background: transparent;
}

.yoast-container .separator {
	margin-top: 1em;
	margin-bottom: 1em;
	border-top: 1px solid #ddd;
}

.yoast-container .dashicons-yes {
	color: #77b227;
}

.yoast-container__warning .dashicons-flag {
	color: #5d237a;
}

.yoast-container-disabled {
	display: table-cell;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 4px;
	background-color: rgba(232, 232, 232, 0.7);
}

.yoast-no-issues {
	padding: 1em 1em 1em 16px;
	color: #666;
}
