/* css for snippet */
#snippet_preview {
    padding: 0 0 20px 0;
    border: 1px solid #eee;
    border-radius: 20px;
    background-color: #fff;
    position: relative;

    margin-top: 50px;
}

.snippet-editor__preview {
    padding: 20px 20px 0 20px;
}

.snippet-editor__edit-button {
    left: 0;
    top: 0;

    padding: 0 20px;

    width: 100%;
    height: 30px;
    border-radius: 20px 20px 0 0;
    border: none;
    border-bottom: 1px solid #eee;
    text-align: left;
    cursor: pointer;
    background: none;

    color: blue;
}

.snippet-editor__edit-button--close {
    color: gray;
}

.snippet-editor__edit-button::before {
    background: url( images/pencil.svg ) left no-repeat;
}

.snippet-editor__edit-icon,
.snippet-editor__chevron-right-icon,
.snippet-editor__chevron-down-icon {
    fill: currentColor;
    width: auto;
    height: 1em;
    position: relative;
    top: 2px;
}

.snippet-editor__edit-button--close .snippet-editor__chevron-right-icon {
    display: none;
}

.snippet-editor__edit-button .snippet-editor__chevron-down-icon {
    display: none;
}

.snippet-editor__edit-button--close .snippet-editor__chevron-down-icon {
    display: inline;
}

.snippet-editor__form-field {
    display: none;
}

.snippet-editor__form-field--shown {
    display: block;
}

.snippet-editor__form {
    padding: 0 20px;
    display: none;
}

.snippet-editor__form--shown {
    display: block;
}

.snippet-editor__label {
    display: block;
    width: 100%;
    margin-top: 1em;
}

.snippet-editor__input {
    display: block;
    width: 100%;
    margin-top: 5px;
}

.snippet-editor__meta-description {
    height: 140px;
}

.snippet-editor__submit {
    margin-top: 1em;
}

#snippet_cite {
    min-width: 20px;
}

#meta_container {
    clear: both;
}

.snippet_container .title {
    color: #1e0fbe;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    width: 512px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    margin: 0;
}

.snippet_container .url, .desc {
    font-size: 13px;
    line-height: 1.4;
    display: block;

}

.snippet_container .url {
    font-size: 14px;
    line-height: 16px;
    color: #006621;
    font-style: normal;
}

.snippet_container .urlBase{
    float: left;
}

.snippet_container .desc-default {
    color: #333;
}

.snippet_container .desc-render {
    color: #777;
}

.snippet_container .tooLong {
    color: #f00 !important;
}

/* css for analyzer */

.wpseoanalysis {
    padding-right: 0px;
}
.wpseo-score-text {
    display: inline-block;
    width: 90%;
}
.wpseo-score-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 3px 10px 0 3px;
    border-radius: 50%;
    background: #888;
    vertical-align: top;
}

.wpseo-score-icon.good {
    background-color: #7ad03a;
}

.wpseo-score-icon.ok {
    background-color: #ee7c1b;
}

.wpseo-score-icon.bad {
    background-color: #dd3d36;
}

.wpseo-score-icon.na {
    background-color: #999;
}

.wpseo-score-icon.noindex {
    background-color: #1e8cbe;
}

li.score {
    list-style-type: none !important;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* overall score */

#overallScore #score_circle {
    fill: #999;
}

#overallScore #score_circle_shadow {
    fill: #777;
}

#overallScore.good #score_circle {
    fill: #9fda4f;
}

#overallScore.good #score_circle_shadow {
    fill: #77b227;
}

#overallScore.ok #score_circle {
    fill: #ffb81e;
}

#overallScore.ok #score_circle_shadow {
    fill: #f49a00;
}

#overallScore.bad #score_circle {
    fill: #ff4e47;
}

#overallScore.bad #score_circle_shadow {
    fill: #ed261f;
}


/* loading dialog */

.YoastSEO_msg .right,
.YoastSEO_msg .left{
    display: none;
}

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

.YoastSEO_msg .bufferbar {
    display: block;
    width: 100%;
    height: 12px;
    /*multiple background definitions for the sake of browsercompatibility*/

    background-image: -webkit-linear-gradient(left, #ffffff, #0063ff, #ffffff,#0063ff);
    background-image: -moz-linear-gradient(left, #ffffff, #0063ff, #ffffff,#0063ff);
    background-image: -ms-linear-gradient(left, #ffffff, #0063ff, #ffffff,#0063ff);
    background-image: -o-linear-gradient(left, #ffffff, #0063ff, #ffffff,#0063ff);
    background-size: 300% 100%;
    background-position: 0px 0px;
    margin: 10px 0 10px 0;
    border: 1px solid #dfdfdf;
    animation: animatedBackground 5s linear infinite;
}

