@import "../node_modules/sassdash/index";
@import "snippet-editor";
@import "colors";

/* css for analyzer */

.wpseoanalysis {
    padding-right: 0px;
}
.wpseo-score-text {
    display: inline-block;
    width: 90%;
}
.wpseo-score-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 3px 10px 0 3px;
    border-radius: 50%;
    background: #888;
    vertical-align: top;
}

.wpseo-score-icon.good {
    background-color: $color_good;
}

.wpseo-score-icon.ok {
    background-color: $color_ok;
}

.wpseo-score-icon.bad {
    background-color: $color_bad;
}

.wpseo-score-icon.na {
    background-color: #999;
}

.wpseo-score-icon.noindex {
    background-color: #1e8cbe;
}

li.score {
    list-style-type: none !important;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* overall score */

#overallScore #score_circle {
    fill: #999;
}

#overallScore #score_circle_shadow {
    fill: #777;
}

#overallScore.good #score_circle {
    fill: #9fda4f;
}

#overallScore.good #score_circle_shadow {
    fill: #77b227;
}

#overallScore.ok #score_circle {
    fill: #ffb81e;
}

#overallScore.ok #score_circle_shadow {
    fill: #f49a00;
}

#overallScore.bad #score_circle {
    fill: #ff4e47;
}

#overallScore.bad #score_circle_shadow {
    fill: #ed261f;
}


/* loading dialog */

.YoastSEO_msg .right,
.YoastSEO_msg .left{
    display: none;
}

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

.YoastSEO_msg .bufferbar {
    display: block;
    width: 100%;
    height: 12px;
    /*multiple background definitions for the sake of browsercompatibility*/

    background-image: linear-gradient(to left, #ffffff, #0063ff, #ffffff,#0063ff );
    background-size: 300% 100%;
    background-position: 0px 0px;
    margin: 10px 0 10px 0;
    border: 1px solid #dfdfdf;
    animation: animatedBackground 5s linear infinite;
}

