.editable-preview {
	background: #fff;

	*,
	*:before,
	*:after {
		box-sizing:         border-box;
	}

	&__heading {
		margin: 0 0 15px;
	}

	&__inner {
		padding: 20px;
	}

	&__container {
		&--no-caret {
			&,
			&:hover {
				&:before {
					content: none;
				}
			}
		}
	}

	&__value {
		overflow: hidden;
	}
}
