.wpseo-kb-search-search-bar {
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}

.wpseo-kb-search-results {
	overflow: auto;
}

.wpseo-kb-search-no-results {
	margin-top: 10px;
}

.wpseo-kb-search-result {
	display: block;
	margin: 0;
	padding-left: 5px;
	border-bottom: 1px solid #efefef;
	color: #000;
	text-decoration: none;
}

.wpseo-kb-search-result-link {
	display: block;
	cursor: pointer;
}

.wpseo-kb-search-result-link:hover,
.wpseo-kb-search-result-link:focus {
	background-color: rgba(164, 40, 106, 0.1);
}

.wpseo-kb-search-result-title {
	margin: 0 !important;
	padding-top: 15px;
}

.wpseo-kb-search-ext-link {
	float: right;
}

.wpseo-kb-loader:before,
.wpseo-kb-loader:after,
.wpseo-kb-loader {
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
	animation: load7 1.8s infinite ease-in-out;

	animation-fill-mode: both;
}

.wpseo-kb-loader {
	position: relative;
	margin: 0 auto;
	color: #a4286a;
	font-size: 10px;
	text-indent: -9999em;
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	animation-delay: -0.16s;
}

.wpseo-kb-loader:before {
	left: -3.5em;
	animation-delay: -0.32s;
}

.wpseo-kb-loader:after {
	left: 3.5em;
}

.wpseo-kb-loader:before,
.wpseo-kb-loader:after {
	position: absolute;
	top: 0;
	content: "";
}

.dashicons {
	text-decoration: none;
}

@keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}

	40% {
		box-shadow: 0 2.5em 0 0;
	}
}
