.wpseo-kb-search-result {
	display: block;
	padding-left: 5px;
	border-bottom: 1px solid #ccc;
	color: #000;
	text-decoration: none;
}

.wpseo-kb-search-result:hover {
	padding-left: 0;
	border-left: 5px solid #a4286a;
}

.wpseo-kb-search-result-link {
	cursor: pointer;
}

.kb-search-detail-btn {
	line-height: normal !important;
}

.kb-external {
	float: right;
}

.kb-search-results {
	overflow: scroll;
	max-height: 400px;
}

.spinner {
	width: 70px;
	margin: 100px auto 0;
	text-align: center;
}

.spinner > div {
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 100%;
	background-color: #333;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		transform: scale(0);
	}

	40% {
		transform: scale(1);
	}
}
