.wpseo-kb-search-search-bar {
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}

.wpseo-kb-search-search-bar input[type="text"] {
	min-width: 50%;
	height: 28px;
	margin-right: 3px;
}

.wpseo-kb-search-results {
	overflow: auto;
	height: 500px;
}

.wpseo-kb-search-no-results {
	margin-top: 10px;
}

.wpseo-kb-search-result {
	display: block;
	margin: 0;
	padding-left: 5px;
	border-bottom: 1px solid #efefef;
	color: #000;
	text-decoration: none;
}

.wpseo-kb-search-result-link {
	display: block;
	text-decoration: none;
	cursor: pointer;
}

.wpseo-kb-search-result-link:hover,
.wpseo-kb-search-result-link:focus {
	background-color: rgba(93, 12, 55, 0.5);
	text-decoration: underline;
}

.wpseo-kb-search-result .wpseo-kb-search-result-title {
	margin: 0;
	padding-top: 15px;
}

.wpseo-kb-search-ext-link {
	float: right;
}

.wpseo-kb-search-back-button:before {
	content: "\f141";
}

.wpseo-kb-search-ext-link:before {
	content: "\f504";
}

.dashicon-button:before {
	font-family: "dashicons";
	font-size: 20px;
	line-height: 1.35em;
	vertical-align: middle;
}

.wpseo-kb-search-navigation {
	z-index: 10;
	padding: 1em 0;
}

.kb-search-content-frame {
	width: 100%;
	height: 543px;
}

.kb-search-content-frame {
	background: url("data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"100%\" height=\"100%\" viewBox=\"0 0 100% 100%\"><text fill=\"%23ffffff\" x=\"50%\" y=\"50%\" font-family=\"'Lucida Grande', sans-serif\" font-size=\"24\" text-anchor=\"middle\">Loading article...</text></svg>") 0 0 no-repeat;
}

.wpseo-kb-loader:before,
.wpseo-kb-loader:after,
.wpseo-kb-loader {
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
	animation: load7 1.8s infinite ease-in-out;

	animation-fill-mode: both;
}

.wpseo-kb-loader {
	position: relative;
	margin: 80px auto;
	color: #a4286a;
	font-size: 10px;
	text-indent: -9999em;
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	animation-delay: -0.16s;
}

.wpseo-kb-loader:before {
	left: -3.5em;
	animation-delay: -0.32s;
}

.wpseo-kb-loader:after {
	left: 3.5em;
}

.wpseo-kb-loader:before,
.wpseo-kb-loader:after {
	position: absolute;
	top: 0;
	content: "";
}

.dashicons {
	text-decoration: none;
}

@keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}

	40% {
		box-shadow: 0 2.5em 0 0;
	}
}
