/**
 * Lines below came from metabox-tabs.css
 *
 * Metabox Tabs
 */

ul.wpseo-metabox-tabs {
	display: none;
	margin-top: 12px;
	margin-bottom: 3px;
}

.wpseo-metabox-tabs-div ul {
	list-style: none;
}

ul.wpseo-metabox-tabs li.active {
	background-color: #fdfdfd;
}

.wpseo-meta-section {
	display: none;
	width: 90%;
}

.wpseo-meta-section.active {
	display: inline-block;
}

.wpseo-metabox-sidebar {
	display: inline-block;
	width: 40px;
	padding: 5px;
	background-color: #fff;
	vertical-align: top;
}

.wpseo-metabox-sidebar li span {
	margin-left: -5px;
	padding-left: 5px;
	border-width: 0 0 0 3px;
	border-style: solid;
	border-color: transparent;
	border-radius: 3px;
}

.wpseo-metabox-sidebar li.active span {
	border-color: #333;
	color: #333;
}

.wpseo-metabox-sidebar a {
	text-decoration: none;
}

ul.wpseo-metabox-tabs li {
	display: inline;
	margin-right: 5px;
	padding: 5px;
	border-width: 1px 1px 0;
	border-style: solid solid none;
	border-color: #dfdfdf;
}

.wpseotab.active {
	display: block;
	overflow: auto;
	padding: 0.5em 0.9em;
	border: 1px solid #ddd;
	background-color: #fdfdfd;
}

.wpseo-metabox-tabs a {
	text-decoration: none;
}

.wpseo-metabox-tabs a .dashicons {
	width: 16px;
	height: 16px;
	font-size: 16px;
}

.wpseo-metabox-sidebar .dashicons {
	width: 30px;
	height: 30px;
	font-size: 30px;
}

.wpseo-metabox-sidebar a {
	font-size: 30px;
}

.wpseo-metabox-sidebar li {
	padding: 5px;
}

.wpseo-metabox-tabs-div div.wpseo-tabs-panel {
	overflow: auto;
	padding: 0.5em 0.9em;
	border: 1px solid;
}

.wpseo-heading {
	padding-left: 10px;
}

.wpseotab {
	display: none;
}

#wpseo_meta .postbox .inside .wpseotab {
	font-size: 13px !important;
}

.inside .wpseotab .form-table th {
	width: 140px !important;
	font-size: 13px;
}

.good,
.warn,
.wrong {
	font-weight: bold;
}

.good {
	color: green;
}

.warn {
	color: maroon;
}

.wrong {
	color: red;
}

#current_seo_title span {
	padding: 2px 5px;
	background-color: lightyellow;
}

#focuskwresults ul {
	margin: 0;
}

#focuskwresults p,
#focuskwresults li {
	font-size: 13px;
}

#focuskwresults li {
	margin: 0 0 0 20px;
	list-style-type: disc;
}

.wpseo_hidden {
	display: none;
}

/* Linkdex analysis block */

table.wpseoanalysis th {
	padding: 15px 0 5px 0;
	font-size: 14px;
	text-align: left;
}

table.wpseoanalysis th.first {
	padding-top: 0;
}

table.wpseoanalysis td {
	margin: 5px 0;
	font-size: 13px;
	line-height: 16px;
}

table.wpseoanalysis td.score {
	width: 20px;
	height: 18px;
	padding-left: 10px;
}

.wpseo_msg {
	margin: 5px 0 10px 0;
	padding: 0 5px;
	border: 1px solid #e6db55;
	background-color: lightYellow;
}

/*
 * jQuery UI CSS Framework 1.8.12
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */


/* Component containers
----------------------------------*/

#wpseotab .ui-widget-content {
	border: 1px solid #ddd;
	color: #333;
	background: #f1f1f1;
}

#wpseotab .ui-widget-content a {
	color: #333;
}

/*
 * jQuery UI Autocomplete 1.8.12
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
#wpseotab .ui-autocomplete {
	position: absolute;
	cursor: default;
}

/* workarounds */
* html #wpseotab .ui-autocomplete {
	width: 1px;
}

/* without this, the menu expands to 100% in IE6 */

/*
 * jQuery UI Menu 1.8.12
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
	display: block;
	float: left;
	margin: 0;
	padding: 2px;
	list-style: none;
}

.ui-menu .ui-menu {
	margin-top: -3px;
}

.ui-menu .ui-menu-item {
	float: left;
	clear: left;
	zoom: 1;
	width: 100%;
	margin: 0;
	padding: 0;
}

.ui-menu .ui-menu-item a {
	display: block;
	zoom: 1;
	padding: 0.2em 0.4em;
	line-height: 1.5;
	text-decoration: none;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	margin: -1px;
	color: #000;
}

.wpseo-score-icon {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 3px 10px 0 3px;
	border-radius: 50%;
	background: #888;
	vertical-align: top;
}

.wpseo-score-icon.good {
	background-color: #7ad03a;
}

.wpseo-score-icon.ok {
	background-color: #ffba00;
}

.wpseo-score-icon.poor {
	background-color: #ee7c1b;
}

.wpseo-score-icon.bad {
	background-color: #dd3d36;
}

.wpseo-score-icon.na {
	background-color: #888;
}

.wpseo-score-icon.noindex {
	background-color: #1e8cbe;
}

.wpseo-score-title {
	font-weight: 600;
}

img.yoast_help {
	cursor: pointer;
}

.yoast-qtip {
	font-size: 14px !important;
	line-height: 18px !important;
}

.wpseo_content_wrapper p.search-box {
	margin: 10px 0 5px 0;
}

.wpseo-metabox-tabs .active a {
	color: #333;
}

#wpseotab .ui-widget-content .ui-state-hover {
	border: 1px solid #dfdfdf;
	color: #333;
	background: #f1f1f1;
}

/**
 * Lines below came from taxonomy-meta.css
 */
.wpseo-taxonomy-form tr,
.wpseo-taxonomy-form th,
.wpseo-taxonomy-form td {
	vertical-align: top;
}

.inside .wpseotab .form-table.wpseo-taxonomy-form th {
	width: 200px !important;
}
