/**
 * Lines below came from metabox-tabs.css
 *
 * Metabox Tabs
 */

ul.wpseo-metabox-tabs {
	display: none;
	margin-top: 6px;
	margin-bottom: 0;
}

.wpseo-metabox-tabs-div ul {
	list-style: none;
}

ul.wpseo-metabox-tabs li.active {
	background-color: #fdfdfd;
}

.wpseo-meta-section {
	display: none;
	width: 90%;
}

.wpseo-meta-section.active {
	display: inline-block;
}

.wpseo-metabox-sidebar {
	display: inline-block;
	width: 40px;
	padding: 0 5px 5px;
	background-color: #fff;
	vertical-align: top;
}

.wpseo-metabox-sidebar li span {
	margin: 3px 0 0 -5px;
	padding: 0 2px 0 5px;
	border-width: 0 0 0 3px;
	border-style: solid;
	border-color: transparent;
	border-radius: 3px;
}

.wpseo-metabox-sidebar li.active span {
	border-color: #333;
	color: #333;
}

ul.wpseo-metabox-tabs li {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: -1px;
	padding: 0;
	border-width: 1px 1px 0;
	border-style: solid solid none;
	border-color: #dfdfdf;
}

.wpseotab.active {
	display: block;
	overflow: auto;
	padding: 0.5em 0.9em;
	border: 1px solid #ddd;
	background-color: #fdfdfd;
}

.wpseo-metabox-tabs a {
	display: block;
	padding: 5px 12px;
	text-decoration: none;
}

#wpseo-meta-section-social .wpseo-metabox-tabs a {
	padding: 5px 7px;
}

.wpseo-metabox-tabs a .dashicons {
	width: 16px;
	height: 16px;
	font-size: 16px;
}

.wpseo-metabox-sidebar .dashicons {
	width: 30px;
	height: 30px;
	font-size: 30px;
}

.wpseo-metabox-sidebar a {
	display: inline-block;
	width: 35px;
	height: 35px;
	font-size: 20px;
	line-height: 30px;
	text-decoration: none;
}

.wpseo-metabox-sidebar ul {
	margin: 0;
}

.wpseo-metabox-sidebar li {
	margin-bottom: 0;
	padding: 5px;
}

.wpseo-metabox-tabs-div div.wpseo-tabs-panel {
	overflow: auto;
	padding: 0.5em 0.9em;
	border: 1px solid;
}

.wpseo-heading {
	padding-left: 10px;
}

.wpseotab {
	display: none;
}

#wpseo_meta .postbox .inside .wpseotab {
	font-size: 13px !important;
}

.inside .wpseotab .form-table th {
	width: 140px !important;
	font-size: 13px;
}

.inside .wpseotab .form-table td {
	padding-top: 20px;
}

.inside .wpseotab .form-table td input,
.inside .wpseotab .form-table td select {
	margin-top: -5px;
}

.inside .wpseotab .form-table td select[multiple] {
	margin-top: 0;
}

.wpseotab .wpseo_image_upload_button {
	margin-left: 3px;
}

.wpseotab .wpseoanalysis {
	margin-top: 0;
}

.good,
.warn,
.wrong {
	font-weight: bold;
}

.good {
	color: green;
}

.warn {
	color: maroon;
}

.wrong {
	color: red;
}

#current_seo_title span {
	padding: 2px 5px;
	background-color: lightyellow;
}

#focuskwresults ul {
	margin: 0;
}

#focuskwresults p,
#focuskwresults li {
	font-size: 13px;
}

#focuskwresults li {
	margin: 0 0 0 20px;
	list-style-type: disc;
}

.wpseo_hidden {
	display: none;
}

/* Linkdex analysis block */

table.wpseoanalysis th {
	padding: 15px 0 5px 0;
	font-size: 14px;
	text-align: left;
}

table.wpseoanalysis th.first {
	padding-top: 0;
}

table.wpseoanalysis td {
	margin: 5px 0;
	font-size: 13px;
	line-height: 16px;
}

table.wpseoanalysis td.score {
	width: 20px;
	height: 18px;
	padding-left: 10px;
}

.wpseo_msg {
	margin: 5px 0 10px 0;
	padding: 0 5px;
	border: 1px solid #e6db55;
	background-color: lightYellow;
}

ul.wpseo-metabox-tabs li.wpseo-tab-add-keyword {
	margin-left: -3px;
	padding: 0;
	border: none;
	vertical-align: top;
}

.wpseo-tab-add-keyword .wpseo-add-keyword.button {
	height: auto;
	margin-top: 1px;
	padding: 3px 6px;
	color: #000;
	background: transparent;
	font-size: 14px;
	line-height: 1;
	vertical-align: top;
	text-decoration: none;
	cursor: pointer;
}

/**
 * Edit Snippet Button focus style.
 *
 * This should be abstracted and applied to all buttons.
 * Or, maybe, take advantage of the `.button` CSS class in WordPress.
 */
.snippet-editor__button.snippet-editor__edit-button:focus {
	border-color: #5b9dd9;
	outline: none;
	color: #23282d;
	background-color: #fafafa;
	box-shadow: 0 0 3px rgba( 0, 115, 170, 0.8 );
}

/*
 * jQuery UI CSS Framework 1.8.12
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */


/* Component containers
----------------------------------*/

#wpseotab .ui-widget-content {
	border: 1px solid #ddd;
	color: #333;
	background: #f1f1f1;
}

#wpseotab .ui-widget-content a {
	color: #333;
}

/*
 * jQuery UI Autocomplete 1.8.12
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
#wpseotab .ui-autocomplete {
	position: absolute;
	cursor: default;
}

/* workarounds */
* html #wpseotab .ui-autocomplete {
	width: 1px;
}

/* without this, the menu expands to 100% in IE6 */

/*
 * jQuery UI Menu 1.8.12
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
	display: block;
	float: left;
	margin: 0;
	padding: 2px;
	list-style: none;
}

.ui-menu .ui-menu {
	margin-top: -3px;
}

.ui-menu .ui-menu-item {
	float: left;
	clear: left;
	zoom: 1;
	width: 100%;
	margin: 0;
	padding: 0;
}

.ui-menu .ui-menu-item a {
	display: block;
	zoom: 1;
	padding: 0.2em 0.4em;
	line-height: 1.5;
	text-decoration: none;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	margin: -1px;
	color: #000;
}

.yoast_help.yoast-help-button {
	position: relative;
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	color: #72777c;
	background: transparent;
	box-shadow: none;
	vertical-align: top;
	overflow: visible; /* IE 11 */
	cursor: pointer;
}

.wpseotab .yoast_help.yoast-help-button {
	float: right;
	margin-top: -6px;
}

.wpseo-admin-page .yoast_help.yoast-help-button {
	margin-right: 6px;
}

.yoast_help.yoast-help-button:before {
	position: absolute;
	top: 0;
	left: 0;
	padding: 4px;
	content: "\f223";
}

.yoast_help.yoast-help-button:hover,
.yoast_help.yoast-help-button:focus {
	color: #0073aa;
}

.yoast_help.yoast-help-button:focus:before {
	border-radius: 100%;
	box-shadow: 0 0 0 1px #5b9dd9,
	0 0 2px 1px rgba(30, 140, 190, 0.8);
}

.yoast-help-panel {
	display: none;
	max-width: 30em !important;
	margin: -2px 0 2em !important;
	padding: 0;
	font-weight: normal;
	white-space: normal;
}

.wpseo-admin-page .subsubsub li {
	display: inline;
	max-width: none;
}

.yoast-seo-help-container {
	float: left;
	width: 100%;
	max-width: none;
}

.yoast-seo-help-container .yoast-help-panel {
	margin: 0.5em 0 !important;
}

.wpseo_content_wrapper p.search-box {
	margin: 10px 0 5px 0;
}

.wpseo-metabox-tabs .active a {
	color: #333;
}

#wpseotab .ui-widget-content .ui-state-hover {
	border: 1px solid #dfdfdf;
	color: #333;
	background: #f1f1f1;
}

/**
 * Lines below came from taxonomy-meta.css
 */
.wpseo-taxonomy-form tr,
.wpseo-taxonomy-form th,
.wpseo-taxonomy-form td {
	vertical-align: top;
}

.inside .wpseotab .form-table.wpseo-taxonomy-form th {
	width: 200px !important;
}

.yst-traffic-light-container {
	display: block;
	height: 30px;
}

.yst-traffic-light {
	width: 19px;
	height: 30px;
	margin: 0 0 0 5px;
}

.yst-traffic-light .traffic-light-color {
	display: none;
}

.yst-traffic-light.init .traffic-light-init {
	display: inline;
}

.yst-traffic-light.bad .traffic-light-red {
	display: inline;
}

.yst-traffic-light.ok .traffic-light-orange {
	display: inline;
}

.yst-traffic-light.good .traffic-light-green {
	display: inline;
}

.yst-traffic-light.na .traffic-light-empty {
	display: inline;
}

/**
 * Traffic light in publish box
 */
#wpseo-score {
	float: left;
	margin: 0 5px 0 -5px;
}

body.rtl #wpseo-score {
	float: right;
	margin: 0 -5px 0 5px;
}

body.edit-tags-php .postbox h3 {
	margin-left: 20px;
}
