#snippet_preview {
	width: 512px;
	padding: 20px;
	border: 1px solid #ddd;
	font-family: Arial, sans-serif;
}

.title {
	display: block;
	overflow: hidden;
	width: 512px;
	margin: 0;
	color: #1e0fbe;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.2;
	white-space: nowrap;
	text-decoration: none;
	text-overflow: ellipsis;
}

.title:visited {
	color: #609;
}

.title br {
	display: none;
}

.url,
.desc {
	display: block;
	font-size: 13px;
	line-height: 1.4;
}

.url {
	color: #006621;
	font-size: 14px;
	font-style: normal;
	line-height: 16px;
}

.url br {
	display: none;
}

.urlBase {
	float: left;
}

.desc {
	color: #545454;
}

desc br {
	display: none;
}

.tooLong {
	color: #f00;
}
