#snippet_preview {
	margin: 0 0 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
}

.form-table td .snippet-editor__label {
	font-size: 1rem;
	line-height: 1;
}

.form-table td textarea {
	margin-top: 5px;
}

.wp-core-ui .button.snippet-editor__submit {
	margin-top: 1em;
}

/* In the snippet editor reset the margin that throws of the layout */
.inside .wpseotab .form-table td input.snippet-editor__input {
	margin-top: 5px;
}
