.wpseosnippet {
	width: auto;
	max-width: 512px;
	margin: 0 0 10px;
	padding: 0 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
}

#snippet_preview:hover {
	background-color: #f5f5f5;
}

#snippet_preview *[contenteditable="true"]:hover {
	background: #bbdefb;
	cursor: pointer;
}

#snippet_preview *[contenteditable="false"]:hover {
	cursor: auto;
}

#snippet_preview *[contenteditable="true"]:focus {
	background-color: #bbdefb;
	cursor: text;
}

.snippet_container {
	clear: both;
	line-height: 16px;
	text-overflow: ellipsis;
}

.snippet_container span {
	width: auto;
	max-width: 95%;
}

#title_container {
	overflow: hidden;
}

#snippet_sitename {
	display: inline;
	width: auto;
	padding-left: 5px;
}

#snippet_cite {
	min-width: 20px;
}

.showIcon:hover {
	background: url("../images/editicon.png") no-repeat right top;
	cursor: pointer;
}

.title {
	display: inline;
	overflow: hidden;
	min-width: 20px;
	margin: 0;
	color: #1e0fbe;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.2;
	white-space: nowrap;
	text-decoration: none;
	text-overflow: ellipsis;
}

.title br {
	display: none;
}

.url {
	display: inline-block;
	color: #006621;
	font-size: 14px;
	font-style: normal;
	line-height: 16px;
}

.url br {
	display: none;
}

.urlBase {
	float: left;
}

.desc {
	display: block;
	color: #545454;
	font-size: 13px;
	line-height: 1.4;
}

desc br {
	display: none;
}

.tooLong {
	color: #f00 !important;
}

.editIcon {
	background: url("../images/editicon.png") no-repeat right top;
}
