
#snippet_preview:hover {
    background-color: #f5f5f5;
}

#snippet_preview *[contenteditable="true"]:hover {
    background: url("edit.png") #bbdefb no-repeat right center;

    cursor: pointer;
}

#snippet_preview *[contenteditable="true"]:focus {
    background-color: #bbdefb;
    cursor: text;
}

.title{
    color:#1e0fbe;
    display:block;
    overflow:hidden;
    text-overflow:ellipsis;
    text-decoration:none;
    white-space:nowrap;
    width:512px;
    font-size: 18px;
    line-height: 1.2;
    font-weight:normal;
    margin:0;
}
.title:visited{
    color:#609
}

.title br{
    display: none;
}

.url,.desc{
    font-size:13px;
    line-height: 1.4;
    display: block;

}
.url{
    font-size: 14px;
    line-height: 16px;
    color:#006621;
    font-style:normal;
}

.url br{
    display: none;
}

.urlBase{
    float: left;
}

.desc{
    color:#545454;
}

desc br{
    display: none;
}

.tooLong{
    color: #ff0000 !important;
}