@import "../node_modules/sassdash/index";
@import "../node_modules/yoastseo/css/snippet-editor";

.facebook-preview {
	width:            470px;
	box-shadow:       0 0 0 1.5px rgba(0, 0, 0, .1) inset, 0 1px 1px rgba(0, 0, 0, .05);
	background-color: #FFF;
	overflow:         hidden;

	font-family:      helvetica, arial, sans-serif;
	word-wrap:        break-word;
	font-size:        12px;
	color:            #141823;
	line-height:      1.34;

	&__image {
		width:      470px;
		max-height: 470px;

		img {
			max-height: 470px;
			max-width:  470px;
		}
	}

	&__text-keeper {
		margin:     10px 12px;
		height:     auto;
		max-height: 470px;
		font-size:  12px;
	}

	&__title {
		font-family:   Georgia, 'lucida grande', tahoma, verdana, arial, sans-serif;
		font-size:     18px;
		font-weight:   500;
		line-height:   22px;
		margin-bottom: 5px;
		max-height:    110px;

		a {
			text-decoration: none;
			color:           #141823;
			cursor:          pointer;
		}
	}

	&__description {
		line-height: 16px;
		max-height:  80px;
		font-size:   12px;
	}

	&__website {
		text-overflow:  ellipsis;
		white-space:    nowrap;
		font-size:      11px;
		line-height:    11px;
		padding-top:    9px;
		position:       relative;
		text-transform: uppercase;
		color:          #9197a3;
	}

}

.twitter-preview {
	width:            506px;
	background-color: #FFF;
	overflow:         hidden;

	font-family:      "Helvetica Neue",Helvetica,Arial,sans-serif;
	word-wrap:        break-word;
	font-size:        14px;
	color:            #292F33;
	line-height:      1.3em;
	border-radius: .42857em;
	border: 1px solid #E1E8ED;
	box-sizing: border-box;

	&__image {
		width:      506px;
		max-height: 506px;

		img {
			max-height: 506px;
			max-width:  506px;
		}
	}

	&__title {
		max-height: 1.3em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 1.2em;
		margin: 0 0 .15em;
		font-weight:bold;
	}

	&__description {
		max-height: 2.6em;
		text-transform: lowercase;
		margin-top: .32333em;

	}

	&__website {
		color: #8899A6;
		max-height: 1.3em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-top: .32333em;
	}

}
