@import "../node_modules/sassdash/index";
@import "../node_modules/yoastseo/css/snippet-editor";
@import "../node_modules/yoastseo/css/mixins";
@import "image_placeholder";
@import "editable-preview";

$width_facebook: 470px;
$width_twitter: 506px;
$padding_preview: 20px;

$width_facebook_image_small: 158px;
$height_facebook_image_small: 158px;

$border_radius_twitter: .42857em;

.social-preview__inner {
	&--facebook {
		box-shadow:       0 0 0 1.5px rgba(0, 0, 0, .1) inset, 0 1px 1px rgba(0, 0, 0, .05);

		&:hover {
			box-shadow: 0 0 0 1.5px rgba(0, 0, 0, .15) inset, 0 1px 1px rgba(0, 0, 0, .05);
		}

		&-small {
			@include clearfix;
		}
	}

	&--twitter {
		border-radius: $border_radius_twitter;
		border:  1px solid #E1E8ED;
	}
}

.editable-preview {

	&--facebook {
		width: $width_facebook + 2 * $padding_preview;
	}

	&--twitter {
		width: $width_twitter + 2 * $padding_preview;
	}

	&__inner {
		overflow:  hidden;
		word-wrap: break-word;

		&--facebook {
			width:       $width_facebook + 2 * $padding_preview;
			font-family: helvetica, arial, sans-serif;
			font-size:   12px;
			color:       #141823;
			line-height: 1.34;
		}

		&--twitter {
			width:       $width_twitter + 2 * $padding_preview;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size:   14px;
			color:       #292F33;
			line-height: 1.3em;
		}
	}

	&__container {
		&--facebook,
		&--twitter {
			&:hover,
			& {
				&:before {
					left: -34px
				}
			}
		}
	}

	&__text-keeper {
		padding: 10px 12px;
		height:  auto;

		&--facebook {
			max-height: 470px;
			font-size:  12px;

			&-small {
				float: left;
				width: calc( 100% - #{$width_facebook_image_small} );


				.snippet-editor__container {

					&:hover, &--hover, &--focus {
						&:before {
							right: -32px;
							left:  inherit;
						}
					}

					&:hover, &--hover {
						&:before {
							background-image: url(svg-icon-caret-left($color_caret_hover));
						}
					}

					&--focus {
						&:before {
							background-image: url(svg-icon-caret-left($color_caret));
						}
					}
				}

			}
		}
	}

	&__title {
		&--facebook {
			font-family:   Georgia, 'lucida grande', tahoma, verdana, arial, sans-serif;
			font-size:     18px;
			font-weight:   500;
			line-height:   22px;
			margin-bottom: 5px;
			max-height:    110px;

			a {
				text-decoration: none;
				color:           #141823;
				cursor:          pointer;
			}
		}

		&--twitter {
			max-height: 1.3em;
			white-space: nowrap;
			text-overflow: ellipsis;
			font-size: 1.0em;
			padding: 0 0 .15em;
			font-weight:bold;
		}
	}

	&__description {
		&--facebook {
			line-height: 16px;
			max-height:  80px;
			font-size:   12px;
		}

		&--twitter {
			max-height: 2.6em;
			text-transform: lowercase;
			margin-top: .32333em;
		}
	}

	&__image {
		&--facebook {
			width:      $width_facebook;
			max-height: 470px;

			img {
				max-height: 100%;
				max-width: 100%;
			}

			&-small {
				width: $width_facebook_image_small;
				height: $height_facebook_image_small;
				float: left;
			}
		}
		&--twitter {
			width:      $width_twitter;
			max-height: 506px;

			img {
				max-height: 506px;
				// Reduce max-width with 2 pixels because the image will overlap the bordered container.
				max-width:  $width_twitter - 2;
				border-radius: $border_radius_twitter $border_radius_twitter 0 0;
			}
		}
	}

	&__website {
		&--facebook {
			text-overflow:  ellipsis;
			white-space:    nowrap;
			font-size:      11px;
			line-height:    11px;
			padding-top:    9px;
			position:       relative;
			text-transform: uppercase;
			color:          #9197a3;
		}

		&--twitter {
			color: #8899A6;
			max-height: 1.3em;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-top: .32333em;
		}
	}

	&__value {
		&--facebook-title {
			max-height: 110px;
		}

		&--facebook-description {
			max-height: 80px;
		}

		&--twitter-description {
			max-height: 2.6em;
		}
	}
}

.social-image-placeholder {
	&--facebook {
		width: $width_facebook;
	}

	&--twitter {
		// Reduce width with 2 pixels because element overlaps the bordered container.
		width: $width_twitter - 2;
		border-radius: $border_radius_twitter $border_radius_twitter 0 0;
	}
}

