.overallScore #score_circle {
	fill: #999;
}

.overallScore #score_circle_shadow {
	fill: #777;
}

.overallScore.good #score_circle {
	fill: #9fda4f;
}

.overallScore.good #score_circle_shadow {
	fill: #77b227;
}

.overallScore.ok #score_circle {
	fill: #ffdc42;
}

.overallScore.ok #score_circle_shadow {
	fill: #ffc82e;
}

.overallScore.poor #score_circle {
	fill: #ffb81e;
}

.overallScore.poor #score_circle_shadow {
	fill: #f49a00;
}

.overallScore.bad #score_circle {
	fill: #ff4e47;
}

.overallScore.bad #score_circle_shadow {
	fill: #ed261f;
}

.overallScore.na #score_circle_shadow {
	fill: #999;
}

.overallScore svg {
	margin: 10px;
}

#taxonomy_overall {
	position: absolute;
	top: 0;
	margin-left: 87.5%;
}
