.yoast .update-nag {
	margin-left: 32px;
}

.yoast-space-after {
	margin-bottom: 32px;
}

.yoast-paper.yoast-space-bottom {
	padding-bottom: 16px;
}

.yoast-field-group__title code {
	font-size: 13px;
	font-weight: normal;
	color: var(--yoast-color-default);
	padding: 0;
	margin: 0 4px;
	background: none;
}

.collapsible-header .toggleable-container-trigger {
	display: block;
    width: 100%;
    text-align: left;
    border: 0;
    background: none;
    color: var(--yoast-primary-color);
}

#wpseo_progressbar {
	height: 25px;
	border: 1px solid var(--yoast-color-primary);
}

#wpseo_progressbar .ui-progressbar-value {
	height: 25px;
	background: var(--yoast-color-primary);
}

.wpseo-progressbar-wrapper {
	display: inline;
	width: 100%;
}

.wpseo-progressbar {
	display: block;
	width: 100%;
	height: 25px;
	border: 1px solid var(--yoast-color-primary);
}

.wpseo-progressbar .ui-progressbar-value {
	height: 25px;
	background: var(--yoast-color-primary);
}
