.collapsible-header .toggleable-container-icon {
	float: right;
	color: var(--yoast-color-default);
	cursor: pointer;
}

.collapsible-header code {
	font-size: 14px;
	font-weight: 700;
	border: var(--yoast-border-default);
	color: var(--yoast-color-default);
	padding: 5px;
	margin: 0 2px;
	background: var(--yoast-color-secondary);
}

.toggleable-container-hidden {
	display: none;
}

.yoast-field-group__title code {
	font-size: 13px;
	font-weight: 700;
	border: var(--yoast-border-default);
	color: var(--yoast-color-default);
	padding: 3px 5px;
	margin: 0 2px;
}

.collapsible-header .toggleable-container-trigger {
	display: block;
    width: 100%;
    text-align: left;
    border: 0;
    background: none;
	color: var(--yoast-primary-color);
	padding-bottom: 16px;
}

#wpseo_progressbar {
	height: 25px;
	border: 1px solid var(--yoast-color-primary);
}

#wpseo_progressbar .ui-progressbar-value {
	height: 25px;
	background: var(--yoast-color-primary);
}

.wpseo-progressbar-wrapper {
	display: inline;
	width: 100%;
}

.wpseo-progressbar {
	display: block;
	width: 100%;
	height: 25px;
	border: 1px solid var(--yoast-color-primary);
}

.wpseo-progressbar .ui-progressbar-value {
	height: 25px;
	background: var(--yoast-color-primary);
}
