.collapsible-header .toggleable-container-icon {
	float: right;
	color: var(--yoast-color-default);
	cursor: pointer;
}

.collapsible-header code {
	font-size: 14px;
	font-weight: 700;
	border: var(--yoast-border-default);
	color: var(--yoast-color-default);
	padding: 5px;
	margin: 0 2px;
}

.toggleable-container-hidden {
	display: none;
}

.yoast-field-group__title code {
	font-size: 13px;
	font-weight: 700;
	border: var(--yoast-border-default);
	color: var(--yoast-color-default);
	padding: 3px 5px;
	margin: 0 2px;
}
