$color-black:					#000;
$color-button-upsell:			#FEC228;
$color-button-upsell-hover:  	#F2AE01;
$color_green_medium:			#008a00;

$color-default: #404040;
$color-primary: #a4286a;
$color-secondary: #f7f7f7;
$color-white: #ffffff;

$font-size-default: .875em; // Translates to 14px

$margin-32px: 2.285em;


@mixin shadow-button($opacity) {
  border: 1px solid rgba(0,0,0, 0.2);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, $opacity);
}