$default-font-size: 14;

@function em($pixels, $unit: $default-font-size) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($unit)) {
    $unit: $unit * 1px;
  }

  @return $pixels / $unit * 1em;
}