/** CSS selectors instead of SASS. */
:root {
	--color-default: #404040;
	--color-primary: #a4286a;
	--color-secondary: #f7f7f7;
	--color-white: #ffffff;
	--color-primary-darker: #7b1e50;
	--color-secondary-darker: #d9d9d9;
	--color-dark: #303030;
	--color-sale: #fec228;
	--color-sale-darker: #feb601;
	--color-border: rgba(0,0,0, 0.2);
	--color-active: #6EA029;
	--color-inactive: #DC3232;
	--color-link: #006DAC;
  
	--font-size-default: 14px;

	--border-default: 1px solid var(--color-border);

	--shadow-default: 0px 3px 6px rgba(0, 0, 0, 0.15);
}