.yoast-field-group {
    position: relative;
    border: none;
    padding: 0;
    margin: 0 0 24px 0;
}

.yoast-field-group__title {
    display: flex;
    align-items: center;
    font-weight: var(--yoast-font-weight-bold);
    margin: 0 0 8px;
    color: var(--yoast-color-label);
    line-height: 1.5;
    padding: 0;
	font-size: var(--yoast-font-size-default);
}

.yoast-field-group .field-group-description {
    margin: 0;
}
