@layer components {
    .yst-checkbox-group {

    }

    .yst-checkbox-group__label {
        @apply yst-mb-2;
    }

    .yst-checkbox-group__options {
        @apply
            yst-flex
            yst-flex-col
            yst-gap-3;
    }

    .yst-checkbox-group__description {
        @apply yst-mt-2;
    }
}
