# Grunt aliases
---
# Build everything
build:
  - 'build:css'
  - 'build:images'
  - 'build:js'
  - 'build:i18n'
# Build CSS from SCSS to production
'build:sass':
  - 'sass:build'
'build:css':
  - 'build:sass'
  - 'postcss:build'
  - 'wpcss'
  - 'cssmin'
# Optimise images from source to production
'build:images':
  - 'imagemin'
# Build JavaScript from assets to production
'build:js':
  - 'browserify:build'
  - 'browserify:buildes6'
  - 'uglify'
# Build internationalisation features
'build:i18n':
  - 'makepot'
  - 'shell:combine-pot-files'
  - 'glotpress_download'
  - 'po2json'
  - 'i18n-clean-json'
  - 'clean:po-files'
# Check health of the project
check:
  - 'check:js'
  - 'check:php'
  - 'check:i18n'
'check:js':
  - 'jshint'
  - 'jsonlint'
  - 'jsvalidate'
  - 'jscs'
'check:php':
  - 'phplint'
  - 'phpcs'
'check:i18n':
  - 'checktextdomain'

# Get the project ready for release
release:
  - 'build:images'
  - 'release:css'
  - 'release:js'
  - 'release:clean'
'release:css':
  - 'build:css'
  - 'cssmin'
'release:js':
  - 'browserify:build'
  - 'browserify:release-es6'
  - 'uglify'
'release:clean':
  - 'clean:release-js'
  - 'clean:release-css'
  - 'clean:release-misc'
# Default task
default:
  - build
