@import "../../css/marks";

html {
	font-family: sans-serif;
}

h2{
	color: #777;
}

.output-container,
.form-container{
	padding: 20px;
	width: 1000px;
	clear: both;
}

.inputForm input {
	line-height: 20px;
}

.inputForm textarea {
	height: 400px;
	float: left;
}

.inputForm input,
.inputForm textarea {
	width: 540px;
	padding: 5px;
	margin: 5px 5px 5px 0;
	font-size: 14px;
	display: block
}

.inputForm label {
	display: block;
	width: 200px;
	font-size: 14px;
	padding-top: 10px;
	font-weight: bold;
	vertical-align: text-bottom;
	color: #777;
	line-height: 20px;
	text-transform: capitalize;
}

th, td {
	padding-left: 5px;
	padding-right: 5px;
}

td {
	text-align: right;
}

table {
	border-collapse: collapse;
}

th, td:first-child  {
	text-align: left;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}
