.yoast-labeled-inserter {
	position: relative;
	width: 100%;
}
.yoast-labeled-inserter::before {
	content: attr(data-label);
	position: absolute;
	left: 0;
	height: 100%;
	color: black;
}
.yoast-labeled-inserter > .block-editor-inserter {
	width: 100%;
}

.wp-core-ui select.yoast-schema-select {
	display: block;
	border: #CCCCCC 1px solid;
	border-radius: 0;
	padding: 3px 8px 4px 8px;
	width: 50%;

	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 9 8"><path d="M0 0L4 7 8 0z" fill="rgb(114,119,124)"/></svg>');
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
