@layer components {
	.yst-root {
		.yst-tooltip {
			display: var(--yst-display-tooltip, inline-block);
			@apply yst-absolute
			yst-z-10
			yst-px-2.5
			yst-py-2
			yst-bg-gray-800
			yst-text-white
			yst-text-xs
			yst-rounded-lg
			yst-whitespace-normal
			yst-w-max
			yst-max-w-sm;
		}

		.yst-tooltip--top {
			@apply yst--translate-x-1/2
			rtl:yst-translate-x-1/2
			yst--translate-y-full
			yst-start-1/2
			yst-top-0
			yst--mt-3; /* Negative margin to move the tooltip up */

			/* Style properties for the tooltip arrow */

			&::before {
				@apply yst-content-['']
				yst-absolute
				yst-start-1/2
				yst-top-full /* Arrow positioned at the bottom of the tooltip */
				yst--translate-x-1/2
				rtl:yst-translate-x-1/2
				yst-translate-y-0
				yst-border-8
				yst-border-x-transparent
				yst-border-b-transparent
				yst-border-t-gray-800;
			}
		}

		.yst-tooltip--bottom {
			@apply yst--translate-x-1/2
			rtl:yst-translate-x-1/2
			yst--translate-y-0
			yst-start-1/2
			yst-top-full
			yst-mt-3;

			/* Style properties for the tooltip arrow */

			&::before {
				@apply yst-content-['']
				yst-absolute
				yst-start-1/2
				yst-bottom-full /* Arrow positioned at the top of the tooltip */
				yst--translate-x-1/2
				rtl:yst-translate-x-1/2
				yst-border-8
				yst-border-x-transparent
				yst-border-t-transparent
				yst-border-b-gray-800;
			}
		}

		.yst-tooltip--right {
			@apply yst--translate-x-0
			yst--translate-y-1/2
			yst-start-full
			yst-top-1/2
			yst-ms-3;

			/* Style properties for the tooltip arrow */

			&::before {
				@apply yst-content-['']
				yst-absolute
				yst-end-full /* Arrow positioned at the left of the tooltip */
				yst-top-1/2
				yst--translate-y-1/2
				yst-border-8
				yst-border-s-transparent
				yst-border-t-transparent
				yst-border-b-transparent
				yst-border-e-gray-800;
			}
		}

		.yst-tooltip--left {
			@apply yst--translate-y-1/2
			yst-end-full
			yst-top-1/2
			yst-me-3;

			/* Style properties for the tooltip arrow */

			&::before {
				@apply yst-content-['']
				yst-absolute
				yst-start-full /* Arrow positioned at the right of the tooltip */
				yst-top-1/2
				yst--translate-y-1/2
				yst-border-8
				yst-border-e-transparent
				yst-border-t-transparent
				yst-border-b-transparent
				yst-border-s-gray-800;
			}
		}
	}
}
