@import "../base/icons.scss";

/* Settings pages layout based on CSS table model. */
.wpseo_content_wrapper {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.wpseo_content_wrapper {

	.paper.tab-block {
		button.toggleable-container-trigger {
			width: 100%;
			padding: 16px;
			font-size: 1rem;

			&:focus {
				outline: 1px solid #0066cd;
				outline-offset: -1px;
				box-shadow: 0 0 3px rgba( 8,74,103,0.8 );
			}

			&:active {
				box-shadow: none;
			}
		}

		h2.collapsible-header {
			margin: 0 !important;
			padding: 0 !important;
		}

		&.metabox {
			button.toggleable-container-trigger {
				color: #555;
			}

			&.wpseotab {
				padding: 0;
				border: 0;
			}
		}

		.paper-container {
			padding: 16px;

			&:first-child {
				margin-top: 0;
			}
		}

		.paper-title {
			padding: 16px;

			h2 {
				margin: 0;
			}
		}

		.tab-block:first-child {
			margin-top: 0;
		}
	}

	.wpseo-collapsible-container {
		background-color: #fff;
		border-top: 1px solid #e2e4e7;
		border-bottom: 1px solid #e2e4e7;
		margin-top: -1px;
	}

	.toggleable-container-trigger {
		border: 0;
		background: none;
		cursor: pointer;
		width: 100%;
		padding: 0;
		text-align: left;
	}

	.toggleable-container-icon {
		float: right;
		width: 20px;
		height: 20px;
		position: relative;
	}


	.toggleable-container-trigger .toggleable-container-icon::after {
		content: "";
		display: block;
		padding: 14px; // will make the total width 28px
		position: absolute;
		top: -4px; // total width - toggleable-container-icon width / 2
		left: -4px;
	}

	.toggleable-container-hidden {
		display: none;
	}
}

/* Responsive layout. */
@media screen and ( max-width: 1024px ) {
	.wpseo_content_wrapper,
	.wpseo_content_cell {
		display: block;
		height: auto;
	}
}