@mixin clearfix() {
	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}
}

@mixin progress-bar-color ($class, $color) {
	#{$class} {
		color: $color;

		&::-webkit-progress-value {
			background-color: $color;
			transition: width 250ms;
		}

		&::-moz-progress-bar {
			background-color: $color;
		}

		&--fallback {
			background-color: $color;
			overflow: hidden;
			max-width: 100%;
		}
	}
}

@mixin svg-caret-before($color) {
	background-image: url(svg-icon-caret-right($color));
	background-size: 25px;
	content: '';
	display: block;
	height: 24px;
	left: -3px;
	margin-top: -3px;
	position: absolute;
	width: 24px;
}
