# Dependabot configuration.
#
# Please see the documentation for all configuration options:
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  # Maintain dependencies for GitHub Actions.
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      cronjob: "15 22 5,20 * *" # At 22:15, every 5th and 20th day of the month.
    open-pull-requests-limit: 5
    commit-message:
      prefix: "GH Actions:"
    labels:
      - "changelog: non-user-facing"
      - "yoast cs/qa"
    groups:
      action-runners:
        applies-to: version-updates
        update-types:
          - "minor"
          - "patch"
