<label<% if (id) { %> for="<%- id %>"<% } %><% if (labelClassName) { %> class="<%- labelClassName %>"<% } %>>
	<%- title %>
	<textarea

		   <% if (placeholder) { %>placeholder="<%- placeholder %>"<% } %>
		   <% if (className) { %>class="<%- className %>"<% } %>
		   <% if (id) { %>id="<%- id %>"<% } %>
		   <% if (name) { %>name="<%- name %>"<% } %>
	>
		<% if (value) { %><%- value %><% } %>
	</textarea>
</label>
