<label<% if (id) { %> for="<%- id %>"<% } %><% if (labelClassName) { %> class="<%- labelClassName %>"<% } %>>
<% if (id) { %><%- title %></label><% } %>
<% if (!id) { %><%- title %><% } %>
	<input type="text"
		<% if (value) { %>value="<%- value %>"<% } %>
		<% if (placeholder) { %>placeholder="<%- placeholder %>"<% } %>
		<% if (className) { %>class="<%- className %>"<% } %>
		<% if (id) { %>id="<%- id %>"<% } %>
		<% if (name) { %>name="<%- name %>"<% } %>
	/>
<% if (!id) { %></label><% } %>
