{
  "presets": [ [ "env", {
    "targets": {
      "browsers": [
        "last 2 versions",
        "ie >= 9"
      ]
    }
  } ] ],
  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma": "wp.element.createElement"
      }
    ],
    "dynamic-import-webpack",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-react-jsx",
        "babel-plugin-styled-components"
      ]
    }
  },
  "comments": true
}
