// Copy the lines below into an .env file and populate them with real data.

// Your GitHub access token. If this variable is already set this will not be used:
GITHUB_ACCESS_TOKEN=

// Enter the GitHub repository this is located in (e.g. yoast/wordpress-seo):
GITHUB_REPOSITORY=

// Enter your Slack test channel token:
SLACK_TEST_CHANNEL_TOKEN=

// Enter your Slack beta channel token:
SLACK_BETA_CHANNEL_TOKEN=

// Enter the Slack dev-plugin channel token:
SLACK_DEV_PLUGIN_CHANNEL_TOKEN=

// Set an editor:
EDITOR=
# Examples
# Textmate: "mate -w"
# Vim:      vim
# Nano:     nano
# VS Code:  "code -w"
# Sublime:  "subl -w"
