# Standards for multi-platform colaboration

# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

.cache export-ignore
.github export-ignore
deploy_keys export-ignore
grunt export-ignore
scripts export-ignore
svn-assets export-ignore
tests export-ignore
webpack export-ignore
.babelrc export-ignore
.codeclimate.yml export-ignore
.csscomb.json export-ignore
.csslintrc export-ignore
.editorconfig export-ignore
.eslintignore export-ignore
.eslintrc export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.phpcs.xml export-ignore
.phpcs.xml.dist export-ignore
.removeable-files
.travis.yml export-ignore
Gruntfile.js export-ignore
package.json export-ignore
phpcs.xml export-ignore
phpcs.xml.dist export-ignore
phpdoc.xml export-ignore
phpdoc.dist.xml export-ignore
phpmd.xml export-ignore
phpunit.xml export-ignore
phpunit.xml.dist export-ignore
ruckusing.conf.php export-ignore
README.md export-ignore
renovate.json export-ignore
yoast_meta.md
