language: node_js

sudo: false

cache:
  directories:
    - node_modules

before_script:
- npm install -g grunt-cli
- npm install -g codeclimate-test-reporter
- npm install

script:
- grunt build:jst
- npm test --coverage
- if [[ -z "$CODECLIMATE_REPO_TOKEN" ]]; then COVERAGE="0"; else COVERAGE="1"; fi
- if [[ "$COVERAGE" == "1" ]]; then codeclimate-test-reporter < coverage/lcov.info; fi
- grunt check

notifications:
  slack:
    secure: W3StABr+AdcdQawTObK4nbsnn5nLrTTtZfVpD/GEN6gvSOQcykbGEC5+ceYg0jn5b4StDyCiTo5blEsrpVICFpYKc44+ogah+qaGRUfVRS/rpOvn4AueXTWn4JxhZzuxqKMiTmyW+MQG0uYM7sk7Q5S+15jj6ilkj4QATaBVNbY=
