language: php

php:
- '5.5'

env:
- WP_VERSION=master WP_MULTISITE=0

matrix:
  include:
    - php: "5.4"
      env: WP_VERSION=3.8.1 WP_MULTISITE=1
    - php: "5.3"
      env: WP_VERSION=3.8.1 WP_MULTISITE=0
    - php: "5.2"
      env: WP_VERSION=master WP_MULTISITE=0

before_script:
- PLUGIN_SLUG=$(basename $(pwd))
- export WP_DEVELOP_DIR=/tmp/wordpress/
- git clone --depth=50 --branch="$WP_VERSION" git://develop.git.wordpress.org/ /tmp/wordpress
- cd ..
- cp -r "$PLUGIN_SLUG" "/tmp/wordpress/src/wp-content/plugins/$PLUGIN_SLUG"
- cd /tmp/wordpress/
- cp wp-tests-config-sample.php wp-tests-config.php
- sed -i "s/WP_DEBUG', true )/WP_DEBUG', false )/" wp-tests-config.php
- sed -i "s/youremptytestdbnamehere/wordpress_tests/" wp-tests-config.php
- sed -i "s/yourusernamehere/travis/" wp-tests-config.php
- sed -i "s/yourpasswordhere//" wp-tests-config.php
- mysql -e "CREATE DATABASE wordpress_tests;" -uroot
- git clone git@github.com:squizlabs/PHP_CodeSniffer.git phpcs
- git clone git@github.com:WordPress-Coding-Standards/WordPress-Coding-Standards.git
- cd phpcs
- scripts/phpcs --config_set installed_paths ../wpcs
- cd "/tmp/wordpress/src/wp-content/plugins/$PLUGIN_SLUG"
- phpenv rehash

script:
- phpunit -c phpunit.xml
- phpcs -p -s -v -n . --standard=./codesniffer.xml --extensions=php

notifications:
  slack:
    secure: W3StABr+AdcdQawTObK4nbsnn5nLrTTtZfVpD/GEN6gvSOQcykbGEC5+ceYg0jn5b4StDyCiTo5blEsrpVICFpYKc44+ogah+qaGRUfVRS/rpOvn4AueXTWn4JxhZzuxqKMiTmyW+MQG0uYM7sk7Q5S+15jj6ilkj4QATaBVNbY=