@import "../src/elements/alert/style.css";
@import "../src/elements/badge/style.css";
@import "../src/elements/button/style.css";
@import "../src/elements/checkbox/style.css";
@import "../src/elements/code/style.css";
@import "../src/elements/label/style.css";
@import "../src/elements/link/style.css";
@import "../src/elements/paper/style.css";
@import "../src/elements/progress-bar/style.css";
@import "../src/elements/radio/style.css";
@import "../src/elements/select/style.css";
@import "../src/elements/tag-input/style.css";
@import "../src/elements/text-input/style.css";
@import "../src/elements/textarea/style.css";
@import "../src/elements/title/style.css";
@import "../src/elements/toggle/style.css";
@import "../src/elements/file-input/style.css";
@import "../src/elements/autocomplete/style.css";
@import "../src/elements/validation/style.css";

@import "../src/components/autocomplete-field/style.css";
@import "../src/components/card/style.css";
@import "../src/components/checkbox-group/style.css";
@import "../src/components/feature-upsell/style.css";
@import "../src/components/file-import/style.css";
@import "../src/components/modal/style.css";
@import "../src/components/notifications/style.css";
@import "../src/components/radio-group/style.css";
@import "../src/components/root/style.css";
@import "../src/components/select-field/style.css";
@import "../src/components/sidebar-navigation/style.css";
@import "../src/components/tag-field/style.css";
@import "../src/components/text-field/style.css";
@import "../src/components/textarea-field/style.css";
@import "../src/components/toggle-field/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
