:root {
    --color-placeholder: #707070;
}

.yoast-field-group textarea,
.yoast-field-group__inputfield {
    width: 100%;
    font-size: var(--font-size-default);
    padding: 8px;
    background: white;
    border: var(--border-default);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.yoast-field-group__inputfield {
    height: 40px;
    box-sizing: border-box;
}


.yoast-field-group__inputfield + .description,
.yoast-field-group .description + .yoast-field-group__inputfield{
    margin-top: 8px;
    margin-bottom: 24px;
}


/* Placeholder Firefox */
::placeholder {
    color: var(--color-placeholder);
}

/* Placeholder Chrome/Safari/Opera */
::-webkit-input-placeholder {
    color: var(--color-placeholder);
}

/* Placeholders Edge */
::-ms-input-placeholder {
    color: var(--color-placeholder);
}
