@layer components {
	.yst-root {
		.yst-tag-input {
			@apply
			yst-flex
			yst-flex-wrap
			yst-py-2
			yst-px-3
			yst-gap-1.5
			yst-border
			yst-border-slate-300
			yst-rounded-md
			yst-shadow-sm
			yst-bg-white
			yst-text-sm
			yst-text-slate-800
			yst-placeholder-slate-500
			yst-leading-6
			focus-within:yst-ring-1
			focus-within:yst-ring-primary-500
			focus-within:yst-border-primary-500;
		}

		.yst-tag-input--disabled {
			@apply
			yst-opacity-50
			yst-cursor-not-allowed
			focus-within:yst-ring-0
			focus-within:yst-border-slate-300;

			.yst-tag-input__tag {
				@apply
				yst-cursor-not-allowed
				focus:yst-outline-none
				focus:yst-ring-0
				focus-visible:yst-outline-none
				focus-visible:yst-ring-0;
			}

			.yst-tag-input__remove-tag {
				@apply
				yst-cursor-not-allowed
				hover:yst-text-slate-400
				focus:yst-outline-none
				focus:yst-ring-0;
			}

			.yst-tag-input__input {
				@apply yst-cursor-not-allowed;
			}
		}

		.yst-tag-input__tag {
			min-height: 30px;

			@apply
			yst-inline-flex
			yst-py-0.5
			yst-px-2
			yst-rounded-full
			yst-items-center
			yst-text-xs
			yst-leading-tight
			yst-font-medium
			yst-bg-slate-100
			yst-text-slate-800
			yst-cursor-pointer
			focus:yst-outline-none
			focus:yst-ring-2
			focus:yst-ring-primary-500
			focus-visible:yst-outline-none
			focus-visible:yst-ring-2
			focus-visible:yst-ring-primary-500;
		}

		.yst-tag-input__remove-tag {
			@apply
			yst-rounded-md
			yst-inline-flex
			yst-ml-0.5
			yst--mr-1
			yst-bg-slate-100
			yst-text-slate-400
			hover:yst-text-slate-500
			focus:yst-outline-none
			focus:yst-ring-2
			focus:yst-ring-primary-500;
		}

		.yst-tag-input__input {
			@apply
			yst-inline-flex
			yst-flex-1
			yst-p-0
			yst-m-0
			yst-border-none
			yst-text-sm
			focus:yst-outline-none
			focus:yst-ring-0;
		}
	}
}
