@layer components {
    .yst-radio-group {

    }

    .yst-radio-group--inline-block {

        .yst-radio-group__options {
            @apply
                yst-flex
                yst-flex-wrap
                yst-flex-row
                yst-gap-2;
        }
    }

    .yst-radio-group__label {
        @apply yst-mb-2;
    }

    .yst-radio-group__options {
        @apply
            yst-flex
            yst-flex-col
            yst-gap-3;
    }

    .yst-radio-group__description {
        @apply yst-mt-4;
    }
}
