.yoast-help {
    margin-left: 4px;
}

.yoast-help__icon svg {
    width: 12px;
    height: 12px;
    fill: var(--color-inactive-text);
    transition: var(--transition-default);
}

.yoast-help:hover svg {
    fill: var(--color-link);
}