@layer components {
	.yst-root {
		.yst-popover-backdrop {
			@apply yst-fixed
			yst-inset-0
			yst-bg-black/10
			yst-z-[5]
			yst-pointer-events-none;
		}

		.yst-popover {
			@apply
			yst-absolute
			yst-whitespace-normal
			yst-inline-block
			yst-p-4
			yst-rounded-lg
			yst-w-max
			yst-max-w-sm
			yst-z-10
			yst-bg-white
			yst-border
			yst-shadow-2xl
			yst-gap-3;
		}

		.yst-popover--right {
			@apply
			yst-top-1/2
			before:yst-content-['']
			before:yst-absolute
			before:yst-block
			before:yst-end-full
			before:yst-top-1/2
			before:yst-right-full
			before:yst--translate-y-1/2;

			transform: translate(8%,-50%);

			&::before {
				border-right: 14px solid #fff;
				border-top: 14px solid transparent;
				border-bottom: 14px solid transparent;
			}
		}

		.yst-popover--top {
			@apply
			yst--translate-y-full
			yst-translate-x-1/2
			yst-end-1/2
			yst--top-5
			before:yst-content-['']
			before:yst-absolute
			before:yst-start-1/2
			before:yst-top-full
			before:yst--translate-x-1/2
			before:yst-translate-y-0;

			&::before {
				border-right: 14px solid transparent;
				border-top: 14px solid #fff;
				border-left: 14px solid transparent;
			}
		}
		.yst-popover--top-right {
			@apply
			yst--top-full
			before:yst-content-['']
			before:yst-absolute
			before:yst-start-8
			before:yst-top-full
			before:yst--translate-x-1/2
			before:yst-translate-y-0;

			transform: translate(-13%, -96%);
			[dir='rtl'] & {
				transform: translate(98%, -15%);
			}

			&::before {
				border-right: 14px solid transparent;
				border-top: 14px solid #fff;
				border-left: 14px solid transparent;
			}
		}

		.yst-popover--top-left {
			@apply
			yst-bottom-full
			before:yst-content-['']
			before:yst-absolute
			before:yst-end-0
			before:yst-top-full
			before:yst--translate-x-1/2
			before:yst-translate-y-0;

			transform: translate(-97%, -14%);
			[dir='rtl'] & {
				transform: translate(97%, -14%);
			}

			&::before {
				border-right: 14px solid transparent;
				border-top: 14px solid #fff;
				border-left: 14px solid transparent;
			}
		}

		.yst-popover--left {
			@apply
			yst-top-1/2
			yst--start-1/2
			before:yst-content-['']
			before:yst-absolute
			before:yst-block
			before:yst-start-full
			before:yst-top-1/2
			before:yst-right-full
			before:yst--translate-y-1/2;

			transform: translate(-92%,-50%);

			&::before {
				border-top: 14px solid transparent;
				border-bottom: 14px solid transparent;
				border-left: 14px solid #fff;
			}
		}

		.yst-popover--bottom {
			@apply
			yst-start-1/2
			yst-mt-3
			before:yst-content-['']
			before:yst-absolute
			before:yst-start-1/2
			before:yst-bottom-full
			before:yst--translate-x-1/2
			before:yst-translate-y-0
			before:yst-border-transparent;

			transform: translate(-50%,15%);

			&::before {
				border-right: 14px solid transparent;
				border-bottom: 14px solid #fff;
				border-left: 14px solid transparent;
			}
		}

		.yst-popover--bottom-left {
			@apply
			yst-start-1/2
			yst-mt-3
			before:yst-content-['']
			before:yst-absolute
			before:yst-end-0
			before:yst-bottom-full
			before:yst--translate-x-1/2
			before:yst-translate-y-0
			before:yst-border-transparent;

			transform: translate(-92%,15%);
			[dir='rtl'] & {
				transform: translate(92%, 15%);
			}

			&::before {
				border-right: 14px solid transparent;
				border-bottom: 14px solid #fff;
				border-left: 14px solid transparent;
			}
		}

		.yst-popover--bottom-right {
			@apply
			yst-start-1/2
			yst-mt-3
			before:yst-content-['']
			before:yst-absolute
			before:yst-start-8
			before:yst-bottom-full
			before:yst--translate-x-1/2
			before:yst-translate-y-0
			before:yst-border-transparent;

			transform: translate(-8%, 15%);
			[dir='rtl'] & {
				transform: translate(8%, 15%);
			}

			&::before {
				border-right: 14px solid transparent;
				border-bottom: 14px solid #fff;
				border-left: 14px solid transparent;
			}
		}
	}
}
