@import "../../node_modules/yoastseo/css/tooltips";

.wpseo-score-icon {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-left: 6px;
	border-radius: 50%;
	background: #888;
	line-height: 16px;
}

.wpseo-score-icon.good {
	background-color: #7ad03a;
}

.wpseo-score-icon.ok {
	background-color: #ee7c1b;
}

.wpseo-score-icon.bad {
	background-color: #dc3232;
}

.wpseo-score-icon.na {
	background-color: #888;
}

.wpseo-score-icon.noindex {
	background-color: #1e8cbe;
}

th#wpseo-score {
	width: 63px;
}

th#wpseo-score-readability {
  width: 75px;
}

@media screen and ( max-width: 782px ) {
	.column-wpseo-title,
	.column-wpseo-score,
	.column-wpseo-metadesc,
	.column-wpseo-focuskw {
		display: none;
	}
}

/* Table internal links columns tooltips. */
.fixed .column-wpseo-links,
.fixed .column-wpseo-linked {
	width: 4em;
}

th.column-wpseo-links a.yoast-tooltip,
th.column-wpseo-linked a.yoast-tooltip {
	overflow: visible; /* Override WP property to make tooltips visible. */
	display: inline-block; /* To contain floats instead of using overflow. */
}

.column-wpseo-links .yoast-tooltip-multiline::after,
.column-wpseo-linked .yoast-tooltip-multiline::after {
	max-width: 160px;
}

.column-wpseo-links .sorting-indicator,
.column-wpseo-linked .sorting-indicator {
	margin-top: 11px;
}

.yoast-column-header-has-tooltip:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	padding: 0;
	position: relative;
	top: 2px;
	vertical-align: top;
	text-decoration: none !important;
	color: #444;
}

.yoast-linked-to:before {
	background: transparent url( "../images/linkout3.svg" ) no-repeat 0 0;
	background-size: 20px;
}

.yoast-linked-from:before {
	background: transparent url( "../images/linkin3.svg" ) no-repeat 0 0;
	background-size: 20px;
}
