.wpseo-tab-video-container {
	margin-bottom: 20px;
	border-bottom: 1px solid #a4286a;

	// Reset the bottom border when it's open.
	.yoast-help-center-open & {
		border-bottom: none;
	}

	// When the Help Center is inside the metabox (posts, terms, media)
	// it must compensate the metabox padding.
	.postbox & {
		margin-left: -12px;
		margin-right: -12px;
	}

	&__handle {
		width: 100%;
		margin: 0;
		padding: 10px 12px;
		border: none;
		outline: none;
		color: #a4286a;
		background: none;
		text-align: left;
		cursor: pointer;
		line-height: 19px;

		&:hover,
		&:focus {
			text-decoration: underline;
		}

		.dashicons-before:before {
			margin-right: 5px;
		}

		.toggle__arrow {
			text-decoration: none;
		}
	}

	.wpseo-premium-popup {
		// Content 600px + Yoast_SEO_Icon.svg 170px.
		max-width: 770px;
	}
}

.wpseo-tab-video-slideout {
	// Use flexbox but we don't want children to wrap.
	display: flex;
	padding: 2em 0;
	background-color: #a4286a;
	box-shadow: inset 0 10px 10px -5px rgba(123, 30, 80, 0.5), inset 0 -10px 10px -5px rgba(123, 30, 80, 0.5);

	// In the settings pages, mimic the WordPress meta box border.
	.wpseo-admin-page & {
		border: 1px solid #e5e5e5;
		border-top: 0;
	}

	// CSS class to toggle visibility.
	&.hidden {
		display: none;
	}

	// The max-width of the Help Center content is 164 + 916 = 1080 pixels.
	// Worth noting it's an arbitrary number, based on the content width.
	.yoast-help-center-tabs {
		// 164 pixels fixed width.
		flex: 0 0 164px;
		padding: 0 0 1em 0;
		color: #fff;
		background-color: #a4286a;

		ul {
			margin: 0;
		}
	}

	.yoast-help-center-tabs-wrap {
		// Max width 916px - video 560px - 12px video right margin - tab content padding 24px
		// ends up in a 320 pixels available and fluid width for the text boxes.
		flex: 0 1 916px;
		max-width: 916px;
		padding: 0;
	}

	.yoast-help-tab-content {
		display: none;
		padding: 0 12px;
		color: #fff;
		font-weight: 300;

		&.active {
			display: block;
		}

		// Only the video tab content needs to use flexbox.
		// Needs to work in the post metabox, taxonomy metabox, and setting pages.
		// Assumes it's always the first tab content.
		&.active:first-child {
			display: flex;
			flex-wrap: wrap;
		}
	}

	.wpseo-tab-video__panel {

		&--video {
			// Set initial video width to 560px and allow to shrink but not to grow.
			flex: 0 1 560px;
			margin-right: 12px;
			padding-bottom: 12px;

			iframe {
				// Remove iframe descender space.
				vertical-align: middle;
			}
		}

		&--text {
			// Do not use the shorthand syntax to avoid the flex-basis unitless bug in IE 11.
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 0;
			// Allow to have fluid width just to some extent.
			min-width: 220px;
		}

		&__textarea {
			box-sizing: border-box;
			// Same max width as the video.
			max-width: 560px;
			margin: 0 0 12px 0;
			padding: 15px 15px 5px;
			border: 1px solid #fff;
			border-radius: 30px;
			border-bottom-right-radius: 0;
			background-color: #a4286a;
			color: #fff;

			a,
			a:hover,
			a:focus {
				color: #fff;
				font-weight: 500;
			}

			h3 {
				margin: 0;
			}
		}
	}

	a {
		color: #fff;

		&.button,
		&.button-primary {
			text-decoration: none;
		}
	}

	// Needs to override some WP rules.
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	#wpseo_meta & h2 {
		margin-top: 0.5em;
		margin-bottom: 1em;
		padding: 0;
		color: #fff;
		font-size: 1.3em;
		line-height: 1.4;
		font-weight: 400;
	}
}

.wpseo-help-center-item {
	display: inline;

	a {
		display: block;
		padding: 10px 12px;
		color: #fff;
		text-decoration: none;
		// Same value as the dashicons.
		line-height: 20px;

		&:hover,
		&:focus {
			text-decoration: underline;
		}

		&.dashicons-before:before {
			text-decoration: none;
			margin-right:3px;
		}
	}

	&.active a {
		color: #a4286a;
		background-color: #fff;
	}
}

@media screen and ( max-width: 1280px ) {
	// On the post edit screen when the layout is in two columns this needs
	// to happen earlier.
	.columns-2 .wpseo-tab-video-slideout .wpseo-tab-video__panel {

		&--video {
			margin-right: 0;
		}
	}
}

@media screen and ( max-width: 1024px ) {
	.wpseo-tab-video-slideout .wpseo-tab-video__panel {

		&--video {
			margin-right: 0;
		}
	}

	// On the post edit screen when the layout is in two columns the switch from
	// flexbox to a block layout needs to happen earlier.
	.columns-2 .wpseo-tab-video-slideout {
		// Switch from flexbox to a block layout.
		display: block;

		// Need to re-set this for the higher specificity of the columns-2 slideout.
		&.hidden {
			display: none;
		}

		.yoast-help-center-tabs {
			width: auto;
			padding-left: 12px;
			padding-right: 12px;
		}

		.yoast-help-tab-content {

			&.active:first-child {
				// Stop the video tab content from using flexbox.
				display: block;
				// Video full width.
				padding: 0;
			}
		}

		.wpseo-tab-video__panel {

			&--text {
				padding: 0 12px;
			}

			&__textarea {
				max-width: none;
			}
		}
	}

	.columns-2 .wpseo-help-center-item {

		a {
			display: inline-block;
			margin: 0 4px 8px 0;
			border: 1px solid rgba( #fff, 0.5 );
		}
	}
}

@media screen and ( max-width: 782px ) {
	.wpseo-tab-video-slideout {
		// Switch from flexbox to a block layout.
		display: block;

		.yoast-help-center-tabs {
			width: auto;
			padding-left: 12px;
			padding-right: 12px;
		}

		.yoast-help-tab-content {

			&.active:first-child {
				// Stop the video tab content from using flexbox.
				display: block;
				// Video full width.
				padding: 0;
			}
		}

		.wpseo-tab-video__panel {

			&--text {
				padding: 0 12px;
			}

			&__textarea {
				max-width: none;
			}
		}
	}

	.wpseo-help-center-item {

		a {
			display: inline-block;
			margin: 0 4px 8px 0;
			border: 1px solid rgba( #fff, 0.5 );
		}
	}

	// Hide the Yoast_SEO_Icon.svg on the Email support tab.
	.wpseo-premium-popup-icon {
		display: none;
	}
}
