.yst-root {
	.yst-introduction-modal .yst-modal__close-button {
		@apply
		yst-bg-transparent
		yst-text-gray-500
		focus:yst-outline-none
		focus:yst-ring-offset-0;
	}
	.yst-introduction-modal-panel {
		background: rgb(237,210,225);
		background: linear-gradient(180deg, rgba(237,210,225,1) 10%, rgb(255, 255, 255) 60%);
	}
	.yst-introduction-modal-uppercase{
		letter-spacing: 0.8px;
		@apply yst-uppercase yst-text-slate-500;
	}
}
