@import url(../src/icons.css);
@import url(../../packages/components/src/base/colors.css);

.yst-root {
	.yst-introduction-modal .yst-modal__close-button {
		@apply
		yst-bg-transparent
		yst-text-gray-500
		focus:yst-outline-none
		focus:yst-ring-offset-0;
	}

	.yst-introduction-gradient {
		background: linear-gradient(180deg, rgba(166, 30, 105, 0.25) 10%, rgba(255, 255, 255, 0) 80%);
	}

	.yst-woo-introduction-gradient {
		background: linear-gradient(180deg, rgba(0, 117, 179, 0.25) 10%, rgba(255, 255, 255, 0) 80%);
	}
	.yst-introduction-modal-uppercase {
		letter-spacing: 0.8px;
		@apply yst-uppercase yst-text-slate-500;
	}
	
	.yst-logo-icon {
		background-color: var(--yoast-color-primary);
		mask-image: var(--yoast-svg-icon-yoast);
		-webkit-mask-image: var(--yoast-svg-icon-yoast);
		mask-size: 100% 100%;
		-webkit-mask-size: 100% 100%;
		width: 17px;
		height: 17px;
	}
	
	.yst-cart-icon {
		background-color: #0075B3;
		mask-image: var(--yoast-svg-icon-cart);
		-webkit-mask-image: var(--yoast-svg-icon-cart);
		mask-size: 100% 100%;
		-webkit-mask-size: 100% 100%;
		width: 16px;
		height: 16px;
		transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
	}
	
	.yst-ai-insights-icon {
		background-image: linear-gradient(97deg, #A61E69 0%, #6366F1 100%) !important;
		mask-image: var(--yoast-svg-icon-yoast-insight-sparkle);
		-webkit-mask-image: var(--yoast-svg-icon-yoast-insight-sparkle);
		mask-size: 100% 100%;
		-webkit-mask-size: 100% 100%;
		width: 17px;
		height: 17px;
	}

	.yst-ai-insights-waitlist-button {
		background-image: linear-gradient(97deg, #A61E69 0%, #6366F1 100%) !important;
		color: white !important;

		&:hover {
			background-image: linear-gradient(97deg, #8F0F57 0%, #4338CA 100%) !important;
		}
		&:focus {
			outline-color: #a61e69 !important;
		}
	}
}
