@import "yoastseo";
@import "help-center";

/* Hide the taxonomy metabox rich editor when it's first inserted in the form. */
#edittag > #wp-description-wrap {
	display: none;
}

#wp-description-wrap .wp-editor-area {
	border: 0;
}

/* Give the original textarea enough height to mitigate content flash. */
.term-description-wrap td > textarea#description {
	min-height: 530px;
}

/**
 * Lines below came from metabox-tabs.css
 *
 * Metabox Tabs
 */
ul.wpseo-metabox-tabs {
	display: none;
	margin-top: 6px;
	margin-bottom: 0;
}

/* Contain floated list items and have overflow visible for the active tab */
ul.wpseo-metabox-tabs:after {
	content: "";
	display: table;
	clear: both;
}

.wpseo-metabox-tabs-div ul {
	list-style: none;
}

ul.wpseo-metabox-tabs li.active {
	background-color: #fdfdfd;
}

.wpseo-meta-section {
	display: none;
	width: 90%;
}

.wpseo-meta-section.active {
	display: inline-block;
}

.wpseo-metabox-sidebar {
	display: inline-block;
	width: 40px;
	padding: 0 5px 5px;
	background-color: #fff;
	vertical-align: top;
}

.wpseo-metabox-sidebar li span {
	margin: 3px 0 0 -5px;
	padding: 0 2px 0 5px;
	border-width: 0 0 0 3px;
	border-style: solid;
	border-color: transparent;
	border-radius: 3px;
}

.wpseo-metabox-sidebar li.active span {
	border-color: #333;
	color: #333;
}

/* Floated to reset white space between list items */
ul.wpseo-metabox-tabs li {
	float: left;
	margin-right: 5px;
	margin-bottom: -1px;
	padding: 0;
	border-width: 1px 1px 0;
	border-style: solid solid none;
	border-color: #dfdfdf;

	.wpseo-keyword {
		display: inline-block;
		vertical-align: top;
		max-width: 8em;
		max-width: 8rem;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

}

.wpseotab.active {
	display: block;
	overflow: auto;
	padding: 0.5em 0.9em;
	border: 1px solid #ddd;
	background-color: #fdfdfd;
}

.wpseo-metabox-tabs a {
	display: inline-block;
	vertical-align: top;
	padding: 5px 4px 6px 12px;
	text-decoration: none;
}

/* Bigger right padding only for the content tab and the main keyword tabs */
.wpseo-metabox-tabs .wpseo_content_tab a,
.wpseo-metabox-tabs .wpseo_content_tab + .wpseo_keyword_tab a {
	padding-right: 12px;
}

.wpseo-metabox-tabs .wpseo-score-icon {
	margin-left: 0;
}

#wpseo-meta-section-social .wpseo-metabox-tabs a {
	padding: 5px 7px;
}

.wpseo-metabox-tabs a .dashicons {
	width: 16px;
	height: 16px;
	font-size: 16px;
}

.wpseo-metabox-sidebar .dashicons {
	width: 30px;
	height: 30px;
	font-size: 30px;
}

.wpseo-metabox-sidebar a {
	display: inline-block;
	width: 35px;
	height: 35px;
	font-size: 20px;
	line-height: 30px;
	text-decoration: none;
}

.wpseo-metabox-sidebar ul {
	margin: 0;
}

.wpseo-metabox-sidebar li {
	margin-bottom: 0;
	padding: 5px;
}

.wpseo-metabox-tabs-div div.wpseo-tabs-panel {
	overflow: auto;
	padding: 0.5em 0.9em;
	border: 1px solid;
}

.wpseo-heading {
	padding-left: 10px;
}

.wpseotab {
	display: none;
}

#wpseo_meta .postbox .inside .wpseotab {
	font-size: 13px !important;
}

.inside .wpseotab .form-table th {
	width: 140px !important;
	font-size: 13px;
}

.inside .wpseotab .form-table td {
	padding-top: 20px;
}

.inside .wpseotab .form-table label {
	vertical-align: top;
}

.inside .wpseotab .form-table td input,
.inside .wpseotab .form-table td select {
	margin-top: -5px;
}

.inside .wpseotab .form-table td select[multiple] {
	margin-top: 0;
}

.wpseotab .wpseo_image_upload_button {
	margin-left: 3px;
}

.wpseotab .wpseoanalysis {
	margin-top: 0;
}

.good,
.warn,
.wrong {
	font-weight: bold;
}

.good {
	color: green;
}

.warn {
	color: maroon;
}

.wrong {
	color: #dc3232;
}

#current_seo_title span {
	padding: 2px 5px;
	background-color: lightyellow;
}

#focuskwresults ul {
	margin: 0;
}

#focuskwresults p,
#focuskwresults li {
	font-size: 13px;
}

#focuskwresults li {
	margin: 0 0 0 20px;
	list-style-type: disc;
}

.wpseo_hidden {
	display: none;
}

/* Linkdex analysis block */
table.wpseoanalysis th {
	padding: 15px 0 5px 0;
	font-size: 14px;
	text-align: left;
}

table.wpseoanalysis th.first {
	padding-top: 0;
}

table.wpseoanalysis td {
	margin: 5px 0;
	font-size: 13px;
	line-height: 16px;
}

table.wpseoanalysis td.score {
	width: 20px;
	height: 18px;
	padding-left: 10px;
}

.wpseo_msg {
	margin: 5px 0 10px 0;
	padding: 0 5px;
	border: 1px solid #e6db55;
	background-color: lightYellow;
}

ul.wpseo-metabox-tabs li.wpseo-tab-add-keyword {
	border: none;
}

.wpseo-tab-add-keyword .wpseo-add-keyword.button {
	height: auto;
	margin-top: 1px;
	padding: 3px 6px;
	color: #000;
	background: transparent;
	font-size: 14px;
	line-height: 1;
	vertical-align: top;
	text-decoration: none;
	cursor: pointer;
}

#wpseo-add-keyword-popup-title {
	margin: 1em 0;
	font-size: 1.3em;
}

/**
 * Edit Snippet Button focus style.
 *
 * This should be abstracted and applied to all buttons.
 * Or, maybe, take advantage of the `.button` CSS class in WordPress.
 */
.snippet-editor__button.snippet-editor__edit-button:focus {
	border-color: #5b9dd9;
	outline: none;
	color: #23282d;
	background-color: #fafafa;
	box-shadow: 0 0 3px rgba(0, 115, 170, 0.8);
}

.yoast_help.yoast-help-button {
	overflow: visible;
	position: relative;
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	color: #72777c;
	background: transparent;
	box-shadow: none;
	vertical-align: top;
	/* IE 11 */
	cursor: pointer;
}

.wpseotab .yoast_help.yoast-help-button {
	float: right;
	margin-top: -6px;
}

.wpseo-admin-page .yoast_help.yoast-help-button {
	margin-right: 6px;
}

.yoast_help.yoast-help-button:before {
	position: absolute;
	top: 0;
	left: 0;
	padding: 4px;
	content: "\f223";
}

.yoast_help.yoast-help-button:hover,
.yoast_help.yoast-help-button:focus {
	color: #0073aa;
}

.yoast_help.yoast-help-button:focus:before {
	border-radius: 100%;
	box-shadow: 0 0 0 1px #5b9dd9,
	0 0 2px 1px rgba(30, 140, 190, 0.8);
}

.yoast-help-panel {
	display: none;
	max-width: 30em !important;
	margin: -2px 0 2em !important;
	padding: 0;
	font-weight: normal;
	white-space: normal;
}

.wpseo-admin-page .subsubsub li {
	display: inline;
	max-width: none;
}

.yoast-seo-help-container {
	float: left;
	width: 100%;
	max-width: none;
}

.yoast-seo-help-container .yoast-help-panel {
	margin: 0.5em 0 !important;
}

.wpseo_content_wrapper p.search-box {
	margin: 10px 0 5px 0;
}

.wpseo-metabox-tabs .active a {
	color: #333;
}

#wpseotab .ui-widget-content .ui-state-hover {
	border: 1px solid #dfdfdf;
	color: #333;
	background: #f1f1f1;
}

/**
 * Lines below came from taxonomy-meta.css
 */
.wpseo-taxonomy-form tr,
.wpseo-taxonomy-form th,
.wpseo-taxonomy-form td {
	vertical-align: top;
}

.inside .wpseotab .form-table.wpseo-taxonomy-form th {
	width: 200px !important;
}

.yst-traffic-light-container {
	display: block;
	height: 30px;
}

.yst-traffic-light {
	width: 19px;
	height: 30px;
	margin: 0 0 0 5px;
}

.yst-traffic-light .traffic-light-color {
	display: none;
}

.yst-traffic-light.init .traffic-light-init {
	display: inline;
}

.yst-traffic-light.bad .traffic-light-red {
	display: inline;
}

.yst-traffic-light.ok .traffic-light-orange {
	display: inline;
}

.yst-traffic-light.good .traffic-light-green {
	display: inline;
}

.yst-traffic-light.na .traffic-light-empty {
	display: inline;
}

/**
 * Traffic light in publish box
 */
#wpseo-score {
	float: left;
	margin: 0 5px 0 -5px;
}

@function inline-svg($svg) {
	@return 'data:image/svg+xml;charset=utf8,#{_encode( $svg )}';
}

@function svg-icon-yoast($color){
	@return inline-svg('<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="#{$color}" d="M403 218h691l-26 72h-665q-110 0-188.5 79t-78.5 189v771q0 95 60.5 169.5t153.5 93.5q23 5 98 5v72h-45q-140 0-239.5-100t-99.5-240v-771q0-140 99.5-240t239.5-100zm851-218h247l-482 1294q-23 61-40.5 103.5t-45 98-54 93.5-64.5 78.5-79.5 65-95.5 41-116 18.5v-195q163-26 220-182 20-52 20-105 0-54-20-106l-285-733h228l187 585zm474 558v1111h-795q37-55 45-73h678v-1038q0-85-49.5-155t-129.5-99l25-67q101 34 163.5 123.5t62.5 197.5z"/></svg>');
}

/**
* Content and SEO score in publish bar
*/
.yoast-seo-score .yoast-logo.svg {
	float: left;
	width: 18px;
	margin-right: 5px;
	height: 18px;
	background-image: url(svg-icon-yoast(#999));
	background-repeat: no-repeat;
	background-size: 18px;
}

.yoast-seo-score .yoast-logo.svg.good {
	$color: #7ad03a;
	background-image: url(svg-icon-yoast($color));
}
.yoast-seo-score .yoast-logo.svg.ok {
	$color: #ee7c1b;
	background-image: url(svg-icon-yoast($color));
}
.yoast-seo-score .yoast-logo.svg.bad {
	$color: #dc3232;
	background-image: url(svg-icon-yoast($color));
}
.yoast-seo-score .yoast-logo.svg.na {
	$color: #999;
	background-image: url(svg-icon-yoast($color));
}
.yoast-seo-score .yoast-logo.svg.noindex {
	$color: #1e8cbe;
	background-image: url(svg-icon-yoast($color));
}

body.rtl #wpseo-score {
	float: right;
	margin: 0 -5px 0 5px;
}

#poststuff.wpseo-taxonomy-metabox-postbox {
	padding-top: 0;
}

.term-php .wpseo-taxonomy-metabox-postbox h2 {
	border-bottom: 1px solid #eee;
}
