body.toplevel_page_wpseo_dashboard {
	.notice {
		display:none;
	}

	.yoast-dashboard-notice, .yoast-webinar-dashboard{
		background: white;
		border: 1px solid #E0B3CC;
		box-shadow: 0px 4px 6px -1px #0000001A;
		padding: 1rem;
		border-radius: 0.375rem;
	}

	.yoast-dashboard-notice .yoast-icon {
		background-color: var(--yoast-color-primary);
		mask-image: var(--yoast-svg-icon-yoast);
		-webkit-mask-image: var(--yoast-svg-icon-yoast);
		mask-size: 100% 100%;
		-webkit-mask-size: 100% 100%;
		display: inline-block;
		width: 17px;
		height: 17px;
		margin-right: 8px;
	}

	.yoast-dashboard-notice .notice-dismiss {
		position: relative;
	}

	.yoast-dashboard-notice .notice-yoast img{
		display: none;
	}

	.yoast-dashboard-notice a{
		font-weight: 500;
	}

	.yoast-webinar-dashboard p{
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.yoast-webinar-dashboard .yoast-icon{
		width: 17px;
		height: 17px;
	}

	.yoast-webinar-dashboard h2{
		font-weight: 500;
		font-size: .8125rem;
		color: #1d2327;
	}

	.yoast-webinar-dashboard a{
		font-weight: 500;
		color: #4f46e5;
	}

	.yoast-webinar-dashboard .notice-yoast__container{
		padding-top: 0;
	}

	.yoast-webinar-dashboard .notice-dismiss {
		padding: 15px;
	}

	.yoast-webinar-dashboard-image {
		display: none;
	}

	@apply yst-bg-slate-100;

	/* Move WP footer behind our content. */
	z-index: -1;

	#wpcontent {
		padding-left: 0 !important;
	}

	#wpfooter {
		@apply yst-pr-4;

		@media (min-width: 768px) {
			@apply yst-pr-8;

			padding-left: 17rem;
		}
	}

	.wp-responsive-open #wpbody {
		@media screen and (max-width: 782px) {
			right: -190px; /* Override to not leave space between the mobile menu and the content. */
		}
	}

	#modal-search .yst-modal__close {
		margin-top: -0.25rem;
	}

	&.sticky-menu {
		.yst-root .yst-notifications--bottom-left {
			@media (min-width: 783px) and (max-width: 962px) {
				left: calc(160px + 2rem); /* Next to admin menu. 160px is the admin menu width. */
			}
		}

		&.folded, &.auto-fold {
			.yst-root .yst-notifications--bottom-left {
				@media (min-width: 783px) and (max-width: 963px) {
					left: calc(32px + 2rem); /* Next to admin menu. 32px is the collapsed admin menu width. */
				}
			}
		}

		&.folded {
			.yst-root .yst-notifications--bottom-left {
				@media (min-width: 962px) {
					left: calc(32px + 2rem); /* Next to admin menu. 32px is the collapsed admin menu width. */
				}
			}
		}
	}

	&:not(.sticky-menu) .wp-responsive-open .yst-root {
		.yst-notifications--bottom-left {
			@media (max-width: 783px) {
				left: calc(190px + 2rem); /* Next to admin menu. 190px is the responsive admin menu width. */
			}
		}
	}

	.yst-root {

		.yst-mobile-navigation__top {
			@media (min-width: 601px) and (max-width: 768px) {
				top: 46px;
			}

			@media (min-width: 783px) {
				@apply yst-hidden;
			}
		}

		.yst-mobile-navigation__dialog {
			z-index: 99999;
		}
	}
	/* RTL */

	&.rtl {
		.yst-root .yst-replacevar .emoji-select-popover {
			@apply yst-left-0 yst-right-auto;
		}
	}
}
