body.seo_page_wpseo_redirects {
	@apply yst-bg-slate-100;

	/* Move WP footer behind our content. */
	z-index: -1;

	#wpcontent {
		padding-left: 0 !important;
	}

	#wpfooter {
		@apply yst-pr-4;

		@media (min-width: 768px) {
			@apply yst-pr-8;

			padding-left: 17rem;
		}
	}

	.wp-responsive-open #wpbody {
		@media screen and (max-width: 782px) {
			right: -190px; /* Override to not leave space between the mobile menu and the content. */
		}
	}

	#modal-search .yst-modal__close {
		margin-top: -0.25rem;
	}

	&.sticky-menu {
		.yst-root .yst-notifications--bottom-left {
			@media (min-width: 783px) and (max-width: 962px) {
				left: calc(160px + 2rem); /* Next to admin menu. 160px is the admin menu width. */
			}
		}

		&.folded, &.auto-fold {
			.yst-root .yst-notifications--bottom-left {
				@media (min-width: 783px) and (max-width: 963px) {
					left: calc(32px + 2rem); /* Next to admin menu. 32px is the collapsed admin menu width. */
				}
			}
		}

		&.folded {
			.yst-root .yst-notifications--bottom-left {
				@media (min-width: 962px) {
					left: calc(32px + 2rem); /* Next to admin menu. 32px is the collapsed admin menu width. */
				}
			}
		}
	}

	&:not(.sticky-menu) .wp-responsive-open .yst-root {
		.yst-notifications--bottom-left {
			@media (max-width: 783px) {
				left: calc(190px + 2rem); /* Next to admin menu. 190px is the responsive admin menu width. */
			}
		}
	}

	.yst-root {
		.yst-notifications {
			max-height: calc(100% - 4rem - 32px); /* Extra 32px for the height of the WP admin bar. */

			@media (max-width: 782px) {
				max-height: calc(100% - 4rem - 48px); /* Extra 48px for the height of the mobile WP admin bar. */
			}
		}

		.yst-notifications--bottom-left {
			z-index: 9991; /* 1 above admin menu */

			@media (min-width: 783px) {
				left: calc(160px + 2rem); /* Next to admin menu. 160px is the admin menu width. */
			}
		}
		
		.yst-mobile-navigation__top {
			@media (min-width: 601px) and (max-width: 768px) {
				top: 46px;
			}

			@media (min-width: 783px) {
				@apply yst-hidden;
			}
		}

		.yst-mobile-navigation__dialog {
			z-index: 99999;
		}

		.yst-paper {
			/* custom for redirects page and reset WP styles */
			@apply yst-mt-3 yst-whitespace-normal yst-min-h-[unset] yst-mb-[unset] yst-align-[unset];
		}
	}

	.yst-table--minimal table  {
		th:first-child,
		td:first-child {
			max-width: 18%;
			width: 18%;
		}

		th:nth-child(2),
		td:nth-child(2) {
			max-width: 37%;
			width: 37%;
		}

		th:nth-child(3),
		td:nth-child(3) {
			max-width: 45%;
			width: 45%;
		}

		.yst-table-header {
			@apply yst-font-medium yst-text-slate-800;
		}

		.yst-table-cell {
			@apply yst-pt-5 yst-pb-5 yst-text-slate-500;
			.yst-checkbox__label {
				margin-inline-start: 1.5rem;
			}
			.yst-text-field > div:first-child {
				display: none !important;
			}
		}

		.yst-checkbox__label {
			margin-inline-start: 1rem;
		}

		.yst-table-header:first-child {
			padding-inline-start: 0.75rem;
		}
		.yst-table-cell:first-child {
			padding-inline-start: 0.75rem;
		}

		.yst-dropdown-menu__item--button {
			@apply yst-text-slate-600 hover:yst-text-slate-900 hover:yst-bg-slate-200 yst-justify-start yst-py-2 yst-px-3;
		}

		.yst-cell-edit-redirect {
			td {
				vertical-align: top;
			}
		}
	}

	.yst-search-block {
		.yst-text-field__input {
			@apply yst-pl-9;
		}
	}

	/* RTL */

	&.rtl {
		.yst-root .yst-replacevar .emoji-select-popover {
			@apply yst-left-0 yst-right-auto;
		}
	}

	#screen-meta-links {
		display: none;
	}
}
