body.toplevel_page_wpseo_dashboard {
	@apply yst-bg-slate-100;

	/* Move WP footer behind our content. */
	z-index: -1;

	#wpcontent {
		padding-left: 0 !important;
	}

	#wpfooter {
		@apply yst-pr-4;

		@media (min-width: 768px) {
			@apply yst-pr-8;

			padding-left: 17rem;
		}
	}

	.wp-responsive-open #wpbody {
		@media screen and (max-width: 782px) {
			right: -190px; /* Override to not leave space between the mobile menu and the content. */
		}
	}

	#modal-search .yst-modal__close {
		margin-top: -0.25rem;
	}

	&.sticky-menu {
		.yst-root .yst-notifications--bottom-left {
			@media (min-width: 783px) and (max-width: 962px) {
				left: calc(160px + 2rem); /* Next to admin menu. 160px is the admin menu width. */
			}
		}

		&.folded, &.auto-fold {
			.yst-root .yst-notifications--bottom-left {
				@media (min-width: 783px) and (max-width: 963px) {
					left: calc(32px + 2rem); /* Next to admin menu. 32px is the collapsed admin menu width. */
				}
			}
		}

		&.folded {
			.yst-root .yst-notifications--bottom-left {
				@media (min-width: 962px) {
					left: calc(32px + 2rem); /* Next to admin menu. 32px is the collapsed admin menu width. */
				}
			}
		}
	}

	&:not(.sticky-menu) .wp-responsive-open .yst-root {
		.yst-notifications--bottom-left {
			@media (max-width: 783px) {
				left: calc(190px + 2rem); /* Next to admin menu. 190px is the responsive admin menu width. */
			}
		}
	}

	.yst-root {

		.yst-mobile-navigation__top {
			@media (min-width: 601px) and (max-width: 768px) {
				top: 46px;
			}

			@media (min-width: 783px) {
				@apply yst-hidden;
			}
		}

		.yst-mobile-navigation__dialog {
			z-index: 99999;
		}

		.yst-paper {
			.button {
				/* .yst-button */
				@apply
				yst-inline-flex
				yst-items-center
				yst-py-2
				yst-px-3
				yst-border
				yst-shadow-sm
				yst-no-underline
				yst-cursor-pointer
				yst-rounded-md
				yst-text-sm
				yst-font-medium
				yst-leading-4

				focus:yst-outline-none
				focus:yst-ring-2
				focus:yst-ring-offset-2
				focus:yst-ring-primary-500

				disabled:yst-cursor-not-allowed
				disabled:yst-pointer-events-none
				disabled:yst-opacity-50;

				/* .yst-button--secondary */
				@apply
				yst-text-slate-800
				yst-bg-white
				yst-border-slate-300
				hover:yst-bg-slate-50;

				/* .yst-button--small */
				@apply
				yst-text-xs
				yst-leading-4
				yst-px-2.5
				yst-py-1.5;
			}

			.button-link {
				@apply
				yst-text-indigo-600
				yst-cursor-pointer
				yst-underline

				hover:yst-text-indigo-500
				focus:yst-text-indigo-500
				focus:yst-outline-none
				focus:yst-ring-1
				focus:yst-ring-offset-1
				focus:yst-ring-offset-transparent
				focus:yst-ring-indigo-600
				focus:yst-rounded-sm
				visited:yst-text-primary-500
				visited:hover:yst-text-primary-400;
			}
		}
	}
	/* RTL */

	&.rtl {
		.yst-root .yst-replacevar .emoji-select-popover {
			@apply yst-left-0 yst-right-auto;
		}
	}
}
