@import "@yoast/ui-library";

@tailwind base;
@tailwind components;
@tailwind utilities;

.seo_page_wpseo_settings {
	@apply yst-bg-gray-100;

	/* Move WP footer behind our content. */
	z-index: -1;

	#wpfooter {
		@apply yst-pr-4;

		@media (min-width: 768px) {
			@apply yst-pr-8;

			padding-left: 17rem;
		}

		@media (min-width: 1024px) {
			padding-left: 19rem;
		}
	}
}

@layer base {
	.yst-root {
		a {
			@apply focus:yst-shadow-none;
		}

		.yst-radio__input {
			@apply
			yst-transition-none
			yst-shadow-none
			checked:before:yst-hidden;
		}
	}
}

@layer components {
	.yst-root {
		.yst-notifications--bottom-left {
			left: calc(160px + 2rem); /* Next to admin menu. 160px is admin menu width */
			z-index: 9991; /* 1 above admin menu */
		}

		.yst-mobile-navigation__top {
			@media (min-width: 601px) and (max-width: 768px) {
				top: 46px;
			}
		}

		.yst-mobile-navigation__dialog {
			z-index: 99999;
		}

		.yst-replacevar {
			@apply yst-relative;
		}

		.yst-replacevar__label {
			@apply yst-mb-2;

			/* .yst-label */
			@apply
			yst-flex
			yst-text-sm
			yst-font-medium
			yst-text-gray-800;
		}

		.yst-replacevar__button-insert {
			@apply yst-mb-2;

			/* .yst-button */
			@apply
			yst-inline-flex
			yst-items-center
			yst-py-2
			yst-px-3
			yst-border
			yst-shadow-sm
			yst-no-underline
			yst-cursor-pointer
			yst-rounded-md
			yst-text-sm
			yst-font-medium
			yst-leading-4

			focus:yst-outline-none
			focus:yst-ring-2
			focus:yst-ring-offset-2
			focus:yst-ring-primary-500

			disabled:yst-cursor-not-allowed
			disabled:yst-pointer-events-none
			disabled:yst-opacity-50;

			/* .yst-button--secondary */
			@apply
			yst-text-gray-800
			yst-bg-white
			yst-border-gray-300

			hover:yst-bg-gray-50;
		}

		.yst-replacevar__editor {
			/* .yst-text-field */
			@apply
			yst-w-full
			yst-py-2
			yst-px-3
			yst-border
			yst-border-gray-300
			yst-rounded-md
			yst-shadow-sm
			yst-bg-white
			yst-text-sm
			yst-leading-6
			yst-text-gray-800
			yst-placeholder-gray-500
			focus-within:yst-outline-none
			focus-within:yst-ring-primary-500
			focus-within:yst-border-primary-500
			focus-within:yst-ring-2
			focus-within:yst-border-opacity-0;

			[data-popper-reference-hidden] {
				@apply
				yst-w-56
				yst-py-1
				yst-rounded-md
				yst-shadow-lg
				yst-bg-white
				yst-ring-1
				yst-ring-black
				yst-ring-opacity-5
				focus:yst-outline-none
				yst-z-10;

				div > div {
					@apply
					yst-block
					yst-px-4
					yst-py-2
					yst-text-sm
					yst-text-gray-800
					yst-no-underline
					hover:yst-bg-gray-100
					hover:yst-text-gray-900
					yst-cursor-pointer;

					&[aria-selected] {
						@apply yst-bg-gray-100 yst-text-gray-900
					}
				}
			}
		}

		.yst-replacevar--description .yst-replacevar__editor {
			min-height: 5rem;
		}

		.yst-replacevar__mention {
			@apply
			yst-inline-flex
			yst-py-0.5
			yst-px-2
			yst-mx-0.5
			yst-rounded-full
			yst-items-center
			yst-leading-tight
			yst-text-xs
			yst-font-medium
			yst-bg-gray-100
			yst-text-gray-800;
		}

		.yst-sidebar {
			/* WP Admin bar height + some padding. */
			top: calc(32px + 2rem);
		}

		.yst-sidebar-nav {
			/* WP Admin menu width + some padding. */
			left: calc(160px + 2rem);
		}
	}

	.folded .yst-root .yst-sidebar-nav {
		/* Collapsed WP Admin menu width + some padding. */
		left: calc(36px + 2rem);
	}

	.auto-fold .yst-root .yst-sidebar-nav {
		@media (max-width: 960px) {
			/* Auto-collapsed WP Admin menu width + some padding. */
			left: calc(36px + 2rem);
		}

		@media (min-width: 768px) and (max-width: 782px) {
			/* Collapsed WP Admin menu, only some padding. */
			left: 2rem;
		}
	}
}
