@import "@yoast/ui-library";

@tailwind base;
@tailwind components;
@tailwind utilities;

.seo_page_wpseo_page_support {
	@apply yst-bg-slate-100;

	/* Move WP footer behind our content. */
	z-index: -1;

	#wpcontent {
		padding-left: 0 !important;
	}

	#wpfooter {
		@apply yst-pr-4;

		@media (min-width: 768px) {
			@apply yst-pr-8;

			padding-left: 17rem;
		}
	}

	.wp-responsive-open #wpbody {
		@media screen and (max-width: 782px) {
			right: -190px; /* Override to not leave space between the mobile menu and the content. */
		}
	}

	input[type=date],
	input[type=datetime-local],
	input[type=datetime],
	input[type=email],
	input[type=month],
	input[type=number],
	input[type=password],
	input[type=search],
	input[type=tel],
	input[type=text],
	input[type=time],
	input[type=url],
	input[type=week] {
		@apply yst-min-h-0;
	}
}

@layer base {
	.yst-root {
		/* Reset some WP common styles */
		a {
			@apply focus:yst-shadow-none;
		}

		.yst-radio__input {
			@apply
			yst-transition-none
			yst-shadow-none
			checked:before:yst-hidden;
		}

		.yst-modal {
			z-index: 100000 !important;
		}

		li, dd {
			margin-bottom: 0;
		}
	}
}
