@import "@yoast/ui-library";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* non-tailwind-preflight custom base styles: */
@layer base {
	.yst-root {
		a {
			text-decoration: underline;
			color: #1D4ED8;
		}

		a:visited {
			color: #a4286a;
		}
	}
}

@layer components {
	.yst-root {
		/* Custom button classes because we're not using a Button component. This will ensure all buttons being exactly the same. */
		.yst-button {
			@apply
				yst-inline-flex yst-justify-center yst-py-2 yst-px-3 yst-border yst-shadow-sm yst-rounded-md yst-text-sm yst-font-medium yst-leading-4 yst-no-underline focus:yst-outline-none focus:yst-ring-2 focus:yst-ring-offset-2 focus:yst-ring-primary-500;
		}

		.yst-button--primary {
			@apply yst-text-white yst-bg-primary-500 yst-border-transparent hover:yst-bg-primary-700 disabled:yst-bg-primary-700
		}

		.yst-button--secondary {
			@apply yst-text-gray-700 yst-bg-white yst-border-gray-300 hover:yst-bg-gray-50;
		}

		.yst-button--danger {
			@apply yst-text-white yst-bg-red-600 yst-border-transparent hover:yst-bg-red-700;
		}

		.yst-button--remove {
			@apply yst-text-red-600 yst-underline yst-rounded-md yst-px-1.5 yst-py-1 focus:yst-outline-none;
		}

		.yst-button--small {
			@apply yst-text-[12px] yst-px-2.5 yst-py-1.5;
		}

		.yst-button--disabled {
			@apply
				yst-opacity-50 yst-cursor-not-allowed yst-pointer-events-none focus:yst-ring-0;
		}

		/* Override aggressive WordPress inputs styling */
		.yst-input {
			@apply yst-py-2 yst-px-3 yst-border yst-bg-white yst-rounded-md yst-shadow-sm yst-text-sm yst-placeholder-gray-400 !important;
		}

		.yst-card {
			@apply
				yst-max-w-[715px]
				yst-mt-6
				yst-p-8
				yst-rounded-lg
				yst-bg-white
				yst-shadow;
		}

		.yst-radio {
			@apply
				yst-flex
				yst-items-center
				!important;
		}

		.yst-radio__input {
			@apply
				yst-w-4
				yst-h-4
				yst-m-0
				yst-border
				yst-transition-none
				yst-rounded-full
				yst-appearance-none
				yst-shadow-none
				yst-text-primary-500
				yst-border-gray-300

				focus:yst-outline-none
				focus:yst-ring-2
				focus:yst-ring-offset-2
				focus:yst-ring-offset-white
				focus:yst-ring-primary-500
				checked:yst-border-[5px]
				checked:yst-border-primary-500
				before:yst-hidden
				!important;
		}

		.yst-radio__label {
			@apply yst-ml-3 yst-font-medium yst-text-gray-700 !important;
		}

		.yst-radio-group__label {
			@apply yst-mb-1 !important;
		}

		.yst-radio-group__options {
			@apply
				yst-flex
				yst-flex-col
				yst-gap-2
				!important;
		}

		.yst-radio-group__description {
			@apply yst-mb-4 !important;
		}
	}
}
