@import "../../node_modules/sassdash/scss/sassdash";
@import "wp";
@import "../../node_modules/yoast-components/css/all.scss";

.yoast-wizard {

	&-return-link {
		/* lighter #555d66 */
		color: #646d78;
		margin: 1em 0;
		display: block;
		text-align: center;
	}

	&-mailchimp {

		&-message {

			&-error {
				color: #dc3232;
			}

			&-success {
				color: #008a00;
			}
		}
	}

	&-input {
		padding-bottom: 0.5em;

		&__select {
		margin: 1em 0;
		font-size: 14px;
		}
	}

	&-image-upload-container {

		&__image {
			max-width: 151px;
		}

		&-buttons {
			margin-top: 1em;

			&__remove {
				margin-left: 1em;
			}
		}
		&-description {
			display: block;
		}
	}

}
.ie9 .yoast-wizard--stepper {
	display: none;
}
