@layer components {
	.yst-root {
		.yst-modal {
			@apply yst-fixed yst-inset-0 yst-z-10 yst-overflow-y-auto;
		}

		.yst-modal__body {
			@apply yst-min-h-screen yst-px-4 yst-text-center;
		}

		.yst-modal__overlay {
			@apply yst-fixed yst-inset-0 yst-bg-gray-500 yst-bg-opacity-75 yst-transition-opacity;
		}

		.yst-modal__center {
			@apply yst-inline-block yst-h-screen yst-align-middle;
		}

		.yst-modal__content {
			@apply
			yst-inline-block
			yst-w-full
			yst-max-w-lg
			yst-px-4
			yst-pt-5
			yst-pb-4
			yst-overflow-hidden
			yst-align-middle
			yst-bg-white
			yst-rounded-lg
			yst-text-left
			yst-shadow-xl
			yst-transform
			yst-transition-all;
		}

		.yst-modal__close {
			@apply yst-block yst-absolute yst-top-4 yst-right-4;
		}

		.yst-modal__close-button {
			@apply
			yst-bg-white
			yst-text-gray-400
			yst-rounded-md
			hover:yst-text-gray-500
			focus:yst-outline-none
			focus:yst-ring-2
			focus:yst-ring-offset-2
			focus:yst-ring-indigo-500;
		}
	}
}
