@import "colors";

$scheme_home_primary:            $palette_pink;
$scheme_home_secondary:          $palette_pink_dark;
$scheme_home_tertiary:           $palette_purple;
$scheme_home_menu_primary:       $palette_pink_dark;
$scheme_home_menu_secondary:     $palette_pink;

$scheme_about_primary:           $palette_pink;
$scheme_about_secondary:         $palette_pink_dark;
$scheme_about_tertiary:          $palette_purple;
$scheme_about_menu_primary:      $palette_pink_dark;
$scheme_about_menu_secondary:    $palette_pink;

$scheme_academy_primary:         $palette_purple;
$scheme_academy_secondary:       $palette_pink_dark;
$scheme_academy_tertiary:        $palette_pink;
$scheme_academy_menu_primary:    $palette_pink_dark;
$scheme_academy_menu_secondary:  $palette_purple;

$scheme_software_primary:        $palette_blue;
$scheme_software_secondary:      $palette_green_blue;
$scheme_software_tertiary:       $palette_green;
$scheme_software_menu_primary:   $palette_green_blue;
$scheme_software_menu_secondary: $palette_blue;

$scheme_review_primary:          $palette_green_blue;
$scheme_review_secondary:        $palette_green;
$scheme_review_tertiary:         $palette_blue;
$scheme_review_menu_primary:     $palette_green_blue;
$scheme_review_menu_secondary:   $palette_green;
