/* Cards in Insights panel/modal */
.yoast-insights-row {
	margin-top: 24px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 24px;
}

.yoast-insights-row--columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 24px;

}

/* Only when Insights is opened in a modal */
@media(min-width: 782px) {
	.yoast-modal-content .yoast-insights-row {
		margin-top: inherit;
		border-top: none;
		padding-top: inherit;
		padding-bottom: 24px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		margin-bottom: 24px;
	}
}

.yoast-insights-card__content {
	display: flex;
}

.yoast-insights-card__score {
	flex-shrink: 0;
	margin-right: 2em;
	text-align: center;
}

.yoast-insights-card__amount {
	display: block;
	font-size: 3.5em;
	line-height: 1;
}
