@layer components {
	.yst-root {
		.yst-select-field {}

		.yst-select-field--disabled {
			.yst-select-field__label,
			.yst-select-field__description {
				@apply yst-opacity-50 yst-cursor-not-allowed;
			}
		}

		.yst-select-field__options {
			@apply
			yst-flex
			yst-flex-col
			yst-gap-3;
		}

		.yst-select-field__description {
			@apply yst-mt-2;
		}

		.yst-select-field__error {
			@apply yst-mt-2 yst-text-red-600;
		}
	}
}
