.yoast-badge {
	display: inline-block;
	min-height: 16px;
	padding: 0 8px;
	border-radius: 8px;
	font-weight: 600;
	font-size: 10px;
	line-height: 1.6;
}

.yoast-new-badge {
	background-color: #cce5ff;
	color: #004973;
}

.yoast-badge__in-label {
	margin-left: 8px;
	vertical-align: text-top;
}
