@import "../../style-guide/colors";

$prefix: "yoast-wizard";

body {
	margin: 0;
	padding: 0;
}

#container {
	max-width: 1660px;
	margin: 0 auto;
}

.#{ $prefix }-body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 80%;
	max-width: 60em;
	margin: 1rem auto 4rem;

	@media screen and ( max-width: 768px ) {
		width: auto;
		margin: 0;
	}
}

.#{ $prefix }__logo {
	margin: 0 auto;
	display: block;
}

.#{ $prefix } {
	text-align: left;
	min-height: 20px;
	background: $color_white;
	padding: 2em;

	@media screen and ( max-width: 768px ) {
		padding: 1em 1em 2em;
	}

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;

	&--header {
		text-align: center;

		&--page-title {
			color: $color_pink_dark;
			margin: 0 0 -16px;
			font-size: 1.25em;
			letter-spacing: 0.03em;
			line-height: 2.5;
			font-weight: normal;
			padding: 0 8px;

			@media screen and ( max-width: 768px ) {
				font-size: 1.5em;
				line-height: 1.25;
			}
		}
	}

	&--navigation {
		text-align: right;
		width: 100%;
	}

	&--button {
		margin-top: 1em;

		&__next {
			margin-left: 1em;

			button:hover,
			button:focus {
				background-color: $color_purple_dark !important;

				div {
					background-color: transparent !important;
				}
			}
		}

		&__previous {
			button:focus {
				background: $color_grey !important;
			}

			button:focus:active {
				background: transparent !important;
			}

			button:hover > div > span,
			button:focus > div > span {
				color: $color_black !important;
			}
		}

	}

	&--step {
		&__active {
			@media screen and ( max-width: 768px ) {
				width: 38px;
				overflow: hidden;

				div {
					display: inline-block !important;
					vertical-align: middle;
				}

				div > span > span {
					display: block !important;
					margin-left: -7px;
					padding-right: 99px !important;
				}
			}
		}

		&__inactive {
			div {
				pointer-events: none;
			}

			@media screen and ( max-width: 768px ) {
				display: none !important;
			}
		}
	}

	&--step--container {
		&:focus {
			outline: none;
		}

		h1 {
			color: $color_pink_dark;
			margin: 0;
			font-size: 2.25em;
			letter-spacing: 0.03em;
			line-height: 3.68rem;
			font-weight: 100;

			@media screen and ( max-width: 768px ) {
				font-size: 2em;
				line-height: 1.25;
			}
		}

		h2 {
			color: $color_pink_dark;
			font-size: 1.375em;
			font-weight: 100;
		}
	}

	&--stepper {
		width: 100%;
		margin: auto;
	}

	&-overlay {
		z-index: 10;
		opacity: 0.2;
		background-color: $color_black;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		color: $color_white;
		text-align: center;
		width: 100%;

		&-loader {
			position: relative;
		}
	}

	&-container {
		border: 1px solid $color_border;

		text-align: left;
		min-height: 20px;
		position: relative;

		box-shadow: rgba( $color_black, .15 ) 0 3px 10px, rgba( $color_black, .2 ) 0 3px 10px;

		&--no-navigation {
			margin-top: 40px;

			.#{ $prefix } {
				padding-top: 3em;
			}
		}

		@media screen and ( max-width: 768px ) {
			box-shadow: none;
		}

		fieldset {
			border: 0;
			margin: 1em 0;
		}
	}

	&-text-input {
		font-size: 14px;
		padding-bottom: 0.5em;

		&-label {
			cursor: pointer;
			display: block;
			margin: 0.5em 0 0;
			font-weight: bold;
			font-size: 14px;
		}

		[type="text"] {
			width: 100%;
			max-width: 450px;
			box-sizing: border-box;
		}
	}

	&-field-description {
		font-weight: bold;
	}

	input {
		line-height: 140%;
		font-size: 14px;
		margin: 0.5em 0;
		padding: 5px;
	}

	label {
		cursor: pointer;
	}

	input[type="radio"] {
		margin: 0.3em 0.7em 0.3em 0;
		vertical-align: middle;
	}

	&-input {
		&__explanation {
			color: $color_grey_dark;
			margin-top: 0;
			font-style: italic;
		}

		&-radio {
			font-size: 14px;

			&-option {
				label {
					padding-top: 2px;
				}
			}

			&-separator {
				padding: 0;

				input {
					/* visually hide the radio buttons but keep them accessible */
					position: absolute;
					left: -9999em;
					width: 1px;
					height: 1px;

					& + label {
						float: left;
						width: 30px !important;
						margin: 0 5px 5px 0 !important;
						padding: 6px 3px;
						border: 1px solid $color_button_border;
						/* Don't change: these mimic Google's font and font size for titles */
						font-family: Arial, Helvetica, sans-serif !important;
						font-size: 18px !important;
						line-height: 24px;
						text-align: center;
						cursor: pointer;
					}

					&:checked + label {
						border: 1px solid $color_pink_dark;
						background-color: $color_white;
						box-shadow: inset 0 0 0 2px $color_pink_dark;
					}

					&:checked + label,
					&:focus + label {
						border-radius: 10px;
						border-bottom-right-radius: 0;
					}
				}
			}
		}
	}
}

/* Responsive videos. */
/* Other common aspect ratios: 75% = 4:3, 66.66% = 3:2, 62.5% = 8:5 */
.yoast-video-container-max-width {
	max-width: 560px;
}

.yoast-video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	overflow: hidden;
}

.yoast-video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.#{ $prefix }-notice {
	&__error {
		margin-bottom: 15px;
		padding: 12px;
		border-left: 4px solid $color_bad;
		background: #fff;
		box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
	}
}

.#{ $prefix }-content-container {
	max-width: 560px;

	&.#{ $prefix }-content-container__is-full-width {
		max-width: none;
	}
}
