$prefix: "yoast-wizard";

body {
  background: #f0f0f0;
  font-family: "Open Sans", sans-serif;
}

.#{$prefix}-body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  margin: 1rem auto 4rem;

}

#YoastLogo {
  margin: 0 auto;
  display: block;
}

.#{$prefix} {
  text-align: left;
  min-height: 20px;
  background: #fff;
  padding: 1em;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;

  &--navigation {
    text-align: right;
    width: 100%;
  }

  &--button {
    margin-top: 1em;

    &__next {
      margin-left: 1em;
    }
  }

  &--step {
    &__active {
      @media (max-width: 768px) {
        text-indent: -9999px;
        div > span > span {
          padding-right: 0 !important;
        }
      }

      svg {
        color: #5D237A;
        fill: #5D237A;
      }
    }
    &__inactive {
      @media (max-width: 768px) {
        display: none !important;
      }
    }
  }

  &--step--container {
    h1 {
      color: #a4286a;
      margin-top: 0;
      margin-bottom: 0.1em;
      font-size: 2.75em;
      letter-spacing: normal;
      line-height: 3.68rem;
      font-weight: 300;
    }
  }

  &--stepper {
    width: 100%;
    margin: auto;
  }

  &-overlay {
    z-index: 10;
    opacity: 0.2;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: #ffffff;
    text-align: center;
    width: 100%;

    &-loader {
      position: relative;
    }
  }

  &-container {
    border: 1px solid #CCC;

    text-align: left;
    min-height: 20px;
    position: relative;

    box-shadow: rgba(0, 0, 0, 0.156863) 0 3px 10px, rgba(0, 0, 0, 0.227451) 0 3px 10px;

    fieldset {
      border: 0;
      margin: 1em 0;
    }
  }

  &-text-input {
    font-size: 14px;
    padding-bottom: 0.5em;

    &-label {
      cursor: pointer;
      display: block;
      margin: 0.5em 0 0;
      font-weight: bold;
    }

    &-field {
      width: 100%;
      max-width: 300px;
      box-sizing: border-box;
    }
  }

  &-field-description {
    font-weight: bold;
  }

  input {
    line-height: 140%;
    font-size: 14px;
    margin: 0.5em 0;
    padding: 5px;
  }

  label {
    cursor: pointer;
  }

  input[type="radio"] {
    margin-right: 0.7em;
    margin-top: 1px;
    vertical-align: middle;
  }

  &-input {
    &__explanation {
      color: #555555;
      margin-top: 0;
      font-style: italic;
    }

    &-radio {
      font-size: 14px;

      &-option {
        label {
          padding-top: 2px;
        }
      }

      &-separator {
        padding: 0;

        input {
          /* visually hide the radio buttons but keep them accessible */
          position: absolute;
          left: -9999em;
          width: 1px;
          height: 1px;

          & + label {
            float: left;
            width: 30px !important;
            margin: 0 5px 5px 0 !important;
            padding: 9px 6px;
            border: 1px solid #ccc;
            /* Don't change: these mimic Google's font and font size for titles */
            font-family: Arial, Helvetica, sans-serif !important;
            font-size: 18px !important;
            line-height: 24px;
            text-align: center;
            cursor: pointer;
          }
          &:checked + label {
            border: 1px solid #a4286a;
            background-color: #fff;
            box-shadow: inset 0 0 0 2px #a4286a;
          }
          &:checked + label,
          &:focus + label {
            border-radius: 10px;
            border-bottom-right-radius: 0;
          }
        }
      }
    }
  }

}
