:root {
    --color-placeholder: #707070;
}

.yoast .yoast-field-group__textarea,
.yoast .yoast-field-group__inputfield {
    width: 100%;
    font-size: var(--font-size-default);
    padding: 8px;
    background: white;
    border: var(--border-default);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 0px;
}

.yoast-field-group--upload .yoast-field-group__inputfield {
    margin-bottom: 8px;
}

.yoast-field-group__inputfield {
    height: 40px;
}

.yoast-field-group__textarea {
    min-height: 200px;
}


.yoast input+ .description,
.yoast-field-group .description + input,
.yoast-field-group__inputfield + .description,
.yoast-field-group .description + .yoast-field-group__inputfield{
    margin-top: 8px;
    margin-bottom: 24px;
}

::placeholder,
::-webkit-input-placeholder,
::-ms-input-placeholder{
    color: var(--color-placeholder);
}
