.yoast-field-group__select {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.yoast-field-group select,
.yoast-field-group__select select,
.select2-container.select2-container--default {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    font-size: var(--font-size-default);
    padding: 5px 8px;
    background-color: white;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 8"><path d="M1.4 0L6 4.6 10.6 0 12 1.4 6 7.5 0 1.4z"/></svg>');
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-size: 10px auto;
    border-radius: 0;
    border: var(--border-default);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 300px;
    display: block;
    min-height: 2.8em;
}

.yoast-field-group select,
.yoast-field-group__select select {
    line-height: 1.9;
    padding-right: 40px;
}

.yoast-field-group select.yoast-select--inline {
	display: inline-block;
}

.select2-container.select2-container--default {
    max-width: 100%;
}

.select2-container--default.select2-container--open:not(.select2) {
    max-width: 0;
}

.yoast-field-group .select2-container--default.select2-container--focus .select2-selection--multiple,
.yoast-field-group .select2-container--default .select2-selection--multiple,
.yoast-field-group .select2-container--default .select2-selection--single {
    outline: inherit;
    border: 0;
    background-color: transparent;
}

.yoast-field-group .select2-container--default .select2-selection--single .select2-selection__arrow {
	display: none;
}

.select2-container--default .select2-selection {
    border: 0;
    min-height: 0;
}

.select2-container--default .select2-selection ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 5px 4px;
    list-style: none;
}

.yoast-field-group .select2-container--default .select2-selection .select2-selection__choice {
    background-color: var(--color-primary);
    border: 0;
    border-radius: 12px;
    color: var(--color-white);
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 7px;
    margin-right: 8px;
    line-height: 1.7;
    font-weight: 500;
}

.yoast-field-group .select2-container--default .select2-selection .select2-selection__choice__remove {
    margin-right: 8px;
    color: var(--color-white);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: var(--color-white);
}

.select2-container .select2-dropdown {
    border-color: var(--color-border--default);
    border-radius: 0;
}

.select2-container.select2-container--open .select2-dropdown {
    top: -2px;
    left: -1px;
}

.select2-container .select2-results__option {
    padding: 8px;
    border-top: var(--border-default);
}

.select2-container--default .select2-results__option.select2-results__option--highlighted[aria-selected] {
    background-color: var(--color-primary-lighter);
    color: var(--color-font-default);
}

.select2-container--default .select2-results__option.select2-results__option[aria-selected="true"] {
    background-color: var(--color-primary);
    color: var(--color-white);
}
