.App {
	display: flex;
	align-content: space-between;
}

.content-sidebar-wrap {
	flex: 1;
	padding: 20px 10px 20px 20px;
}

.overallScore-container {
	flex: 1;
	padding: 20px 20px 20px 10px;
}

#snippet_preview {
	min-width: 600px;
}

.inputForm {
	margin-bottom: 16px;
}

#refresh-analysis {
	padding: 8px;
	margin-top: 8px;
}

.inputForm label {
	width: 100%;
	color: #777;
	line-height: 20px;
	text-transform: capitalize;
}

.inputForm input {
	line-height: 20px;
	margin: 5px 0;
}

.inputForm textarea {
	height: 400px;
	margin: 5px 0;
	float: left;
}

.inputForm input,
.inputForm textarea {
	width: 100%;
	padding: 5px;
	margin: 5px 5px 5px 0;
	font-size: 14px;
	display: block
}

.inputForm label {
	display: block;
	font-size: 14px;
	padding-top: 10px;
	font-weight: bold;
	vertical-align: text-bottom
}

pre {
	white-space: pre-wrap;
}

/* overall score */

#overallScore #score_circle {
	fill: #999;
}

#overallScore #score_circle_shadow {
	fill: #777;
}

#overallScore.good #score_circle {
	fill: #9fda4f;
}

#overallScore.good #score_circle_shadow {
	fill: #77b227;
}

#overallScore.ok #score_circle {
	fill: #ffb81e;
}

#overallScore.ok #score_circle_shadow {
	fill: #f49a00;
}

#overallScore.bad #score_circle {
	fill: #ff4e47;
}

#overallScore.bad #score_circle_shadow {
	fill: #ed261f;
}
