html {
	font-family: sans-serif;
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0;
}

body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	background-color: #f1f1f1;
}

#root {
	padding: 24px;
}

*, *:after, *:before {
	box-sizing: inherit;
}

.yoast-text-mark {
	background-color: #e1bee7;
}

.yoast-text-mark__highlight {
	background-color: #4a148c;
	color: white;
}
