:root {
	--color-default: #404040;
	--color-primary: #a4286a;
	--color-secondary: #f7f7f7;
	--color-white: #fff;
	--color-green: #6EA029;
	--color-primary-darker: #7b1e50;
	--color-secondary-darker: #d9d9d9;
	--color-button-upsell: #FEC228;
	--color-button-upsell-hover: #F2AE01;

	--color-link : #006dac;


	
}