:root {
	--color-default: #404040;
	--color-primary: rgb(164, 40, 106);
	--color-secondary: #f7f7f7;
	--color-white: #fff;
	--color-green: #6EA029;

	--color-button-upsell: #FEC228;
	--color-button-upsell-hover: #F2AE01;

	--color-link : #006dac;



}