@layer components {
	.yst-root {
		.yst-skeleton-loader {
			@apply
			yst-block
			yst-relative
			yst-h-auto
			yst-w-fit
			yst-overflow-hidden
			yst-bg-slate-200
			yst-rounded;

			&::after {
				animation: wave 2.5s linear 0.5s infinite;
				background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.07), transparent);
				content: "";

				@apply
				yst-absolute
				yst-inset-0
				yst--translate-x-full;

				@keyframes wave {
					0% {
						transform: translateX(-100%);
					}
					50%, 100% {
						transform: translateX(100%);
					}
				}
			}
		}
	}
}
