.yoast-feature {
	max-width: 600px;
}

.yoast-toggle__item {
	display: flex;
	justify-content: space-between;
	padding-bottom: 16px;
	border-bottom: 1px solid var(--color-border);
	margin-bottom: 16px;
}

.yoast-toggle__item-title {
	display: flex;
	font-weight: bold;
}

.yoast-toggle input[type="checkbox"], .yoast-toggle-inverse input[type="checkbox"] {
	display: none;
}

.yoast-toggle__switch {
	display: inline-block;
	position: relative;
	background-color: var(--color-inactive-grey);
	width: 34px;
	height: 14px;
	border-radius: 8px;
	margin-left: 8px;
	margin-right: 8px;
}

.yoast-toggle__switch::before {
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	background-color: var(--color-inactive-grey-light);
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.yoast-toggle input[type="checkbox"]:checked ~ .yoast-toggle__switch, .yoast-toggle-inverse input[type="checkbox"]:not(:checked) ~ .yoast-toggle__switch {
	background-color: var(--color-active-light);
}

.yoast-toggle input[type="checkbox"]:checked ~ .yoast-toggle__switch::before {
	background-color: var(--color-active);
	right: 0;
	left: initial;
}

.yoast-toggle-inverse input[type="checkbox"]:not(:checked) ~ .yoast-toggle__switch::before {
	background-color: var(--color-active);
	right: initial;
	left: 0;
}

.yoast-toggle input[type="checkbox"] ~ .yoast-toggle--inactive, .yoast-toggle-inverse input[type="checkbox"] ~ .yoast-toggle--inactive {
	color: var(--color-default-darker);
}

.yoast-toggle input[type="checkbox"] ~ .yoast-toggle--active, .yoast-toggle-inverse input[type="checkbox"] ~ .yoast-toggle--active {
	color: var(--color-inactive-text);
}

.yoast-toggle input[type="checkbox"]:checked ~ .yoast-toggle--inactive, .yoast-toggle-inverse input[type="checkbox"]:checked ~ .yoast-toggle--inactive {
	color: var(--color-inactive-text);
}

.yoast-toggle input[type="checkbox"]:checked ~ .yoast-toggle--active, .yoast-toggle-inverse input[type="checkbox"]:checked ~ .yoast-toggle--active {
	color: var(--color-default-darker);
}

