@import "../../css/colors";
@import "../../css/mixins";

$prefix: 'yoast-';

.#{$prefix}search-result-form {
  background-color: #fff;
  font-family: Arial, sans-serif;

  &__heading {
    padding: 8px 20px;
    font-size: 0.9rem;
    margin: 0 -20px 15px;
    border-bottom: 1px solid #f7f7f7;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #555;
  }

  &__label {
    display: block;
    width: 100%;
    margin-top: 1em;
  }

  &__field {
    width: 100%;
    border: 1px solid $color_input_border;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  &__description {
    width: 100%;
    height: 70px;
    border: 1px solid $color_input_border;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
  }

  &__progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin-top: 5px;
    height: 8px;
    width: 100%;

    &::-webkit-progress-bar {
      background-color: $color_progress_background;
      border: 1px solid $color_input_border;
    }
  }

  &__close-button {
    margin-top: 1em;
  }
}

@include progress-bar-color(".yoast-search-result-form__progress--bad", $color_bad);
@include progress-bar-color(".yoast-search-result-form__progress--ok", $color_ok);
@include progress-bar-color(".yoast-search-result-form__progress--good", $color_good);
