@layer components {
	.yst-root {
		.yst-textarea {
			@apply
			yst-w-full
			yst-py-2
			yst-px-3
			yst-border-0
			yst-ring-1
			yst-ring-inset
			yst-ring-slate-300
			yst-rounded-md
			yst-shadow-sm
			yst-bg-white
			yst-text-sm
			yst-text-slate-800
			focus:yst-outline-none
			focus:yst-ring-primary-500
			focus:yst-ring-2;
		}

		.yst-textarea--disabled {
			@apply
			yst-opacity-50
			yst-cursor-not-allowed
			focus:yst-ring-0;
		}
	}
}
