<ul class="wpseoanalysis">
    <% for (var i in scores) { %>
        <li class="score">
            <span class="wpseo-score-icon <%- scores[ i ].rating %>"></span>
            <span class="screen-reader-text"><%= scores[ i ].screenreaderText %></span>
            <span class="wpseo-score-text"><%= scores[ i ].text %></span>
        </li>
    <% } %>
</ul>
