@layer components {
	.yst-root {
		.yst-code {
			@apply
			yst-inline-block
			yst-text-xs
			yst-text-slate-900
			yst-bg-slate-200
			yst-p-1
			yst-m-0
			yst-rounded;
		}

		.yst-code--block {
			@apply
			yst-block
			yst-my-2
			yst-px-2
			yst-py-1
			yst-whitespace-nowrap
			yst-max-w-full
			yst-overflow-x-auto;
		}
	}
}
