/*[class*="yoast-"] {*/
/*    box-sizing: border-box;*/
/*}*/

/*!* Mobile focus state needs work, leave this until fixed *!*/
/*[class*="yoast-"]:focus {*/
/*    box-shadow: 0 0 0 2px #007fff, 0 0 0 5px #bfdfff;*/
/*    border-radius: 0;*/
/*    outline: none;*/
/*}*/