/** On admin pages, the <body> Has the class "yoast", this way we can target only our own pages if something goes wrong. */

:root {
	--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--font-size-default: 14px;
	--font-weight-default: 400;
	--font-weight-bold: 600;
	--color-font-default: #404040;
}

.yoast h1, .yoast h2, .yoast h3,
.yoast-h1, .yoast-h2, .yoast-h3 {
	font-weight: 400;
	color: var(--color-primary);
	line-height: 1.2;
	margin: 0;
}

.yoast-h1 a, .yoast-h2 a, .yoast-h3 a {
	color: var(--color-primary);
	text-decoration: none;
}

.yoast h1,
.yoast-h1 {
	font-size: 24px;
}
.yoast h2,
.yoast-h2 {
	font-size: 20px;
}

.yoast h4,
.yoast-h3 {
	font-size: 16px;
}

.yoast p,
.yoast-paragraph {
	font-size: var(--font-size-default);
	margin-top: 0;
}
