@layer components {
	.yst-root {
		.yst-dropdown-menu__icon-trigger {
			@apply 
			yst-text-slate-400
			yst-rounded-full
			focus:yst-text-slate-600
			focus:yst-outline
			focus:yst-outline-2
			focus:yst-outline-offset-2
			focus:yst-outline-primary-500;
		}

		.yst-dropdown-menu__item--button {
			@apply
			yst-items-center
			yst-w-full
			yst-ring-0
			yst-rounded-none
			focus:yst-outline-none
			focus:yst-bg-slate-100
			hover:yst-bg-slate-100
			yst-outline-none;
		}

		.yst-dropdown-menu__list {
			@apply
			yst-w-56
			yst-rounded-md
			yst-border
			yst-border-slate-200
			yst-shadow-sm
			yst-bg-white
			yst-z-50
			focus-visible:yst-outline-none;
		}
	}
}