@layer components {
	.yst-title {
		@apply yst-text-gray-900 yst-font-medium;
	}

	.yst-title--1 {
		@apply yst-text-2xl;
	}

	.yst-title--2 {
		@apply yst-text-lg;
	}

	.yst-title--3 {
		@apply yst-text-sm;
	}

	.yst-title--4 {
		@apply yst-text-base;
	}
}

