@layer components {
	.yst-root {
		.yst-file-import {
			@apply yst-space-y-8;
		}

		.yst-file-import__feedback {
			@apply
			yst-rounded-md
			yst-shadow-md
			yst-border
			yst-border-gray-300
			yst-bg-white
			yst-p-4;
		}

		.yst-file-import__feedback-header {
			@apply yst-flex yst-items-start yst-space-x-4;
		}

		.yst-file-import__feedback-figure {
			@apply yst-bg-primary-100 yst-w-8 yst-h-8 yst-rounded-full yst-flex yst-items-center yst-justify-center;

			> svg {
				@apply yst-h-5 yst-w-5 yst-text-primary-500;
			}
		}

		.yst-file-import__feedback-title {
			@apply yst-block yst-text-gray-700 yst-font-medium yst-mb-0.5 yst-break-words;
		}

		.yst-file-import__feedback-description {
			@apply yst-block yst-text-xs yst-font-medium;
		}

		.yst-file-import__abort-button {
			@apply
			yst-flex-shrink-0
			yst-h-5
			yst-w-5
			yst-rounded-full
			yst-inline-flex
			yst-items-center
			yst-justify-center
			yst-text-gray-500
			yst-bg-gray-100
			hover:yst-bg-gray-200
			hover:yst-text-gray-600
			focus:yst-outline-none
			focus:yst-bg-primary-500
			focus:yst-text-white;

			> svg {
				@apply yst-h-3 yst-w-3;

				> path {
					stroke-width: 3;
				}
			}
		}

		.yst-file-import__status-icon {
			@apply yst-h-5 yst-w-5;
		}
	}
}
