/**
 * Create vendor-prefixed CSS in one go, e.g.
 *
   `@include vendor(border-radius, 4px);`
 *
 */
@mixin vendor($property, $value) {
    -webkit-#{$property}: $value;
       -moz-#{$property}: $value;
         -o-#{$property}: $value;
            #{$property}: $value;
}

@mixin rounded--small {
	border: 1px solid;
	border-radius: 10px;
	border-bottom-right-radius: 0;
}

@mixin rounded--large {
	border: 1px solid;
	border-radius: 30px;
	border-bottom-right-radius: 0;
}

@mixin rounded--nakedsmall {
	border-radius: 10px;
	border-bottom-right-radius: 0;
}

@mixin rounded--nakedlarge {
	border-radius: 30px;
	border-bottom-right-radius: 0;
}

@mixin clearfix {
	&:before, &:after {
		content: '';
		display: table;
	}

	&:after {
		clear: both;
	}
}
