@import "colors";
@import "mixins";
@import "icons";

$snippet_width: 600px;

// Default caret icon: top alignment only suitable for the Snippet Preview.
@mixin svg-caret-before($color) {
	background-image: url(svg-icon-caret-right($color));

	position: absolute;
	content: '';
	top: -3px;
	left: -22px;

	display: block;
	width: 24px;
	height: 24px;
	background-size: 25px;
}

@mixin svg-caret-before-rtl($color) {
	background-image: url(svg-icon-caret-left($color));
}

.yoast-section {
	width: auto;
	max-width: $snippet_width + 40;
}

/* css for snippet */

.snippet_container {
	@include clearfix;
}

.snippet-editor {

	&__view {
		clear: both;
		background: #fff;

		&-toggle {
			display: inline-block; /* Contain floated children and margins do not collapse. */
			background-color: $color_button;
			border: 1px solid $color_button_border;
			border-radius: 4px;
			margin-top: 10px;
			margin-left: 20px;
			vertical-align: top;
		}

		&-icon {
			$size: 31px; /* To match the Edit snippet button height. */
			width: $size;
			height: $size;
			float: left;
			cursor: pointer;
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: center, center;
			border: none;
			border-bottom: 4px solid transparent;
			outline: none; /* Reset native outline especially on webkit on Macs. */

			&:hover, &:focus {
				background-color: #ffffff;
				border-color: $color_caret_focus;
				transition: .15s color ease-in-out,.15s background-color ease-in-out,.15s border-color ease-in-out;
			}

			&--active {
				border-color: $color_caret;
				transition: .15s color ease-in-out,.15s background-color ease-in-out,.15s border-color ease-in-out;
			}

			// Adjust the tooltips position because buttons have a 4px bottom border.
			&.yoast-tooltip:before {
				bottom: -10px
			}

			&.yoast-tooltip:after {
				margin-top: 10px;
			}
		}

		&-icon-desktop {
			background-image: url(svg-icon-desktop($color_caret));
			background-size: 18px;

			&:hover, &:focus {
				background-image: url( svg-icon-desktop( $color_caret_focus ) );
			}
		}

		&-icon-mobile {
			background-image: url(svg-icon-mobile-phone($color_caret));
			background-size: 22px;

			&:hover, &:focus {
				background-image: url( svg-icon-mobile-phone( $color_caret_focus ) );
			}
		}

		&--desktop {
			width: $snippet_width + 40;
			max-width: 100%;
			padding: 0 20px;
			overflow: auto;
		}

		// Used for the desktop view and then overridden for the mobile one:
		// title and slug don't wrap in new lines and use ellipsis. The meta
		// description is allowed to wrap. All three elements have a 600 pixels fixed width.
		.snippet_container {
			&__title {
				width: $snippet_width;
				white-space: nowrap;

				& .title {
					display: inline-block;
					max-width: $snippet_width;
					overflow: hidden;
					text-overflow: ellipsis;
					vertical-align: top;

					&#snippet_sitename {
						display: inline; // Consider to remove this element from the template, probably no more used.
					}
				}
			}

			&__url {
				width: $snippet_width;
				white-space: nowrap;
				line-height: 1; // Avoid to inherit line-height.

				& .urlFull {
					display: inline-block;
					max-width: $snippet_width - 14; // down_arrow 8+6 pixels.
					overflow: hidden;
					text-overflow: ellipsis;
					vertical-align: top;
					font-size: 14px;
					line-height: 16px;
				}
			}

			& .down_arrow {
				display: inline-block;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-top: 5px solid #006621;
				margin-top: 6px;
				margin-left: 6px;
				vertical-align: top;
			}

			&__meta {
				width: $snippet_width;
			}
		}

		&--mobile {
			box-shadow: 0 1px 2px rgba(0,0,0,0.2);
			border-radius: 2px;
			border-bottom: 1px hidden #fff;
			margin: 0 20px 10px;
			padding: 11px 0;

			// In the mobile view title, slug, and meta description have a fluid width.
			// Title and meta description wrap in new lines. Slug doesn't wrap.
			.snippet_container {
				display: block;
				line-height: 20px;

				&__title, &__url, &__meta {
					width: 100%;
				}

				&__title {
					padding: 0 16px;
					white-space: normal;
					overflow: visible;
					word-wrap: break-word;

					.title {
						font-size: 16px;
						line-height: 20px;
					}

				}

				&__url {
					border-bottom: 1px solid #ebebeb;
					padding: 0 16px 9px;
					margin-bottom: 9px;

					// In the mobile view there's no down arrow.
					& .urlFull {
						max-width: 100%;
						font-size: 14px;
						line-height: 20px;
					}
				}

				// In the mobile view there's no down arrow.
				& .down_arrow {
					display: none;
				}

				&__meta {
					font-size: 14px;
					line-height: 20px;
					padding: 0 16px;
				}

				& .desc {
					font-size: 14px;
					line-height: 20px;
				}
			}
		}
	}

	&__is-scrollable-hintwrapper {
		display: none;
		margin: 1em 0 5px;
		text-align: center;

		.snippet-editor__view--desktop.snippet-editor__view--desktop-has-scroll + & {
			display: block;
		}
	}

	&__is-scrollable-hint {
		display: inline-block;

		&:before {
			content: "\21c4";
			display: inline-block;
			margin-right: 10px;
			font-size: 20px;
			line-height: inherit;
			vertical-align: text-top;
		}
	}

	&__container {
		position: relative;
		cursor: pointer;

		&.editable-preview__container--no-caret {
			cursor: auto;
		}
	}

	&__heading {
		padding: 8px 20px;
		font-size: 0.9rem;
		margin: 0 0 15px;
		font-family: "Open Sans", sans-serif;
		font-weight: 300;
		color: $color_headings;

		&-editor {
			border-top: 1px solid $color_border;
		}

		&-icon {
			background-repeat: no-repeat;
			/* rtlcss needs this as separate property */
			background-position: left 20px top 0.6em;
			background-size: 16px;

			padding-left: 45px;

			&-eye {
				background-image: url(svg-icon-eye($color_headings));
			}
		}


	}

	// Display the caret icons in the Snippet Preview.
	&__container {
		&:hover {
			&:before {
				@include svg-caret-before($color_caret_hover);
			}
		}

		&--focus {
			&:hover:before,
			&:before {
				@include svg-caret-before($color_caret);
			}
		}
	}

	&__preview {
		padding: 0 0 15px;
		max-width: $snippet_width + 40;

		& #help-yoast-snippetpreview {
			padding: 0 20px;
		}
	}

	&__button {
		background: $color_button;
		border: 1px solid $color_button_border;
		border-radius: 4px;
		color: $color_buttons;

		padding: 8px 10px;
		cursor: pointer;

		font-size: 0.8rem;
		line-height: 15px; /* Avoid browsers rounding that affect the button's height (Firefox computed value would be 15.4333px otherwise). */
	}

	&__edit-button {
		background: $color_button url(svg-icon-edit($color_buttons)) no-repeat;
		/* rtlcss needs this as separate property */
		background-position: left 8px top 50%;
		background-size: 16px;
		padding-left: 32px;
		display: inline-block; /* Margins do not collapse. */
		box-sizing: border-box;
		margin-top: 10px;
	}

	&__form {
		padding: 20px;
	}

	// Display the caret icons in the Snippet Editor.
	// @todo: consider to use the new method used for the Social Previews, which
	// doesn't use the labels but uses dedicated elements as hooks in the DOM.
	&__label {
		display: block;
		width: 100%;
		margin-top: 1em;
		position: relative;

		&:first-child {
			margin-top: 0;
		}

		&--hover {
			&:before {
				@include svg-caret-before($color_caret_hover);
				top: 20px; // Override default top alignment.
			}
		}

		&--focus {
			&:before {
				@include svg-caret-before($color_caret_focus);
				top: 20px; // Override default top alignment.
			}
		}
	}

	&__input {
		display: block;
		width: 100%;
		margin-top: 5px;
		border: 1px solid $color_input_border;

		max-width: 100%;
		box-sizing: border-box;

		&:focus {
			border: 1px solid $color_input_border_focus;
			outline: none;
		}
	}
}

/* Swap icons for RTL. */
.rtl .snippet-editor {
	&__container {

		&:hover {
			&:before {
				@include svg-caret-before-rtl($color_caret_hover);
			}
		}

		&--focus {
			&:hover:before,
			&:before {
				@include svg-caret-before-rtl($color_caret);
			}
		}
	}

	&__label {
		&--hover {
			&:before {
				@include svg-caret-before-rtl($color_caret_hover);
			}
		}

		&--focus {
			&:before {
				@include svg-caret-before-rtl($color_caret_focus);
			}
		}
	}
}

.snippet-editor__meta-description {
	height: 84px;
}

.snippet-editor__submit {
	margin-top: 1em;
}

#snippet_cite {
	min-width: 20px;
}

#meta_container {
	clear: both;
	min-height: 20px;
}

.snippet_container .title {
	color: #1e0fbe;
	text-decoration: none;
	font-size: 18px;
	line-height: 1.2;
	font-weight: normal;
	margin: 0;
}

.snippet_container .desc {
	font-size: 13px;
	line-height: 1.4;
}

.snippet_container .url {
	color: #006621;
	font-style: normal;

	strong {
		// Ensure it's a full bold regardless of the inherited styles.
		font-weight: 700;
	}
}

.snippet_container .desc-default {
	color: #545454;

	strong {
		color: #6a6a6a;
		// Ensure it's a full bold regardless of the inherited styles.
		font-weight: 700;
	}
}

.snippet_container .desc-render {
	color: #777;
}

.snippet_container .tooLong {
	color: #f00 !important;
}

.snippet-editor__field--invalid {
	color: #f00;
}

.snippet-editor {
	&__progress {
		appearance: none;

		border: none;

		box-sizing: border-box;
		display: block;

		margin-top: 5px;
		height: 8px;
		width: 100%;

		&::-webkit-progress-bar {
			background-color: $color_progress_background;
			height: 8px;
			border: 1px solid $color_input_border;
		}

		&--fallback {
			background-color: $color_progress_background;
			height: 8px;
			border: 1px solid $color_input_border;
		}
	}

	&__progress-bar {
		width: 0;
		height: 100%;
		max-width: 100%;
	}

	&__date {
		color: #808080;
		font-size: 13px;
		line-height: 1.4;
	}

	&--hidden {
		display: none;
	}
}

.yoast-measurement-elements-holder {
	position: absolute;
	left: -9999em;
}

@mixin progress-bar-color ($class, $color) {
	#{$class}[value] {
		color: $color;

		&::-webkit-progress-value {
			background-color: $color;
			transition: width 250ms;
		}

		&::-moz-progress-bar {
			background-color: $color;
		}

		.snippet-editor__progress-bar {
			background-color: $color;
		}
	}
}

@include progress-bar-color(".snippet-editor__progress--bad", $color_bad);
@include progress-bar-color(".snippet-editor__progress--ok", $color_ok);
@include progress-bar-color(".snippet-editor__progress--good", $color_good);
