.yoast-promoblock {
	margin-bottom: $spacing;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,.3);
	border: 1px solid #dcdcdc;
	padding: 16px;

	p {
		color: $color-black;
	}

	p:last-of-type {
		margin-bottom: 0;
	}

	i.blockicon {
		position: absolute;
		right: 10px;
		bottom: 10px;
		padding: 0 0 0 .5em;
		font-size: 2.25em;
	}

	a img {
		border: 1px solid $color-grey;
	}

	p a {
		font-weight: 600 !important;
		text-decoration: underline;
	}

	form a {
		font-weight: 400 !important;
		text-decoration: none;
	}

	h4, .h4 {
		margin-bottom: 0.7rem;
	}

	&.link {
		border-color: $color-orange;

		a, a:hover {
			color: $color-orange;
		}
	}

	&--white {
		border-color: $color-white !important;
	}

	.product & {
		overflow: hidden;
	}

	&--hometitle {
		max-width: 16em;
		height: 11em;
		margin: 16px auto 32px;
		margin: 1rem auto 2rem;

		@include display-flex;
		-webkit-box-pack: center;
		-ms-flex-line-pack: center;
		-ms-flex-align: center;

		font-size: 16px;
		font-size: 1rem;
		line-height: 1;

		background-color: rgba($scheme-home-primary, .25);
		border-color: $color-white !important;

		@media only screen and (max-width: $page-width-small) {
			&::after {
				content: none !important;
			}
		}
	}

	&--imageholder {
		padding: 0;
		margin-bottom: 0;
	}

	&--imageholdersmall {
		position: absolute;
		&:first-child {
			left: 4rem;
		}
		&:last-child {
			top: 4rem;
		}
	}

	@media only screen and (max-width: $page-width-medium) {
		h2 {
			margin-bottom: 0;
		}
	}

}

a.promoblock {
	text-decoration: none;
	color: $color-black;

	&:hover {
		text-decoration: none;
	}
}

.promoblockimage__holder {
	width: 240px;
	height: 295px;
	position: relative;
}
