.yoast .yoast-button {
  display: inline-block;
  position: relative;
  padding: 10px 16px 12px 16px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0, 0.2);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.3);
  transition: background-color 150ms ease-out 0s;
  line-height: 1.2;
  font-size: 14px;
  cursor: pointer;
}

.yoast .yoast-button:active { /* 'Pressed' button state */
  box-shadow: none;
  padding-bottom: 12px;
  top: 2px;
}

.yoast .yoast-button--primary {
  color: var(--color-white);
  background-color: var(--color-primary);
  border: 1px solid rgba(0,0,0, 0.2);
}

.yoast .yoast-button--primary:visited {
  color: var(--color-white);
  border: 1px solid rgba(0,0,0, 0.2);
}

.yoast .yoast-button--primary:hover,
.yoast .yoast-button--primary:active{
  color: var(--color-white);
  background-color: var(--color-primary-darker);
  border: 1px solid rgba(0,0,0, 0.2);
}

.yoast .yoast-button--secondary {
  color: var(--color-dark);
  background-color: var(--color-secondary);
}

.yoast .yoast-button--secondary:visited {
  color: var(--color-dark);
}

.yoast .yoast-button--secondary:hover,
.yoast .yoast-button--secondary:active {
  color: var(--color-dark);
  background-color: var(--color-secondary-darker);
  border: 1px solid rgba(0,0,0, 0.2);
}

.yoast .yoast-button--buy {
  display: inline-flex;
  align-items: center;
  color: var(--color-dark);
  background-color: var(--color-sale);
}

.yoast .yoast-button--buy:visited {
  color: var(--color-dark);
}

.yoast .yoast-button--buy:hover,
.yoast .yoast-button--buy:active {
  color: var(--color-dark);
  background-color: var(--color-sale-darker)
}

.yoast .yoast-button--buy__caret {
  flex-shrink: 0;
  display: inline-block;
  width: 6px;
  height: 16px;
  /*Negative margin to compensate the icon white space within its viewbox.*/
  margin: 0 -2px 0 6px;
  background: var(--svg-icon-caret-right) center center no-repeat;
}

.yoast-remove, .yoast-hide {
  color: red;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}

.yoast-hide {
  color: var(--color-link);
}


/* Close button for modals or papers */
.yoast-close {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  height: 44px;
  width: 44px;
  cursor: pointer;
  box-shadow: none;
  padding: 0;
}

.yoast-close svg {
  fill: var(--color-default);
  width: 14px;
}

@media screen and (max-width: 782px) {
  .yoast-close svg {
    width: 10px;
  }
}