.yoast-field-group__select {
    display: flex;
    cursor: pointer;
    align-items: center;
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .yoast-field-group__select select {
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 100%;
        font-size: var(--font-size-default);
        padding: 10px 8px 11px;
        background-color: white;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 8"><path d="M1.4 0L6 4.6 10.6 0 12 1.4 6 7.5 0 1.4z"/></svg>');
        background-position: right 15px center;
        background-repeat: no-repeat;
        background-size: 10px auto;
        border-radius: 0;
        border: var(--border-default);
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
        position: relative;
    }
}