$font-stack-default:		'Open Sans', Arial, sans-serif;
$font-stack-article:		'Merriweather', Georgia, serif;
$font-stack-icon:			'FontAwesome', 'Open Sans', Arial, sans-serif;

$font-size-default:			1em;
$line-height-default:		1.88;

$text-shadow: 1px 1px 1px rgba(0,0,0,.4);