@layer components {
	.yst-root {
		.yst-tag-field--disabled {
			.yst-tag-field__label, .yst-tag-field__description {
				@apply yst-opacity-50 yst-cursor-not-allowed;
			}
		}

		.yst-tag-field__input--error {
			@apply yst-pr-9 yst-border-red-300 focus:yst-ring-red-500 focus:yst-border-red-500;
		}

		.yst-tag-field__label {
			@apply yst-items-center;
		}

		.yst-tag-field__description {
			@apply yst-mt-2;
		}

		.yst-tag-field__error-icon {
			@apply yst-flex yst-shrink-0 yst-grow-0 yst-items-center yst-absolute yst-inset-y-0 yst-right-0 yst-mr-3;
		}

		.yst-tag-field__error-icon > svg {
			@apply yst-pointer-events-none yst-h-5 yst-w-5 yst-text-red-500;
		}

		.yst-tag-field__error {
			@apply yst-mt-2 yst-text-sm yst-text-red-600;
		}
	}
}
