@layer components {
	.yst-root {
		.yst-tag-field--disabled {
			.yst-tag-field__label,
			.yst-tag-field__description {
				@apply yst-opacity-50;
			}

			.yst-tag-field__label {
				@apply yst-cursor-not-allowed;
			}
		}

		.yst-tag-field__description {
			@apply yst-mt-2;
		}

		.yst-tag-field__validation {
			@apply yst-mt-2;
		}
	}
}
