.yoast-card {
	position: relative;
	background: white;
	margin-bottom: em(32px);
	width: 300px;
	display: flex;
	flex-direction: column;
	@include shadow-paper;
	+.yoast-cart {
		margin-left: em(24px);
	}
}

.yoast-card__image {
	margin: em(24px);

	img, svg {
		display: block;
		width: auto;
		margin: 0 auto;
	}
}

h2.yoast-card__title {
	font-size: em(20px);
	line-height: 1.2;
	color: var(--color-primary);
	margin-bottom: em(16px);
	margin-top: 0;
	padding: 0 em(24px);

	a {
		color: var(--color-primary);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.yoast-card__content {
	flex-grow: 1;
	padding: 0 em(24px);

	.yoast-list--usp {
		margin-top: 0;
	}
}

.yoast-card__footer {
	text-align: center;
	padding: em(24px);

	.yoast-button {
		width: 100%;
	}

	.read-more {
		display: inline-block;
		margin-top: em(8px);
	}
}