/** Make sure the content within admin pages is exactly 32px from the sides & give it new default line-height. */
body.yoast {
	background-color: white;
	font-size: 1em; // translates to 16px;

	#wpcontent {
		padding-left: 0;
	}

	.wrap {
		margin: em(32px) em(32px) 0 em(32px); //margin: 32px 32px 0 12px;
		font-size: $font-size-default;
		color: $color-default;
		line-height: 1.5;
		* {
			box-sizing: border-box;
		}
	}
}

/** On admin pages, the <body> Has the class "yoast", this way we can target only our own pages. */
.yoast {
	h1, h2, h3, .h1, .h2, .h3 {
		font-weight: 400;
		color: $color-primary;
		margin-bottom: 1em;
		line-height: 1.2;
	}

	h1, .h1 {
		font-size: em(24px);
	}

	h2, .h2 {
		font-size: em(20px);
	}

	h3, .h3 {
		font-size: em(16px);
	}

	p {
		font-size: em(14px);
	}
}

