$default-font-size: 14;

@function em($pixels, $unit: $default-font-size) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($unit)) {
		$unit: $unit * 1px;
	}

	@return $pixels / $unit * 1em;
}

/** CSS selectors instead of SASS. */
:root {
	--color-default: #404040;
	--color-primary: #a4286a;
	--color-secondary: #f7f7f7;

	--font-size-default: .875em; // Translates to 14px

	--margin-32px: 2.285em;
}

/** Make sure the content within admin pages is exactly 32px from the sides & give it new default line-height. */
body.yoast {
	background-color: white;
	font-size: 1em; // translates to 16px;

	#wpcontent {
		padding-left: 0;
	}

	.wrap {
		margin: em(32px) em(32px) 0 em(32px); //margin: 32px 32px 0 12px;
		font-size: var(--font-size-default);
		color: var(--color-default);
		line-height: 1.5;
		* {
			box-sizing: border-box;
		}
	}
}

/** On admin pages, the <body> Has the class "yoast", this way we can target only our own pages. */
.yoast {
	h1, h2, h3, .h1, .h2, .h3 {
		font-weight: 400;
		color: var(--color-primary);
		margin-bottom: 1em;
		line-height: 1.2;
	}

	h1, .h1 {
		font-size: em(24px);
	}

	h2, .h2 {
		font-size: em(20px);
	}

	h3, .h3 {
		font-size: em(16px);
	}

	p {
		font-size: em(14px);
	}
}

