.yoast-paper {
	background-color: white;
	padding: 16px 16px 0;
	box-shadow: var(--yoast-shadow-default);
	border: var(--yoast-border-default);
	max-width: var(--yoast-container-width);
	position: relative;
	box-sizing: border-box;
	margin: 0 auto 16px;
}

.yoast #wpcontent .yoast-paper h2 {
	margin-bottom: 16px;
}

.yoast-paper:last-of-type {
	margin-bottom: 16px;
}

.yoast-feature:last-of-type {
	margin-bottom: 16px;
}

.yoast-paper--bottom {
	padding-bottom: 16px;
}

.yoast-paper--small {
	padding: 16px;
}

.yoast-paper__content:not(:only-child) {
	padding: 0 24px 8px;
	border-bottom: var(--yoast-border-default);
	margin: 0 -24px 24px;
}

.yoast-paper .yoast-notifications-dismissed {
	margin-bottom: 16px;
}

.yoast-paper__item {
	display: flex;
}

.yoast-paper #yoast-warnings-dismissed .collapsible-header {
	padding-bottom: 0;
	border: 0;
	margin-bottom: 0;
}

.yoast-paper .toggleable-container-trigger {
	background: none;
	border: 0;
	width: 100%;
	text-align: left;
	color: var(--yoast-color-primary);
	padding: 0;
}

.yoast-paper .toggleable-container-trigger[aria-expanded="true"] {
	padding-bottom: 24px;
	border-bottom: var(--yoast-border-default);
	margin-bottom: 24px;
}

.yoast #wpcontent .paper-container h3:first-child {
	padding-top: 0;
}

.yoast-paper__item .yoast-notification {
	position: relative;
	margin-left: 22px;
}

.yoast-paper__item .yoast-notification p {
	margin-bottom: 24px;
}


.yoast-paper__item .yoast-notification::before {
	content: '';
	background: var(--yoast-exclamation-mark) no-repeat center center;
	width: 14px;
	height: 14px;
	position: absolute;
	top: 4px;
	left: -22px;
}

.yoast-paper__item .yoast-hide,
.yoast-paper__item .yoast-restore {
	margin-left: 32px;
	margin-bottom: 24px;
}

.yoast-paper__item:not(:first-of-type) {
	border-top: 1px solid var(--yoast-color-border);
	padding-top: 24px;
}

.yoast-premium_upsell .yoast-list--upsell {
	column-count: 2;
	margin-bottom: 24px;
}

.yoast-premium_upsell .yoast-list--upsell li {
	break-inside: avoid;
}
