.yoast-layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.yoast-sidebar {
	max-width: 300px;
}

.yoast-main {
	margin-right: 24px;
	flex-grow: 1;
}

.yoast .yoast-sidebar__heading {
	font-size: 16px;
	margin-top: 35px;
	padding-bottom: 8px;
	border-bottom: 1px solid var(--yoast-color-primary);
}

.yoast .yoast-sidebar__title {
	font-size: 16px;
}

.yoast-sidebar li {
	position: relative;
	margin-left: 18px;
	font-weight: 600;
}

.yoast-sidebar li::before {
	content: '\002b';
	position: absolute;
	top: 0;
	left: -18px;
}

.yoast-sidebar__plugins {
	display: flex;
	margin-bottom: 24px;
}

.yoast-sidebar__plugins-content-left {
	margin-right: 16px;
}

.yoast-sidebar__plugins-content-right {
	margin-left: 16px;
}

.yoast-sidebar__plugins p {
	margin-bottom: 0;
}

.yoast-sidebar__plugins-image {
	flex-shrink: 0;
	width: 70px;
}
