.yoast-layout {
	display: flex;
}

.yoast-sidebar {
	width: 300px;
	flex-shrink: 0;
}

.yoast-main {
	margin-right: 24px;
}

.yoast .yoast-sidebar__title {
	font-size: 16px;
}

.yoast .yoast-sidebar__title--top {
	margin-top: 35px;
	padding-bottom: 8px;
	border-bottom: 1px solid var(--color-primary);
}

.yoast-sidebar li {
	position: relative;
	margin-left: 18px;
}

.yoast-sidebar li::before {
	content: '\002b';
	position: absolute;
	top: 0;
	left: -18px;
}
