$color_google_title:     #1a0dab; // was #1e0fbe
$color_google_url:       #006621;
$color_google_date:      #808080; // only 3.95:1 on white
$color_google_desc:      #545454;
$color_google_desc_bold: #6a6a6a;
