@import "colors";

$scheme_home_primary:            $color_pink;
$scheme_home_secondary:          $color_pink_dark;
$scheme_home_tertiary:           $color_purple;
$scheme_home_menu_primary:       $color_pink_dark;
$scheme_home_menu_secondary:     $color_pink;

$scheme_about_primary:           $color_pink;
$scheme_about_secondary:         $color_pink_dark;
$scheme_about_tertiary:          $color_purple;
$scheme_about_menu_primary:      $color_pink_dark;
$scheme_about_menu_secondary:    $color_pink;

$scheme_academy_primary:         $color_purple;
$scheme_academy_secondary:       $color_pink_dark;
$scheme_academy_tertiary:        $color_pink;
$scheme_academy_menu_primary:    $color_pink_dark;
$scheme_academy_menu_secondary:  $color_purple;

$scheme_software_primary:        $color_blue;
$scheme_software_secondary:      $color_green_blue;
$scheme_software_tertiary:       $color_green;
$scheme_software_menu_primary:   $color_green_blue;
$scheme_software_menu_secondary: $color_blue;

$scheme_review_primary:          $color_green_blue;
$scheme_review_secondary:        $color_green;
$scheme_review_tertiary:         $color_blue;
$scheme_review_menu_primary:     $color_green_blue;
$scheme_review_menu_secondary:   $color_green;
