$palette_white:              #fff;    // Safe to use with $palette_grey_text – $palette_black.
// Shades of gray from lighter to darker.
$palette_grey_ultra_light:   #f7f7f7; // Safe to use with $palette_grey_text – $palette_black.
$palette_grey_light:         #f1f1f1; // Safe to use with $palette_grey_text – $palette_black.
$palette_grey_medium_light:  #e2e4e7; // Color copied from Gutenberg. 
$palette_grey:               #ddd;    // Safe to use with $palette_grey_dark – $palette_black.
$palette_grey_medium:        #ccc;    // Safe to use with $palette_grey_dark – $palette_black.
$palette_grey_disabled:      #a0a5aa; // Should be used only for disabled controls text. Also used for the "none"" score icon.
$palette_grey_medium_dark:   #888;    // Safe to use with $palette_black or $palette_white bold > 18.5px.
$palette_grey_text_light:    #767676; // Lightest gray for text on a white background.
$palette_grey_text:          #646464; // Safe to use with $palette_white – $palette_grey_light.
$palette_grey_dark:          #555;    // Safe to use with $palette_white – $palette_grey_medium.
$palette_black:              #000;    // Safe to use with $palette_white – $palette_grey_medium.

$palette_purple: 	         #5d237a; // Safe to use with $palette_white – $palette_grey_medium.
$palette_purple_dark:        #6c2548; // Safe to use with $palette_white – $palette_grey_medium.
$palette_pink:               #d73763; // Safe to use with $palette_white and $palette_black.
$palette_pink_light:         #e1bee7; // Safe to use with $palette_grey_dark – $palette_black.
$palette_pink_dark:          #a4286a; // Safe to use with $palette_white – $palette_grey.
$palette_blue:               #0066cd; // Safe to use with $palette_white – $palette_grey_light and lighter.
$palette_blue_light:         #a9a9ce; // Safe to use with $palette_black.
$palette_blue_medium:        #1e8cbe; // Safe to use with $palette_black.
$palette_blue_dark:          #084a67; // Safe to use with $palette_white – $palette_grey_medium.
$palette_green:              #77b227; // Safe to use with $palette_black.
$palette_green_light:        #7ad03a; // Safe to use with $palette_black.
$palette_green_medium_light: #64a60a; // Safe to use with $palette_black or $palette_white bold > 18.5px.
$palette_green_medium:       #008a00; // Safe to use with $palette_white and $palette_black. Also used for the smiley score icon.
$palette_green_blue:         #009288; // Safe to use with $palette_black.
$palette_orange:             #dc5c04; // Safe to use with $palette_black.
$palette_orange_light:       #ee7c1b; // Safe to use with $palette_black.
$palette_red:                #dc3232; // Safe to use with $palette_white and $palette_black.
$palette_red_light:          #f9bdbd; // Safe to use with $palette_grey_dark.
$palette_yellow:             #ffeb3b; // Safe to use with $palette_grey_text - $palette_black.
$palette_yellow_score:       #f5c819; // Used for the OK SEO score icon.
$palette_button_upsell:      #fec228;
$palette_button_upsell_hover:#f2ae01;

$color_bad:                  $palette_red;
$color_ok:                   $palette_orange_light;
$color_good:                 $palette_green_light;
$color_noindex:              $palette_blue_medium;
$color_score_icon:           $palette_grey_medium_dark;

$color_white:                $palette_white;
$color_black:                $palette_black;
$color_green:                $palette_green;
$color_green_medium:         $palette_green_medium;
$color_green_blue:           $palette_green_blue;
$color_grey:                 $palette_grey;
$color_grey_dark:            $palette_grey_dark;
$color_purple:               $palette_purple;
$color_purple_dark:          $palette_purple_dark;
$color_pink:                 $palette_pink;
$color_pink_light:           $palette_pink_light;
$color_pink_dark:            $palette_pink_dark;
$color_blue:                 $palette_blue;
$color_blue_light:           $palette_blue_light;
$color_blue_dark:            $palette_blue_dark;
$color_red:                  $palette_red;

$color_border_light:         $palette_grey_ultra_light;
$color_border_gutenberg:     $palette_grey_medium_light;
$color_border:               $palette_grey_medium;

$color_input_border:         $palette_grey;

$color_help_text:            $palette_grey_text_light;

$color_background_light:     $palette_grey_ultra_light;

$color_button:               $palette_grey_ultra_light;
$color_button_text:          $palette_grey_dark;
$color_button_border:        $palette_grey_medium;
$color_button_hover:         $palette_white;
$color_button_border_hover:  $palette_grey_medium_dark;
$color_button_text_hover:    $palette_black;
$color_button_border_active: $palette_black;
$color_button_upsell:        $palette_button_upsell;
$color_button_upsell_hover:  $palette_button_upsell_hover;

$color_headings:             $palette_grey_dark;

$color_marker_inactive:      $palette_grey_dark;
$color_marker_active:        $palette_white;
$color_marker_disabled:      $palette_grey_disabled;

$color_error:                $palette_red;
$color_orange:               $palette_orange;
$color_orange_hover:         darken( $palette_orange, 5% );
$color_grey_hover:           darken( $palette_grey, 6% );
$color_pink_hover:           darken( $palette_pink, 5% );

$color_grey_cta:             $palette_grey;
$color_grey_line:            $palette_grey;
$color_grey_quote:           $palette_grey_text;
$color_grey_text:            $palette_grey_text;
$color_grey_text_light:      $palette_grey_text_light;

$color_snippet_focus:        $palette_blue_medium;
$color_snippet_hover:        $palette_grey_medium;
$color_snippet_active:       $palette_grey_dark;


// My Yoast colors.
$color_grey_medium_dark:     $palette_grey_medium_dark;
$color_green_medium_light:   $palette_green_medium_light;
$color_grey_disabled:        $palette_grey_disabled;
$color_grey_medium:          $palette_grey_medium;
$color_grey_light:           $palette_grey_light;
$color_yellow:               $palette_yellow;
$color_yellow_score:         $palette_yellow_score;
$color_error_message:        $palette_red_light;
