name: Generate CSV
on:
  workflow_dispatch:

jobs:
  run-commands:
    runs-on: ubuntu-latest

    name: Generate CSV

    steps:
      # Check out the repository
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      # Install dependencies
      - name: Install dependencies
        working-directory: packages/yoastseo
        run: yarn install --ignore-scripts

      # Run tests
      - name: Run tests
        working-directory: packages/yoastseo
        run: yarn export:inclusive-language --collectCoverage=false
