name: Integration Test

on:
  # Run on pushes to select branches and on all pull requests.
  push:
    branches:
      - main
      - trunk
      - "release/**"
      - "hotfix/[0-9]+.[0-9]+*"
      - "feature/**"
  pull_request:
  # Allow manually triggering the workflow.
  workflow_dispatch:

# Cancels all previous workflow runs for the same branch that have not yet completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  integration-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - php_version: "5.6"
            wp_version: "5.9"
            multisite: true

          - php_version: "7.0"
            wp_version: "latest"
            multisite: false

          - php_version: "7.3"
            wp_version: "trunk"
            multisite: true

          - php_version: "7.4"
            wp_version: "latest"
            multisite: false

          # WP 5.6 is the earliest version which (sort of) supports PHP 8.0.
          - php_version: "8.0"
            wp_version: "5.9"
            multisite: false

          # WP 5.9 is the earliest version which (sort of) supports PHP 8.1.
          - php_version: "8.1"
            wp_version: "latest"
            multisite: true

    name: "Integration Test: PHP ${{ matrix.php_version }} | WP ${{ matrix.wp_version }}${{ matrix.multisite == true && ' (+ ms)' || '' }}"

    # Allow builds to fail on as-of-yet unreleased WordPress versions.
    continue-on-error: ${{ matrix.wp_version == 'trunk' }}

    services:
      mysql:
        # Use MySQL 5.6 for PHP 5.6, use MySQL 5.7 for PHP 7.0 < 7.4, otherwise MySQL 8.0.
        # Also see: https://core.trac.wordpress.org/ticket/52496
        image: mysql:${{ ( matrix.php_version == '5.6' && '5.6' ) || ( matrix.php_version < '7.4' && '5.7' ) || '8.0' }}
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: false
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=10s --health-retries=10

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # The prefix-dependencies task makes use of reflection-based PHP code that only works on PHP > 7.2.
      - name: Install PHP 7.x for generating the vendor_prefixed directory and dependency injection
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.2
          coverage: none

      - name: Install Composer dependencies, generate vendor_prefixed directory and run dependency injection
        uses: ramsey/composer-install@v2
        with:
          # Bust the cache at least once a week - output format: YYYY-MM-DD.
          custom-cache-suffix: $(/bin/date -u --date='last Mon' "+%F")

      # Remove packages which are not PHP cross-version compatible and only used for the prefixing.
      # - humbug/php-scoper is only needed to actually do the prefixing, so won't be shipped anyway.
      # - league/oauth2-client and its dependencies *are* the packages being prefixed.
      - name: Delete dev dependencies which are not cross-version compatible
        run: composer remove --dev --no-scripts humbug/php-scoper league/oauth2-client

      - name: Delete dependencies which are not cross-version compatible
        run: composer remove --no-scripts composer/installers

      - name: Remove vendor directory
        run: rm -rf vendor/*

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php_version }}
          ini-values: zend.assertions=1, error_reporting=-1, display_errors=On
          coverage: none

      # Install dependencies and handle caching in one go.
      # @link https://github.com/marketplace/actions/install-composer-dependencies
      - name: "Composer: remove PHPUnit root requirement"
        run: composer remove --dev phpunit/phpunit --no-update --no-scripts

      - name: "Install Composer dependencies"
        uses: ramsey/composer-install@v2
        with:
          # Force a `composer update` run.
          dependency-versions: "highest"
          # But make it selective.
          composer-options: "yoast/wp-test-utils --with-dependencies --no-scripts"
          # Bust the cache at least once a week - output format: YYYY-MM-DD.
          custom-cache-suffix: $(/bin/date -u --date='last Mon' "+%F")

      - name: Install WP
        shell: bash
        run: config/scripts/install-wp-tests.sh wordpress_test root '' 127.0.0.1:3306 ${{ matrix.wp_version }}

      - name: Run unit tests - single site
        run: composer integration-test

      - name: Run unit tests - multisite
        if: ${{ matrix.multisite == true }}
        run: composer integration-test
        env:
          WP_MULTISITE: 1
