name: Lint

on:
  # Run on pushes to select branches and on all pull requests.
  push:
    branches:
      - master
      - trunk
      - 'release/**'
      - 'hotfix/[0-9]+.[0-9]+*'
      - 'feature/**'
  pull_request:
  # Allow manually triggering the workflow.
  workflow_dispatch:

# Cancels all previous workflow runs for the same branch that have not yet completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # Lint against the highest/lowest supported versions of each PHP major.
        # And also do a run against "nightly" (the current dev version of PHP).
        php_version: ['5.6', '7.0', '7.4', '8.0', '8.1', '8.2']

    name: "Lint: PHP ${{ matrix.php_version }}"

    # Allow builds to fail on as-of-yet unreleased PHP versions.
    continue-on-error: ${{ matrix.php_version == '8.2' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # For the purpose of linting the code, we need the `vendor-prefixed` directory to
      # be created as the prefixed code should be linted to ensure there are no parse errors
      # in the generated code against any of the supported PHP versions.
      # The prefix-dependencies task makes use of reflection-based PHP code that only works on PHP > 7.2.
      - name: Install PHP 7.x for generating the vendor_prefixed directory
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.2
          coverage: none

      - name: Install Composer dependencies and generate vendor_prefixed directory
        uses: ramsey/composer-install@v2

      # Remove packages which are not PHP cross-version compatible and only used for the prefixing.
      # - humbug/php-scoper is only needed to actually do the prefixing, so won't be shipped anyway.
      # - league/oauth2-client and its dependencies *are* the packages being prefixed, so linting the
      #   prefixed versions is sufficient.
      - name: Delete dependencies which are not cross-version compatible
        run: composer remove --dev --no-scripts humbug/php-scoper league/oauth2-client

      - name: Install PHP for the actual linting
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php_version }}
          ini-values: zend.assertions=1, error_reporting=-1, display_errors=On
          coverage: none
          tools: cs2pr

      # We don't need to remove and reinstall the Composer dependencies as
      # the only thing we'll use is the PHP-Parallel-Lint package (PHP 5.3+)
      # and that means the package is compatible with all supported PHP versions,
      # so we can just use the version installed on PHP 7.2.
      # We do need to regenerate the autoload file when switching down as an autoload file
      # generated by Composer 2.3 (PHP 7.2+) is not usable on PHP < 7.2.
      - name: Regenerate the Composer autoload file
        if: ${{ matrix.php_version < '7.1' }}
        run: composer du --no-scripts

      - name: Lint against parse errors
        run: composer lint -- --checkstyle | cs2pr
