name: Test

on:
  # Run on relevant pushes to select branches and on all relevant pull requests.
  push:
    branches:
      - main
      - trunk
      - "release/**"
      - "hotfix/[0-9]+.[0-9]+*"
      - "feature/**"
    paths:
      - '**.php' # Includes config/*.php and lib/*.php files.
      - '**.xsl'
      - 'composer.json'
      - 'composer.lock'
      - 'phpunit.xml.dist'
      - 'phpunit-wp.xml.dist'
      - 'wpml-config.xml'
      - '.github/workflows/test.yml'
      - 'config/scripts/install-wp-tests.sh'
      - 'tests/**'
  pull_request:
    paths:
      - '**.php' # Includes config/*.php and lib/*.php files.
      - '**.xsl'
      - 'composer.json'
      - 'composer.lock'
      - 'phpunit.xml.dist'
      - 'phpunit-wp.xml.dist'
      - 'wpml-config.xml'
      - '.github/workflows/test.yml'
      - 'config/scripts/install-wp-tests.sh'
      - 'tests/**'
  # Allow manually triggering the workflow.
  workflow_dispatch:

# Cancels all previous workflow runs for the same branch that have not yet completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php_version: ['8.0', '8.1', '8.2']
        coverage: [false]

        # Run code coverage only on high/low PHP.
        include:
        - php_version: 7.4
          coverage: true
        - php_version: 8.3
          coverage: true

    name: "Unit Test: PHP ${{ matrix.php_version }}"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # The prefix-dependencies task makes use of reflection-based PHP code that only works on PHP > 7.2.
      - name: Install PHP 7.x for generating the vendor_prefixed directory and dependency injection
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4
          coverage: none

      - name: Install Composer dependencies, generate vendor_prefixed directory and run dependency injection
        uses: ramsey/composer-install@v3
        with:
          # Bust the cache at least once a week - output format: YYYY-MM-DD.
          custom-cache-suffix: $(/bin/date -u --date='last Mon' "+%F")

      # Remove packages which are not PHP cross-version compatible and only used for the prefixing.
      # - humbug/php-scoper is only needed to actually do the prefixing, so won't be shipped anyway.
      - name: Delete dev dependencies which are not cross-version compatible
        run: composer remove --dev --no-scripts humbug/php-scoper

      - name: Remove vendor directory
        run: rm -rf vendor/*

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php_version }}
          ini-values: zend.assertions=1, error_reporting=-1, display_errors=On
          coverage: ${{ matrix.coverage == true && 'xdebug' || 'none' }}
        env:
          update: true

      # The PHP platform requirement would prevent updating the test utilities to the appropriate versions.
      # As long as the `composer update` is run selectively to only update the test utils, removing this is fine.
      - name: "Composer: remove the PHP platform requirement"
        run: composer config --unset platform.php

      # Install dependencies and handle caching in one go.
      # - Updates the test utilities (and only those!) to the most appropriate version
      #   for the PHP version on which the tests will be run.
      # @link https://github.com/marketplace/actions/install-php-dependencies-with-composer
      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3
        with:
          # Force a `composer update` run.
          dependency-versions: "highest"
          # But make it selective.
          composer-options: "yoast/wp-test-utils --with-dependencies --no-scripts"
          # Bust the cache at least once a week - output format: YYYY-MM-DD.
          custom-cache-suffix: $(/bin/date -u --date='last Mon' "+%F")

      - name: Run unit tests
        if: ${{ matrix.coverage == false }}
        run: composer test

      - name: Run the unit tests with code coverage
        if: ${{ matrix.coverage == true }}
        run: composer coverage

      - name: Upload coverage results to Coveralls
        if: ${{ success() && matrix.coverage == true }}
        uses: coverallsapp/github-action@v2
        env:
          COVERALLS_SERVICE_NUMBER: ${{ github.sha }} # Connect all builds together.
        with:
          format: clover
          file: build/logs/clover.xml
          flag-name: unit-php-${{ matrix.php_version }}
          parallel: true

  wp-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - php_version: "7.4"
            wp_version: "6.7"
            multisite: true
            coverage: true

          - php_version: "7.4"
            wp_version: "trunk"
            multisite: true
            coverage: false

          - php_version: "7.4"
            wp_version: "latest"
            multisite: false
            coverage: false

          - php_version: "8.0"
            wp_version: "6.7"
            multisite: false
            coverage: false

          - php_version: '8.1'
            wp_version: '6.7'
            multisite: true
            coverage: false

          - php_version: '8.2'
            wp_version: '6.7'
            multisite: true
            coverage: false

          - php_version: '8.3'
            wp_version: 'latest'
            multisite: true
            coverage: true

    name: "WP Test: PHP ${{ matrix.php_version }} | WP ${{ matrix.wp_version }}${{ matrix.multisite == true && ' (+ ms)' || '' }}"

    # Allow builds to fail on as-of-yet unreleased WordPress versions.
    continue-on-error: ${{ matrix.wp_version == 'trunk' }}

    services:
      mysql:
        # Use MySQL 5.6 for PHP 7.4, use MySQL 5.7 for PHP 8.0, otherwise MySQL 8.0.
        # Also see: https://core.trac.wordpress.org/ticket/52496
        image: mysql:${{ ( matrix.php_version == '7.4' && '5.6' ) || ( matrix.php_version == '8.0' && '5.7' ) || '8.0' }}
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: false
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=10s --health-retries=10

    steps:
      - name: Install subversion
        run: sudo apt-get install -y subversion

      - name: Checkout code
        uses: actions/checkout@v4

      # The prefix-dependencies task makes use of reflection-based PHP code that only works on PHP > 7.2.
      - name: Install PHP 7.x for generating the vendor_prefixed directory and dependency injection
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4
          coverage: none

      - name: Install Composer dependencies, generate vendor_prefixed directory and run dependency injection
        uses: ramsey/composer-install@v3
        with:
          # Bust the cache at least once a week - output format: YYYY-MM-DD.
          custom-cache-suffix: $(/bin/date -u --date='last Mon' "+%F")

      # Remove packages which are not PHP cross-version compatible and only used for the prefixing.
      # - humbug/php-scoper is only needed to actually do the prefixing, so won't be shipped anyway.
      - name: Delete dev dependencies which are not cross-version compatible
        run: composer remove --dev --no-scripts humbug/php-scoper

      - name: Remove vendor directory
        run: rm -rf vendor/*

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php_version }}
          ini-values: zend.assertions=1, error_reporting=-1, display_errors=On
          coverage: ${{ matrix.coverage == true && 'xdebug' || 'none' }}
        env:
          update: true

      # The PHP platform requirement would prevent updating the test utilities to the appropriate versions.
      # As long as the `composer update` is run selectively to only update the test utils, removing this is fine.
      - name: "Composer: remove the PHP platform requirement"
        run: composer config --unset platform.php

      - name: "Install Composer dependencies"
        uses: ramsey/composer-install@v3
        with:
          # Force a `composer update` run.
          dependency-versions: "highest"
          # But make it selective.
          composer-options: "yoast/wp-test-utils --with-dependencies --no-scripts"
          # Bust the cache at least once a week - output format: YYYY-MM-DD.
          custom-cache-suffix: $(/bin/date -u --date='last Mon' "+%F")

      - name: Install WP
        shell: bash
        run: config/scripts/install-wp-tests.sh wordpress_test root '' 127.0.0.1:3306 ${{ matrix.wp_version }}

      - name: Run WP tests - single site
        if: ${{ matrix.coverage == false }}
        run: composer test-wp

      - name: Run WP tests - multisite
        if: ${{ matrix.multisite == true && matrix.coverage == false }}
        run: composer test-wp
        env:
          WP_MULTISITE: 1

      - name: Run WP tests with code coverage - single site
        if: ${{ matrix.coverage == true }}
        run: composer coverage-wp

      - name: Run WP tests with code coverage - multisite
        if: ${{ matrix.multisite == true && matrix.coverage == true }}
        run: composer coverage-wp -- --coverage-clover build/logs/clover-wp-ms.xml
        env:
          WP_MULTISITE: 1

      - name: Upload coverage results to Coveralls - single site
        if: ${{ success() && matrix.coverage == true }}
        uses: coverallsapp/github-action@v2
        env:
          COVERALLS_SERVICE_NUMBER: ${{ github.sha }} # Connect all builds together.
        with:
          format: clover
          file: build/logs/clover-wp.xml
          flag-name: php-${{ matrix.php_version }}-wp-${{ matrix.wp_version }}
          parallel: true

      - name: Upload coverage results to Coveralls - multisite
        if: ${{ success() && matrix.multisite == true && matrix.coverage == true }}
        uses: coverallsapp/github-action@v2
        env:
          COVERALLS_SERVICE_NUMBER: ${{ github.sha }} # Connect all builds together.
        with:
          format: clover
          file: build/logs/clover-wp-ms.xml
          flag-name: php-${{ matrix.php_version }}-wp-${{ matrix.wp_version }}-ms
          parallel: true
