@import "../../style-guide/colors";
@import "../../css/icons";

.yoast-section {
	box-shadow: 0 1px 2px rgba( $color_black, .2 );
	position: relative;
	background-color: $color_white;
	padding: 0 20px 15px;

	&__heading {
		padding: 8px 20px;
		font-size: 0.9rem;
		margin: 0 -20px 15px;
		font-family: "Open Sans", sans-serif;
		font-weight: 300;
		color: $color_grey_dark;

		&-icon {
			padding-left: 44px; // 44 - 20 = 24 for the 8px grid
			background-repeat: no-repeat;
			background-position: left 20px top 0.6em;
			background-size: 16px;

			&-file-text-o {
				background-image: url( svg-icon-file-text-o( $color_headings ) );
			}
		}
	}

	*, & {
		box-sizing: border-box;

		&:before, &:after {
			box-sizing: border-box;
		}
	}
}
